@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,900;1,700&display=swap");
.landing {
  font-family: Raleway;
  color: #320090;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing__container {
  padding: 0.5rem;
  background-image: url("img/home.jpg");
  background-size: 80vh;
  background-position: center;
  width: 24rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing__logo > img {
  width: 11rem;
}
.landing__info {
  margin: 5rem 2rem 2rem 2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}
.landing__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing__button {
  width: 12rem;
  height: 2.2rem;
  font: Raleway;
  font-weight: 100;
  color: #320090;
  font-size: 1.4rem;
  background-color: white;
  border-radius: 0.3rem;
  border: none;
  margin-top: 1.5rem;
  outline: none;
}
.landing__button:hover {
  background-color: #320090;
  color: white;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2px;
  font-family: Raleway;
}
.register__logo {
  text-align: center;
  position: relative;
  top: 1.8rem;
}
.register__logo img {
  width: 11rem;
}
.register__title {
  font-family: Raleway;
  font-weight: 400;
  font-size: 3.4rem;
  margin-bottom: 1.5rem;
}
.register__container {
  padding: 0.5rem;
  background-color: #73f182;
  color: #320090;
  width: 24rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.register__input {
  text-align: center;
}
.register__input-button {
  width: 12rem;
  height: 2.2rem;
  font: Raleway;
  font-weight: 100;
  color: white;
  font-size: 1.4rem;
  background-color: #320090;
  border-radius: 0.3rem;
  border: none;
  margin-top: 1.5rem;
  outline: none;
}
.register__input-button:hover {
  background-color: white;
  color: #320090;
}
.register__input-item {
  width: 20rem;
  height: 2.7rem;
  margin-bottom: 0.9rem;
  border-style: none;
  outline: none;
  font-size: 0.9rem;
  text-indent: 0.7rem;
  color: #320090;
  font-family: Raleway;
  font-weight: 200;
}

.register__goto {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2.4rem;
}
.register__goto-text-landing {
  margin-right: 11rem;
  margin-left: 0.5rem;
  font-weight: 700;
}
.register__goto-text-login {
  margin-right: 0.5rem;
  font-weight: 700;
}
.register__goto-landing {
  width: 2.5rem;
}
.register__goto-login {
  width: 2.5rem;
}

::placeholder {
  color: #320090;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__logo {
  text-align: center;
}
.login__logo img {
  width: 11rem;
}
.login__title {
  font-family: Raleway;
  font-weight: 400;
  font-size: 3.4rem;
  margin-bottom: 1.5rem;
}
.login__container {
  padding: 0.5rem;
  background-color: #73f182;
  color: #320090;
  width: 24rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.login__input {
  text-align: center;
}
.login__input-button {
  width: 12rem;
  height: 2.2rem;
  font: Raleway;
  font-weight: 100;
  color: white;
  font-size: 1.4rem;
  background-color: #320090;
  border-radius: 0.3rem;
  border: none;
  margin-top: 1.5rem;
  outline: none;
}
.login__input-button:hover {
  background-color: white;
  color: #320090;
}
.login__input-item {
  width: 20rem;
  height: 2.7rem;
  margin-bottom: 0.9rem;
  border-style: none;
  outline: none;
  font-size: 0.9rem;
  text-indent: 0.7rem;
  color: #320090;
  font-family: Raleway;
  font-weight: 200;
}

.login__goto {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4.2rem;
}
.login__goto-text-landing {
  font-family: Raleway;
  margin-right: 10rem;
  font-weight: 700;
  margin-left: 0.5rem;
}
.login__goto-text-register {
  font-family: Raleway;
  font-weight: 700;
  margin-right: 0.5rem;
}
.login__goto-landing {
  width: 2.5rem;
}
.login__goto-register {
  width: 2.5rem;
}

::placeholder {
  color: #320090;
}

.player {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  font-family: raleway;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.player-card__item {
  background-color: #73f182;
  margin: 2rem;
  list-style: none;
  height: 330px;
  border: double 2px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.player-card__item:hover {
  -webkit-box-shadow: 2px 3px 5px 0px #e7a61a;
  -moz-box-shadow: 2px 3px 5px 0px #e7a61a;
  box-shadow: 2px 3px 5px 0px #e7a61a;
}
.player-card__player {
  height: auto;
  display: grid;
  height: 50%;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "emblem emblem number number image image image image" "emblem emblem number number image image image image" "name name . . image image image image" "surname surname . . image image image image";
}
.player-card__emblem {
  grid-area: emblem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-card__emblem-item {
  width: 70px;
  height: auto;
  min-width: 60px;
  min-height: 60px;
}
.player-card__number {
  grid-area: number;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0.9rem;
  font-family: raleway;
  font-size: 2.6rem;
  font-weight: 700;
  color: #320090;
}
.player-card__number-item {
  height: 60px;
  text-align: center;
  width: 60px;
  background: #ffffff;
  border-radius: 50%;
}
.player-card__image {
  grid-area: image;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.player-card__image-item {
  max-width: 155px;
  max-height: auto;
}
.player-card__name-first {
  grid-area: name;
  color: #320090;
  display: flex;
  justify-content: start;
  margin-left: 2rem;
  font-family: raleway;
  font-weight: bold 700;
  align-items: flex-end;
}
.player-card__name-surname {
  grid-area: surname;
  color: #320090;
  display: flex;
  justify-content: start;
  margin-left: 2rem;
  font-family: raleway;
  font-weight: bold 700;
}
.player-card__line {
  border: 3px solid #320090;
}
.player-card__info {
  width: 100%;
  height: 110px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30% 30% 30% 10%;
  grid-template-areas: "team team team-answer team-answer team-answer team-answer team-answer . like ." "country country country country-answer country-answer country-answer country-answer . count ." "birth birth birth birth birth-answer birth-answer birth-answer . . ." ". . . . . . . . . .";
}
.player-card__team {
  font-size: 1rem;
  font-weight: 600;
  color: #320090;
  margin-left: 0.8rem;
  margin-top: 0.2rem;
  grid-area: team;
}
.player-card__team-answer {
  grid-area: team-answer;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-left: 0.4rem;
}
.player-card__country {
  font-size: 1rem;
  font-weight: 600;
  color: #320090;
  margin-left: 0.8rem;
  margin-top: 0.2rem;
  grid-area: country;
}
.player-card__country-answer {
  grid-area: country-answer;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}
.player-card__birth {
  font-size: 1rem;
  font-weight: 600;
  color: #320090;
  margin-left: 0.8rem;
  margin-top: 0.2rem;
  grid-area: birth;
}
.player-card__birth-answer {
  grid-area: birth-answer;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}
.player-card__like {
  grid-area: like;
  width: 30px;
  height: 30px;
  justify-self: center;
  margin-top: 0.3rem;
}
.player-card__count {
  grid-area: count;
  justify-self: center;
  font-family: raleway;
  font-weight: 650;
  color: #320090;
}
.player-card__small-line {
  border: 0.6px solid #320090;
}
.player-card__form {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  align-items: center;
  border-radius: 30px;
  flex-shrink: 1;
  flex-grow: 1;
}
.player-card__form-input {
  border-radius: 30px;
  width: 88%;
  height: 25px;
  font-family: raleway;
  border-style: none;
  text-align: justify;
  margin-top: 0.8rem;
  padding-left: 10px;
  opacity: 50%;
  background: #ffffff;
}
.player-card__form-input:focus {
  opacity: 100%;
  text-emphasis: none;
  outline: none;
  user-select: none;
}
.player-card__form-button {
  position: relative;
  right: 2.4rem;
  top: 0.4rem;
  background: 0 0;
  border: 0;
}
.player-card__form-button:hover {
  color: #320090;
  opacity: 60%;
}

.sport-news {
  width: 24rem;
  margin-left: 2px;
}

.sport-news__container {
  width: 24rem;
  height: 100vh;
  border: 1px solid black;
}
.sport-news__container > a {
  display: flex;
  justify-content: center;
}

.sport-news__image {
  width: 90%;
  height: 15vh;
  border: 1px solid black;
}

.navbar {
  margin-left: 2px;
}

.navbar__container {
  width: 24rem;
  height: 16.5vh;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.navbar__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #73f182;
  padding: 0rem 1rem 0rem 1rem;
  height: 6rem;
}

.navbar__links {
  display: flex;
  background-color: #320090;
  justify-content: space-around;
  align-items: center;
}
.navbar__links-item {
  width: 2.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.navbar__user-logo {
  margin-left: 0.8rem;
  width: 11rem;
}

.navbar__user-img {
  margin-right: 0.8rem;
  width: 2.4rem;
}

#navbar__links-news {
  width: 1.9rem;
}

#navbar__links-search {
  background-image: url("img/search.svg");
  background-size: 1.9rem;
  background-repeat: no-repeat;
  background-position: right;
  height: 2.2rem;
  border-radius: 1.1rem;
  border: 0;
  width: 0rem;
  outline-style: none;
  font-size: 1.4rem;
  transition: 1s;
  color: rgba(255, 0, 0, 0);
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

#navbar__links-search:focus {
  transition: 1s;
  width: 14rem;
  color: #320090;
}

.fwitter {
  font-family: Raleway;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fwitter__user {
  margin: 1rem 3rem;
  padding-bottom: 1rem;
  border-bottom: 5px solid #320090;
}
.fwitter__user-item {
  display: flex;
  align-items: center;
}
.fwitter__point {
  background-color: #320090;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.fwitter__user-name {
  margin-left: 0.5rem;
  color: #320090;
  font-size: 1.4rem;
  font-weight: 700;
}
.fwitter__comment {
  margin-top: 1rem;
}
.fwitter__player-name {
  color: #320090;
  font-size: 1rem;
  font-weight: 700;
}
.fwitter__message {
  text-align: justify;
}
.fwitter__date {
  margin: 0.5rem;
  color: #320090;
  font-size: 1rem;
  font-weight: 700;
  text-align: right;
}
.fwitter__card-container {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #320090;
  border-bottom: 1px solid #320090;
}
.fwitter__card {
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  background: green;
}

.update {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.update__logo {
  text-align: center;
}
.update__logo img {
  width: 11rem;
}
.update__title {
  font-family: Raleway;
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.update__container {
  padding: 0.5rem;
  background-color: #73f182;
  color: #320090;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.update__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.update__form-item {
  width: 20rem;
  height: 2.7rem;
  margin-bottom: 0.9rem;
  border-style: none;
  outline: none;
  font-size: 0.9rem;
  text-indent: 0.7rem;
  color: #320090;
  font-family: Raleway;
  font-weight: 200;
}
.update__form-item::placeholder {
  opacity: 50%;
}
.update__form-line {
  border-top: 4px solid #320090;
  width: 40vw;
  margin-bottom: 1rem;
  border-radius: 4px;
}
.update__form-button {
  width: 12rem;
  height: 2.2rem;
  font: Raleway;
  font-weight: 100;
  color: white;
  font-size: 1.4rem;
  background-color: #320090;
  border-radius: 0.3rem;
  border: none;
  margin-top: 1.5rem;
  outline: none;
}
.update__form-button:hover {
  background-color: white;
  color: #320090;
}

.update__goto-text {
  font-family: Raleway;
  font-weight: 700;
  user-select: none;
  outline: none;
}

.dream-team {
  font-family: Raleway;
  margin-top: 10rem;
  margin-left: 10rem;
}
.dream-team__title {
  text-align: center;
  margin-bottom: 5rem;
  color: #320090;
  font-size: 3rem;
}
.dream-team__list > ul {
  margin-top: 5rem;
}
.dream-team__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  height: 10rem;
  background-color: #320090;
  border-radius: 0rem 1.5rem 0rem 1.5rem;
  margin-bottom: 4rem;
  list-style: none;
}
.dream-team__info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.dream-team__info-pos {
  font-size: 3rem;
  background-color: #73f182;
  width: 4rem;
  color: white;
  height: 4rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.dream-team__info-name {
  color: white;
  width: 8rem;
  line-height: 2rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.dream-team__likes-container {
  flex: display;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
  margin-top: 4rem;
}
.dream-team__likes-container-image {
  width: 2.5rem;
}
.dream-team__likes-container-num {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}
.dream-team__image {
  width: 12rem;
  height: 12rem;
  margin-bottom: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
