<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online website by Pau Atienza</title>
    <link rel = 'stylesheet' href='marialunarillos.css' type= 'text/css'>    
</head>
<body>
    <header class = 'header'>
        <img class = 'header__menu' src = 'https://cdn.onlinewebfonts.com/svg/img_90322.png'/>
        <img class = 'header__register' src = 'https://cdn2.iconfinder.com/data/icons/4web-3/139/header-account-image-line-512.png'/>
        <div class = 'header__search'>
            <img class = 'header__search--image' src = 'https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png'/>
        </div>
        <div class = 'header__chart'>
            <img class = 'header__chart--image' src = 'https://cdn4.iconfinder.com/data/icons/ecommerce-line-6/32/shopping-cart-512.png'/>
        </div>
        <div class = 'header__chart--items'>
            <img class = 'header__chart--image' src = 'https://lh3.googleusercontent.com/proxy/4HVUg8B4OiVIc5jaYYylry9h-nxi5EGX6-kCiHm16V3rbNpFDX-DMKaIhjwe1wNSApJmwlyiHo3hfOMYUgBxLZacV7WMF5EUV_Q'/>
        </div>
    </header>

    <main>
        <div class = 'topmenu'>
            <img class = 'topmenu--brandimage' src = 'https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo-small.svg' alt = 'Utensilios de repostería - Comprar fondant online'/>
            <div class = 'topmenu__extras'>
                <div class = 'topmenu__extras1'>
                    <div class = 'topmenu__extras1--image'></div>
                    NOVEDADES
                </div>
                <div class = 'topmenu__extras2'>
                    <div class = 'topmenu__extras2--image'></div>
                    OFERTAS
                </div>
            </div>
        
        </div>
        
        
        <div class = 'menu__changing'>
            <img class = 'menu__changing--image' src = 'https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5d01295f96f37-png/1080X600.png' alt = 'Utensilios de repostería - Comprar fondant online'/>
        </div>

        <section class = 'utensils'>
            <img class = 'utensils--image' src = 'https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png' alt = 'UTENSILIOS'/>
            <h1>UTENSILIOS</h1>
            <div class = 'section'>
                <div class = 'utensils__moulds'>
                    <img class = 'utensils__moulds--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/moldesdereposteria.jpg' alt = 'MOLDES DE REPOSTERÍA'/>
                    <div class = 'utensils__moulds--text'>MOLDES DE REPOSTERÍA</div>
                </div>
                <div class = 'utensils__basic'>
                    <img class = 'utensils__basic--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/utensiliosbasicos.jpg' alt = 'UTENSILIOS BÁSICOS'/>
                    <div class = 'utensils__basic--text'>UTENSILIOS BÁSICOS</div>
                </div>
                <div class = 'utensils__small'>
                    <img class = 'utensils__small--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/pequenoelectrodomestico2.jpg' alt = 'PEQUEÑO ELECTRODOMÉSTICO'/>
                    <div class = 'utensils__small--text'>PEQUEÑO ELECTRODOMÉSTICO</div>
                </div>
            </div>
            <div class = 'section'>
                <div class = 'utensils__capsules'>
                    <img class = 'utensils__capsules--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/capsulas-cupcakes.jpg' alt = 'CÁPSULAS PARA MAGDALENAS'/>
                    <div class = 'utensils__capsules--text'>CÁPSULAS PARA MAGDALENAS</div>
                </div>
                <div class = 'utensils__boxes'>
                    <img class = 'utensils__boxes--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/cajas3.jpg' alt = 'CAJAS Y BASES'/>
                    <div class = 'utensils__boxes--text'>CAJAS Y BASES</div>
                </div>
                <div class = 'utensils__cutters'>
                    <img class = 'utensils__cutters--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/cortadoresgalletas2.jpg' alt = 'CORTADORES DE GALLETAS'/>
                    <div class = 'utensils__cutters--text'>CORTADORES DE GALLETAS</div>
                </div>
            </div>
            <div class = 'section'>
                <div class = 'utensils__ceramics'>
                    <img class = 'utensils__ceramics--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/stands.jpg' alt = 'CERÁMICA Y TEXTIL'/>
                    <div class = 'utensils__ceramics--text'>CERÁMICA Y TEXTIL</div>
                </div>
                <div class = 'utensils__bread'>
                    <img class = 'utensils__bread--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/banetones.jpg' alt = 'BANETONES PARA PAN'/>
                    <div class = 'utensils__bread--text'>BANETONES PARA PAN</div>
                </div>
                <div class = 'utensils__toppers'>
                    <img class = 'utensils__toppers--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/toppers3.jpg' alt = 'TOPPERS Y FIGURITAS'/>
                    <div class = 'utensils__toppers--text'>TOPPERS Y FIGURITAS</div>
                </div>
            </div>
            <button class = 'menubutton'>VER MÁS</button>
        </section>

        <section class = 'ingredients'>
            <img class = 'ingredients--image' src = 'https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png' alt = 'INGREDIENTES'/>
            <h1>INGREDIENTES</h1>
            <div class = 'section'>
                <div class = 'ingredients__fondant'>
                    <img class = 'ingredients__fondant--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/fondant2.jpg' alt = 'FONDANT'/>
                    <div class = 'ingredients__fondant--text'>FONDANT</div>
                </div>
                <div class = 'ingredients__reposteria'>
                    <img class = 'ingredients__reposteria--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/ingredientesreposteria.jpg' alt = 'INGREDIENTES DE REPOSTERÍA'/>
                    <div class = 'ingredients__reposteria--text'>INGREDIENTES DE REPOSTERÍA</div>
                </div>
                <div class = 'ingredients__printing'>
                    <img class = 'ingredients__printing--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/impresionpersonalizada.jpg' alt = 'IMPRESIÓN PERSONALIZADA'/>
                    <div class = 'ingredients__printing--text'>IMPRESIÓN PERSONALIZADA</div>
                </div>
            </div>
            <div class = 'section'>
                <div class = 'ingredients__colors'>
                    <img class = 'ingredients__colors--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/Colorantes-alimentarios.jpg' alt = 'COLORANTES ALIMENTARIOS'/>
                    <div class = 'ingredients__colors--text'>COLORANTES ALIMENTARIOS</div>
                </div>
                <div class = 'ingredients__paper'>
                    <img class = 'ingredients__paper--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/papelcomestible.jpg' alt = 'PAPEL COMESTIBLE'/>
                    <div class = 'ingredients__paper--text'>PAPEL COMESTIBLE</div>
                </div>
                <div class = 'ingredients__sprinkles'>
                    <img class = 'ingredients__sprinkles--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/sprinkles3.jpg' alt = 'SPRINKLES Y PURPURINAS'/>
                    <div class = 'ingredients__sprinkles--text'>SPRINKLES Y PURPURINAS</div>
                </div>
            </div>
            <button class = 'menubutton'>VER MÁS</button>
        </section>

        <section class = 'parties'>
            <img class = 'parties--image' src = 'https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png' alt = 'FIESTAS'/>
            <h1>FIESTAS</h1>
            <div class = 'section'>
                <div class = 'parties__themed'>
                    <img class = 'parties__themed--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/fiestastematicas.jpg' alt = 'FIESTAS TEMÁTICAS'/>
                    <div class = 'parties__themed--text'>FIESTAS TEMÁTICAS</div>
                </div>
                <div class = 'parties__character'>
                    <img class = 'parties__character--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/fiestaspersonajes.jpg' alt = 'FIESTAS PERSONAJES'/>
                    <div class = 'parties__character--text'>FIESTAS PERSONAJES</div>
                </div>
                <div class = 'parties__accessories'>
                    <img class = 'parties__accessories--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/pompones.jpg' alt = 'ACCESORIOS PARA FIESTAS'/>
                    <div class = 'parties__accessories--text'>ACCESORIOS PARA FIESTAS</div>
                </div>
            </div>
            <button class = 'menubutton'>VER MÁS</button>
        </section>
        <section class = 'blog'>
            <img class = 'blog--image' src = 'https://static3.marialunarillos.com/media/wysiwyg/blog.svg' alt = 'BLOG'/>
            <h1>BLOG</h1>
            <button class = 'blog__top--button'>ÚLTIMAS ENTRADAS EN EL BLOG</button>
            <div class = 'blog__entries'>
                <div class = 'blog__entry1'>
                    <img class = 'blog__entry1--image' src = 'https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-galletas-pims-naranja-1.jpg'/>
                    <h2>GALLETAS PIM'S DE NARANJA</h2>
                    <div class = 'blog__entry1--author'> 
                        <img class = 'blog__entry1--authorimage'src = 'https://www.marialunarillos.com/blog/wp-content/uploads/userphoto/17.thumbnail.jpg'/>
                        <p>por RAÚL</p>
                    </div>
                    

                </div>
            </div>
            <button class = 'menubutton'>IR AL BLOG</button>
        </section>
    </main>
    <side class = 'chat'>
        <img src = ''>
        <p>Contáctanos</p>
    </side>
    <footer class = 'footer'>
        <section class = 'footer__delivery'>
            <div class = 'footer__delivery__price'>
                <div class = 'footer__delivery__price--image' alt = 'Envío gratis'></div>
                <H3>ENVÍO GRATIS</H3>
                <h4>PEDIDOS SUPERIORES A 70€</h4>
            </div>
            <div class = 'footer__delivery__time'>
                <div class = 'footer__delivery__time--image'  alt = 'Envío 24-48h'></div>
                <H3>ENVÍO 24-48 HORAS</H3>
                <h4>HAZ TU PEDIDO ANTES DE LAS 18:00H</h4>
            </div>
            <div class = 'footer__delivery__return'>
                <div class = 'footer__delivery__return--image'  alt = 'Devoluciones'></div>
                <H3>DEVOLUCIONES</H3>
                <h4>30 DÍAS PARA DEVOLVER TU COMPRA</h4>
            </div>
            <div class = 'footer__delivery__card'>
                <div class = 'footer__delivery__card--image'  alt = 'Contra reembolso'></div>
                <H3>CONTRA REEMBOLSO</H3>
                <h4>SIN COMISIÓN</h4>
            </div>
        </section>
        <section class = 'footer__contact'>
            <div class = 'footer__contact__social'>
                <h3>SÍGUENOS</h3>
                <div class = 'footer__contact__social--images'>
                    <div class = 'footer__contact__social--facebook'>
                        <div alt = 'Facebook María Lunarillos'></div>
                    </div>
                    <div class = 'footer__contact__social--twitter'>
                        <div alt = 'Twitter María Lunarillos'></div>
                    </div>
                    <div class = 'footer__contact__social--instagram'>
                        <div alt = 'Instagram María Lunarillos'></div>
                    </div>
                    <div class = 'footer__contact__social--pinterest'>
                        <div alt = 'Pinterest María Lunarillos'></div>
                    </div>
                    <div class = 'footer__contact__social--youtube'>
                        <div alt = 'Youtube María Lunarillos'></div>
                    </div>
                </div>    
            </div>
            <div class = 'footer__contact__subscribe'>
                <label for = 'email'><h3>RECIBE LAS NOVEDADES EN TU E-MAIL</h3></label>
                <input class = 'footer__contact__subscribe--input'type ='email' name = 'email'>
                <div class = 'footer__contact__subscribe--checkbox'>
                    <input type ='checkbox' name = 'checkbox'>
                    <label for = 'email'><h3>Acepto la <a href =>política de privacidad</a></h3></label>    
                </div>
                <button class = 'blog__top--button'>SUSCRÍBETE</button>

            </div>
            <div class = 'footer__contact__others'>
                <div class = 'footer__contact__others--mail'>
                    <div class = 'footer__contact__others--mailimage'></div>
                    <h5>CONTACTO</h5>
                </div>
                <div class = 'footer__contact__others--aboutus'>
                    <div class = 'footer__contact__others--aboutusimage'></div>
                    <h5>SOBRE NOSOTROS</h5>
                </div>
                <div class = 'footer__contact__others--conditions'>
                    <div class = 'footer__contact__others--conditionsimage'></div>
                    <h5>CONDICIONES DE VENTA</h5>
                </div>
            </div>
            <div class = 'footer__copyright'>Copyright ©María Lunarillos</div>
        </section>
    </footer>
    
</body>
</html>