<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Maria Lunarillos</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
                <nav class='navbar'>
                    <div class="navbar__item navbar__item--orange"></div>
                    <div class="navbar__item"><img src="https://img.icons8.com/dotty/28/000000/add-user-male.png" /></div>
                    <div class="navbar__item navbar__item--translucent">🔍</div>
                    <div class="navbar__item" ><img src="https://img.icons8.com/ios/28/000000/add-shopping-cart.png" /></div>
                    <div class="navbar__item navbar__item--orange"></div>
                </nav>
        </header>
        <section>
            <div class="carrosel"></div>
            <div class="container">
                <section class="container__icon"></section>
                <section class="container__title">
                    <h4>UTENSILS</h4>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">PASTRY</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">TOOLS</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">HOUSEHOLD</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">CUPCAKES</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">BOXES</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">COOKIE</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">CERAMIC</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">BREADS</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">TOPPERS</div>
                </section>
                <section class="container__item">
                    <div class="btn">
                        <button>SEE MORE</button>
                    </div>
                </section>
            </div>
            <div class="container">
                <section class="container__icon"></section>
                <section class="container__title">
                    <h4>INGREDIENTS</h4>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">FONDANT</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">PASTRY</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">CUSTOM</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">FOOD</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">PAPER</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">SPRINKLES</div>
                </section>
                <section>
                    <div class="btn">
                        <button>SEE MORE</button>
                    </div>
                </section>
            </div>
            <div class="container">
                <section class="container__icon"></section>
                <section class="container__title">
                    <h4>PARTIES</h4>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">COOKIES</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">CHARACTERS</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">ACCESSORIES</div>
                </section>
                <section>
                    <div class="btn">
                        <button>SEE MORE</button>
                    </div>
                </section>
            </div>
            <div id="blog" class="container">
                <section class="container__icon"></section>
                <section class="container__title">
                    <h4>BLOG</h4>
                </section>
                <section>
                    <div class="btn">
                        <button>LATEST BLOG POSTS</button>
                    </div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">COOKIES</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">MUFFINS</div>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                    <div class="container__description">FARINOSA</div>
                </section>
                <section>
                    <div class="btn">
                        <button>GO TO BLOG</button>
                    </div>
                </section>
            </div>
            <div class="container brands">
                <section class="container__title">
                    <h4>OUR BRANDS</h4>
                </section>
                <section class="container__item">
                    <div class="container__imagen"></div>
                </section>
                <section>
                    <div class="btn">
                        <button>SEE MORE</button>
                    </div>
                </section>
            </div>
        </section>

        <footer>
            <section class="footer">
                <div class="footer__info"></div>
                <div class="footer__table"></div>
            </section>
        </footer>
        <section class="copyright">
            Copyright &copy;2020 Juan Omen
        </section>
    </body>
</html>