.register
    @extend %panel

    color: #5B2C6F
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100vw
    height: 100vh

    &__input
        display: flex
        flex-direction: column

    &__logo
        width: 50%
        margin-bottom: 1.5rem

    &__checkbox
        text-align: start
        margin-bottom: 1rem
        font-size: 0.7rem
    
    &__nav-button
        display: flex


    &__button
        background-color:#5B2C6F
        color: white
        font-size: 0.7rem
        padding: 0.3rem
        border-radius: 10px
    
    &__country
        display: flex
        border-radius: 0
        margin-bottom: 1rem

    input
        margin-bottom: 1rem

    // input:hover 
    //     background-color: #5B2C6F
    //     color: white

    h1
        margin-bottom: 1.5rem

    a
        text-decoration: none

        &:visited
            color: #5B2C6F
    
