.news
    
    @extend %panel
    &__images
        width: 100vw
        max-height: 220px
        margin: 0
        padding: 0

    &__container
        list-style: none
        margin: 0
        padding: 0

    &__item
        position: relative
        text-align: start
        text-decoration: none
        width: 100vw
        height: 220px

    &__title
        position: absolute
        top: 0.1rem
        left: 0px
        font-size: 4vw
        background-color: hsla(204, 5%, 67%, 0.7)
        color: white
        width: 100%

    &__button
        position: absolute
        bottom: 0.5rem
        right: 0.5rem

    &__followIMG
        width: 70px
        height: 70px
    

@media screen and ( min-width: 768px )  
    .news
        &__container
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(10, 1fr)
            justify-content: none
            align-items: none
            
        &__followIMG
            width: 120px
            height: 120px

@media screen and ( min-width: 1024px )  
    .news
        &__container
            display: grid
            grid-template-columns: repeat(4, 1fr)
            grid-template-rows: repeat(5, 1fr)
            justify-content: none
            align-items: none
        // &__images
           // width: 100vw
           // max-height: 660px 

    

    // &__button
    //     position: absolute
    //     // bottom: 0.1rem
    //     right: 0.1rem
// .stroke
//     -webkit-text-fill-color: black
//     -webkit-text-stroke: 1px white
//     color: white


        