.news
    @extend %panel

    &__images
        width: 100vw
        margin: 0
        padding: 0
        max-height: 220px

    &__container
        list-style: none
        margin: 0
        padding: 0

    &__item
        position: relative
        text-align: start
        text-decoration: none

    &__title
        position: absolute
        bottom: 0.1rem
        left: 0
        font-size: 4vw
        padding: 0.5rem
        background-color: hsla(204, 5%, 67%, 0.8)
        color: white
        width: 100%

// .stroke
//     -webkit-text-fill-color: black
//     -webkit-text-stroke: 1px white
//     color: white


        