<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./img/icon.png" />

    <title>Programming school. Development courses</title>
</head>
<body>

    <header class="header">
        <img src="./img/skylablogo.png" alt="" class="header__logo">
        <div class="header__buttons">
            <span class="header__buttons__lang">EN</span>
            <span class="header__buttons__menu">X</span>
        </div>
        <nav class="header__nav">
            <input type="text" name="" id="">
            <ul>
                <li>HOME</li>
                <li>COURSES</li>
                <li>FACULTY</li>
                <li>FACULTY</li>
                <li>WHY CODE?</li>
                <li>COMPANIES</li>
                <li>COMMUNITY</li>
                    <button>CONTACT</button>
                </li>

            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero__top">
            <div class="hero__top__text">
                <span>Learn to code</span>
                <br>
                <span>in 11 weeks</span>
                <br>
                <span>and find a job |</span>    
            </div>
            
            <div  class="hero__top__imgcontainer">
                <img class="hero__top__imgcontainer__img" src="./img/bestbootcamp.png" alt="">
            </div>
        </div>

        <button class="hero__top__button">DISCOVER OUR COURSES</button>

        <div class="hero__bottom">
            <p>
                We offer coding courses where you learn web and mobile applications development.
                We help you to learn Github + HTML + CSS + Javascript + TDD + ReactJS + NodeJS + MongoDB to find a job.
            </p>
        </div>
    </section>

    <section class="statistics">
        <h1>In Skylab we do not just teach you programming, we make you programmer</h1>
        
       <div class="statistics__items">
           
           <div class="statistics__item">
               <h2>96%</h2>
               <span>get a web</span>
               <span>development job</span>
            </div>
            
            <div class="statistics__item">
                <h2>30,52 days</h2>
                <span>is the average time</span>
                <span>to find a job</span>
            </div>
            
            <div class="statistics__item">
                <h2>€ 22.754</h2>
                <span>average first salary</span>
                <span>of our students in 2018</span>
            </div>

        </div>

        <button class="statistics__button">LEARN HOW TO DO IT</button>
    </section>

    <section class="companies">
        <img src="./img/habitaclia.png" alt="">
        <p>We connect you with your next job</p>
        <button class="companies__button">COMPANIES AROUND SKYLAB</button>
        <img src="./img/edreams.png" alt="">
    </section>

    <section class="us">
        <h2>WHO WE ARE</h2>
        <p class="us__text">
            SKYLAB is an initiative of a network of professionals with more than 20 years of experience in the online sector. Our Dean, David Monreal has worked for 12 years in InfoJobs with business and product development responsibilities. He has the support of a Board of Counselors made up of professionals with over 25 years in the industry to ensure that our training programs are tailored to the needs of the market.
        </p>
        <button class="us__button">KNOW US</button>
    </section>

    <section class="information">
        <div class="information__container">
            <div class="information__words">
                <h3>Intensity and specialization</h3>
                <p class="information__words__text">Learn in just 11 weeks everything you need to specialize in Javascript and start your career as a web developer.</p>
            </div>
            
            <div class="information__words">
                <h3>Experienced teachers</h3>
                <p class="information__words__text">All our teachers are developers who have worked with important technology companies and have a great experience in training.</p>
            </div>
            
            <div class="information__words">
                <h3>Focused on the labor market</h3>
                <p class="information__words__text">Our methodology instills you in thinking like a web developer and teaches you software engineering principles in a practical way.</p>
            </div>
        </div>
    </section>

    <footer class="contact">

        <div class="contact__direction">
            <h3>SKYLAB CODERS ACADEMY</h3>
            <span>Roc Boronat 35 - 08005 Barcelona</span>
            <span>+34 93 176 0220</span>
            <span>info@skylabcoders.com</span>
        </div>

        <div class="contact__container">
            <ul class="contact__menu">
                <li class="contact__menu__item">HOME</li>
                <li class="contact__menu__item">COURSES</li>
                <li class="contact__menu__item">FACULTY</li>
                <li class="contact__menu__item">FACULTY</li>
                <li class="contact__menu__item">COMPANIES</li>
                <li class="contact__menu__item">COMMUNITY</li>   
            </ul>
            
            <div class="contact__logos">
                <button class="contact__logos__buttons">F</button>
                <button class="contact__logos__buttons">T</button>
                <button class="contact__logos__buttons">i</button>
                <button class="contact__logos__buttons">I</button>
            </div>
        </div>    
    </footer>
    
</body>
</html>

