<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptomiser</title>
</head>
<body>
    <section class='navbar'>
            <a href = '' class = 'navbar__link'>Your Symptom List</a>
            <a href = '' class = 'navbar__link'>New Search</a>
            <a href = '' class = 'navbar__link'>About the Symptomiser</a>
    </section>

    <section class='landing'>
        <form class = 'landing__form'>
            <input name = 'query'>
        </form>
        <div class='landing__nav'>
            <a href = '' class = 'navbar__link'>Your Symptom List</a>
            <a href = '' class = 'navbar__link'>About the Symptomiser</a>
        </div>
    </section>

    <section class='symptom'>
        <header class='symptom__top'>
            <a href = '' class = 'symptom__term'>Abnormal nervous system physiology</a>
        </header>
        <main class='symptom__main'>
            <div class='symptom__main--name'>Headache</div>
            <div class='symptom__main--code'>HP:0002315</div>
            <div class='symptom__main--definition'> Cephalgia, or pain sensed in various parts of the head, not confined to the area of distribution of any nerve.</div>
            <a href = '' class = 'symptom__term'>That's it.</a>
        </main>
        <footer class='symptom__bottom'>
            <p>More specific terms: if possible, try to aim for one of these.</p>
            <a href = '' class = 'symptom__term'>Migrane</a>
            <a href = '' class = 'symptom__term'>Recurrent paroxysmal headache</a>
            <a href = '' class = 'symptom__term'>Hypnic headache</a>
            <a href = '' class = 'symptom__term'>Thunderclap headache</a>
            <a href = '' class = 'symptom__term'>Cluster Headache</a>
            <a href = '' class = 'symptom__term'>Occipital neuralgia</a>
            <a href = '' class = 'symptom__term'>Tension-type headache</a>
        </footer>
    </section>

    <section class='list'>
        <h1>Submitted symptoms</h1>
        <article class = 'list__symptom'>
            <form >
                <label for = 'name'>Symptom:</label>
                <input  name = 'name' class = 'list__symptom--name' value = 'Name and code of the symptom'>
                <label for = 'modifiers'>Modifiers:</label>
                <input  name = 'modifiers' class = 'list__symptom--modifiers' value = 'Name and code of the modifiers'>
            </form>
        </article>
    </section>

    <section class='about'>
        <h1>About the Symptomiser</h1>
        <p>Description of the Symtomiser</p>
        <a href = '' class = 'about__link'>HPO</a>
        <a href = '' class = 'about__link'>Share4Rare</a>
        <a href = '' class = 'about__link'>Pau Atienza</a>
        <a href = '' class = 'about__link'>HPO</a>
    </section>
</body>
</html>