<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates-Grid</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="grid-container">
        <div class="one">1</div>
        <div class="two">2</div>
        <div class="three">3</div>
        <div class="four">4</div>
        <div class="five">5</div>
        <div class="six">6</div>
        <div class="seven">7</div>
        <div class="eight">8</div>
        <div class="nine">9</div>
    </div>
</body>

</html>
<!-- from develop create branch feature/templates`
locate files in folder staff/<name>/templates
create template mozaic (in folder staff/<name>/templates/mozaic)
create files: index.html, style.css
mount the following layouts (mobile first)
1) mobile version: all squares inline (column), with scroll

1 (fixed optional)
-----
2 | 3
-----
4 | 5
-----
6 | 7
----
8 | 9

2) tablet version

1  |  2 | 3
--------
4 | 5 | 6
--------
7 | 8 | 9

3) desktop version

1
----------- 
2  |  3  | 4
-----------
5 | 6 | 7 | 8
-----------
9 (optional fixed) -->