<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<section class="wrap">
    <nav class="toplinks">
            <ul class="toplinks__group1">
                <li class="toplinks__group1-item">IMG1</li>
                <li class="toplinks__group1-item">IMG2</li>
                <li class="toplinks__group1-item">IMG3</li>
            </ul>
            <ul class="toplinks__group2">
                <li class="toplinks__group2-enter">ENTRA/REGISTRATE</li>
                <li class="toplinks__group2-twiter">twiter</li>
                <li class="toplinks__group2-insta">instagram</li>
                <li class="toplinks__group2-youtube">youtube</li>
                <li class="toplinks__group2-user">user</li>
                <li class="toplinks__group2-basket">basket</li>
            </ul>
    </nav>
    <header class="header">
        <div class="header__lunarillos"><img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo.svg" alt="Utensilios de repostería" class="header__lunarillos-img"></div>
        <div class="header__search">
            <div class="header__search-news">novedades</div>
            <div class="header__search-offer">ofertas</div>
            <input class="header__search-input">
            <div class="header__search-serch">B</div>
        </div>
        <div class="header__articles">
            <div class="header__articles-utensils"><img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png" class="header__articles-img"><span>Utensilios</span></img></div>
            <div class="header__articles-ingredients"><img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png" class="header__articles-img"><span>Ingredientes</span></img></div>
            <div class="header__articles-party"><img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png" class="header__articles-img"><span>Fiestas</span></img></div>
            <div class="header__articles-marc"><img src="https://lh3.googleusercontent.com/proxy/gVwyMHbaasi7CkMKu0ypUU0q9bpHBQixcKUYQTZO6ZCwUIjKV021mZXQR-ZGsjt1Wen8BTE-sPt9XPtPAtkCfliFzML-HborfDkmtdkhfkB6ENbA0S4Cg5CZzVn8-lhN1DSp0h0" class="header__articles-img"><span>Marcas</span></img></div>
            <div class="header__articles-blog"><img src="https://static3.marialunarillos.com/media/wysiwyg/blog.svg"  class="header__articles-img"><span>Blog</span></img></div>
        </div>
    </header>
    <main class="main">

        <section class="main__category">
            <div class="main__category-header">
                <img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png" alt="Utensilios" class="main__category-header-img">
                <p class="main__category-header-title">UTENSILIOS</p>
            </div>
            <div class="main__category-article">
                <div class="main__category-article-basicuten"><img src="https://static3.marialunarillos.com/media/wysiwyg/utensiliosbasicos.jpg" alt="UTENSILIOS BÁSICOS" class=main__category-article-basicuten-img></div>
                <div class="main__category-article-pastrymolds"><img src="https://static3.marialunarillos.com/media/wysiwyg/moldesdereposteria.jpg" alt="MOLDES DE REPOSTERÍA" class="main__category-article-pastrymolds-img"></div>
                <div class="main__category-article-smallelectro"><img src="https://static3.marialunarillos.com/media/wysiwyg/pequenoelectrodomestico2.jpg" alt="PEQUEÑO ELECTRODOMÉSTICO" class="main__category-article-smallelectro-img"></div>
            </div>
            <div class="main__category-article">
                <div class="main__category-article-cupcakecapsule"><img src="https://static3.marialunarillos.com/media/wysiwyg/capsulas-cupcakes.jpg" alt="CÁPSULAS PARA MAGDALENAS" class="main__category-article-cupcakecapsule-img"></div>
                <div class="main__category-article-boxesbases"><img src="https://static3.marialunarillos.com/media/wysiwyg/cajas3.jpg" alt="CAJAS Y BASES" class="main__category-article-boxesbases-img"></div>
                <div class="main__category-article-cookiecut"><img src="https://static3.marialunarillos.com/media/wysiwyg/cortadoresgalletas2.jpg" alt="CORTADORES DE GALLETAS" class="main__category-article-cookiecut-img"></div>
            </div>
            <div class="main__category-article">
                <div class="main__category-article-ceramics"><img src="https://static3.marialunarillos.com/media/wysiwyg/stands.jpg" alt="CERÁMICA Y TEXTIL" class="main__category-article-ceramics-img"></div>
                <div class="main__category-article-bread"><img src="https://static3.marialunarillos.com/media/wysiwyg/banetones.jpg" alt="BANETONES PARA PAN" class="main__category-article-bread-img"></div>
                <div class="main__category-article-toppers"><img src="https://static3.marialunarillos.com/media/wysiwyg/toppers3.jpg" alt="TOPPERS Y FIGURITAS" class="main__category-article-toppers-img"></div>
            </div>
           </section>
        
      
       <section class="main__category">
            <div class="main__category-header">
                <img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png" alt="Ingredientes" class="main__category-header-img">
                <p class="main__category-header-title">INGREDIENTES</p>
            </div>
            <div class="main__category-article">
                <div class="main__category-article-fondant"><img src="https://static3.marialunarillos.com/media/wysiwyg/fondant2.jpg" alt="FONDANT" class="main__category-article-fondant-img"></div>
                <div class="main__category-article-ingredients"><img src="https://static3.marialunarillos.com/media/wysiwyg/ingredientesreposteria.jpg" alt="INGREDIENTES DE REPOSTERÍA" class="main__category-article-ingredients-img"></div>
                <div class="main__category-article-print"><img src="https://static3.marialunarillos.com/media/wysiwyg/impresionpersonalizada.jpg" alt="IMPRESIÓN PERSONALIZADA" class="main__category-article-print-img"></div>
            </div>
             
            
            <div class="main__category-article">
                <div class="main__category-article-dyes"><img src="https://static3.marialunarillos.com/media/wysiwyg/Colorantes-alimentarios.jpg" alt="COLORANTES ALIMENTARIOS" class="main__category-article-dyes-img"></div>
                <div class="main__category-article-paper"><img src="https://static3.marialunarillos.com/media/wysiwyg/papelcomestible.jpg" alt="PAPEL COMESTIBLE" class="main__category-article-paper-img"></div>
                <div class="main__category-article-sprinkles"><img src="https://static3.marialunarillos.com/media/wysiwyg/sprinkles3.jpg" alt="SPRINKLES Y PURPURINAS" class="main__category-article-sprinkles-img"></div>
            </div>
        </section>
     
        <section class="main__category">
            <div class="main__category-header">
                <img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png" alt="Fiestas" class="main__category-header-img">
                <p class="main__category-header-title">FIESTA</p>
            </div>
            <div class="main__category-article">
                <div class="main__category-article-tematic"><img src="https://static3.marialunarillos.com/media/wysiwyg/fiestastematicas.jpg" alt="FIESTAS TEMÁTICAS" class="main__category-article-tematic-img"></div>
                <div class="main__category-article-partypersons"><img src="https://static3.marialunarillos.com/media/wysiwyg/fiestaspersonajes.jpg" alt="FIESTAS PERSONAJES" class="main__category-article-partypersons-img"></div>
                <div class="main__category-article-accessory"><img src="https://static3.marialunarillos.com/media/wysiwyg/pompones.jpg" alt="ACCESORIOS PARA FIESTAS" class="main__category-article-accessory-img"></div>
            </div>
         </section>
        <section class="main__category">
            <div class="main__category-header">
                <img src="https://static3.marialunarillos.com/media/wysiwyg/blog.svg" alt="Blog" class="main__category-header-img">
                <p class="main__category-header-title">BLOG</p>
            </div>
            <div class="main__category-article">
                <div class="main__category-article-orangepim"><img src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-galletas-pims-naranja-1.jpg"  alt="Galletas Pim's de naranja" class="main__category-article-orangepim-img"></div>
                <div class="main__category-article-breadmilk"><img src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-panecillos-leche-0.jpg" title="Panecillos de leche" alt="Panecillos de leche" class="main__category-article-breadmilk-img"></div>
                <div class="main__category-article-angelair"><img src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-farinosa-cabello-angel-1.jpg" title="Farinosa de cabello de ángel" alt="Farinosa de cabello de ángel" class="main__category-article-angelair-img"></div>
            </div>
         </section> 
    </main>
    <footer class="footer">
        <div class="footer__freesend"><img src="https://image.flaticon.com/icons/svg/2563/2563885.svg" class="footer__freesend-img"><span>Envio gratuito</span></div>
        <div class="footer__sendhour"><img src="https://image.flaticon.com/icons/svg/2563/2563885.svg" class="footer__sendhour-img"><span>Envio en 24-48 horas </span></div>
        <div class="footer__devolution"><img src="https://image.flaticon.com/icons/svg/2563/2563885.svg" class="footer__devolution-img"><span>Devoluciones</span></div>
        <div class="footer__reimbursement"><img src="https://image.flaticon.com/icons/svg/2563/2563885.svg" class="footer__reimbursement-img"><span>Contra reenbolso</span></div>
   </footer> 
</section>
</body>
</html>