<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rubik's Responsive Mosaic</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="container">
      <div class="tile 1"><p>&#127770</p></div>
      <div class="tile 2"><p>&#127762</p></div>
      <div class="tile 3"><p>&#127763</p></div>
      <div class="tile 4"><p>&#127764</p></div>
      <div class="tile 5"><p>&#127773</p></div>
      <div class="tile 6"><p>&#127766</p></div>
      <div class="tile 7"><p>&#127767</p></div>
      <div class="tile 8"><p>&#127768</p></div>
      <div class="tile 9"><p>&#127770</p></div>
    </section>
  </body>
</html>
