@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px&display=swap");
.search, .pages, .news, .home, .login, .register, .landing {
  font-family: "Montserrat", serif;
}

.landing {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.landing__navigation {
  display: flex;
  letter-spacing: 0.2em;
  justify-content: space-around;
  margin-left: 5rem;
  margin-right: 5rem;
}
.landing__image {
  width: 100%;
}
.landing a {
  text-decoration: none;
  background-color: #5B2C6F;
  border-radius: 10px;
  font-size: 3vw;
  padding: 0.5rem;
  width: 120px;
}
.landing a:visited {
  color: white;
}

.landing {
  align-items: center;
  justify-content: space-evenly;
}
.landing__image {
  max-width: 768px;
}
.landing a {
  max-width: 100px;
  margin: 10px;
  width: 120px;
  font-size: 20px;
}

.landing {
  maralign-items: center;
  justify-content: space-evenly;
}
.landing__image {
  max-width: 768px;
}
.landing a {
  max-width: 150px;
  font-size: 20px;
  margin: 10px;
  width: 120px;
}

.register {
  color: #5B2C6F;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 0.7rem;
}
.register__input {
  display: flex;
  flex-direction: column;
}
.register__logo {
  width: 50%;
}
.register__checkbox {
  text-align: start;
  margin-bottom: 1rem;
  font-size: 0.7rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.register__nav-button {
  display: flex;
}
.register__button {
  background-color: #5B2C6F;
  color: white;
  border-radius: 10px;
  font-size: 3vw;
  padding: 0.5rem;
  width: 15vw;
}
.register__country {
  display: flex;
  border-radius: 0;
  margin-bottom: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.register input {
  margin-bottom: 1rem;
}
.register input[type=text], .register input[type=email], .register input[type=password] {
  border: 0.05rem solid #A6ACAF;
  border-radius: 5px;
  width: 80%;
  padding: 0.3rem;
  margin-left: auto;
  margin-right: auto;
}
.register h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.register a {
  text-decoration: none;
  background-color: #5B2C6F;
  color: white;
  border-radius: 10px;
  font-size: 3vw;
  padding: 0.5rem;
}
.register a:visited {
  color: white;
}
.register__country {
  overflow: auto;
}

.register {
  align-items: center;
  justify-content: space-evenly;
}
.register__logo {
  max-width: 168px;
  width: 168px;
}
.register a {
  max-width: 100px;
  margin: 10px;
  width: 120px;
  font-size: 20px;
}
.register button {
  max-width: 100px;
  margin: 10px;
  width: 120px;
  font-size: 20px;
}

.register {
  maralign-items: center;
  justify-content: space-evenly;
}
.register__logo {
  max-width: 168px;
  width: 168px;
}
.register a {
  max-width: 150px;
  font-size: 20px;
  margin: 10px;
  width: 120px;
}
.register button {
  max-width: 150px;
  font-size: 20px;
  margin: 10px;
  width: 120px;
}

.login {
  color: #5B2C6F;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 0.7rem;
}
.login__button {
  background-color: #5B2C6F;
  color: white;
  border-radius: 10px;
  font-size: 3vw;
  padding: 0.5rem;
  width: 15vw;
}
.login__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.login__logo {
  width: 50%;
  margin-bottom: 1.5rem;
}
.login input {
  margin-bottom: 1.5rem;
  border: 0.05rem solid #A6ACAF;
  border-radius: 5px;
  width: 100%;
  padding: 0.3rem;
  align-self: center;
}
.login h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.login a {
  text-decoration: none;
  background-color: #5B2C6F;
  color: white;
  border-radius: 10px;
  font-size: 3vw;
  padding: 0.5rem;
}
.login a:visited {
  color: white;
}

.register {
  align-items: center;
  justify-content: space-evenly;
}
.register__logo {
  max-width: 168px;
  width: 168px;
}
.register a {
  max-width: 100px;
  margin: 10px;
  width: 120px;
  font-size: 20px;
}
.register button {
  max-width: 100px;
  margin: 10px;
  width: 120px;
  font-size: 20px;
}

.login {
  maralign-items: center;
  justify-content: space-evenly;
}
.login__logo {
  max-width: 168px;
  width: 168px;
}
.login a {
  max-width: 150px;
  font-size: 20px;
  margin: 10px;
  width: 120px;
}
.login button {
  max-width: 150px;
  font-size: 20px;
  margin: 10px;
  width: 120px;
}

.home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__nav-bar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 40px;
  width: 100vw;
  margin-bottom: 1rem;
}
.home__logo {
  width: 30%;
}
.home__user-name {
  font-size: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a67bb8;
  color: white;
  border: 0.1rem solid #5B2C6F;
}
.home__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 70%;
  border: 0.1rem solid #5B2C6F;
}
.home__link--active {
  background-color: #5B2C6F;
  color: white;
}
.home__logout {
  background-color: #5B2C6F;
  width: 100%;
}

.news__images {
  height: 100%;
  margin: 5px;
  padding: 0;
  width: 100vw;
}
.news__container {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.news__item {
  position: relative;
  text-align: start;
  text-decoration: none;
  width: 100vw;
  height: 220px;
}
.news__title {
  position: absolute;
  top: 0.1rem;
  left: 0px;
  font-size: 4vw;
  background-color: rgba(167, 172, 175, 0.7);
  color: white;
}
.news__button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
.news__followIMG {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .news__images {
    width: 50vw;
  }
  .news__item {
    width: 50vw;
    height: 300px;
  }
  .news__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    justify-content: none;
    align-items: none;
  }
  .news__followIMG {
    width: 120px;
    height: 120px;
  }
  .news__title {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1024px) {
  .news__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: none;
    align-items: none;
  }
  .news__images {
    width: 25vw;
  }
  .news__item {
    width: 25vw;
    height: 250px;
  }
  .news__title {
    font-size: 2vw;
  }
  .news__followIMG {
    width: 70px;
    height: 70px;
  }
}
.news {
  width: 100vw;
}
.news__images {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}
.news__container {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.news__items {
  position: relative;
  text-align: start;
  text-decoration: none;
  width: 100vw;
}
.news__followIMG {
  width: 70px;
  height: 70px;
  border: 0;
}
.news__title {
  width: 100%;
  height: 80px;
  font-size: 1rem;
}
.news__title > * {
  padding: 0.5rem;
}
.news__fav {
  font-size: 1rem;
  border-bottom: 1px solid #5B2C6F;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  color: #5B2C6F;
}

@media screen and (min-width: 768px) {
  .news__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(25vw, 1fr));
    justify-content: none;
    align-items: none;
  }
  .news__images {
    width: 50vw;
  }
  .news__items {
    width: 50vw;
  }
  .news__title {
    height: 120px;
  }
}
@media screen and (min-width: 1024px) {
  .news__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(10vw, 1fr));
    justify-content: none;
    align-items: none;
  }
  .news__images {
    width: 25vw;
  }
  .news__items {
    width: 25vw;
  }
  .news__title {
    font-size: 1rem;
    height: 100px;
  }
}
.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pages__button {
  width: 40px;
  height: 40px;
  background-color: #a67bb8;
  color: white;
  margin: 0.2rem;
  margin-bottom: 1rem;
}
.pages__button--active {
  background-color: #5B2C6F;
}

.search {
  font-size: 0.7rem;
  border: 1px solid #5B2C6F;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.search form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.search__button {
  background-color: #5B2C6F;
  color: white;
  border-radius: 10px;
  font-size: 3vw;
  padding: 0.5rem;
  width: 80px;
  font-size: 14px;
  margin-bottom: 1rem;
}
.search__query {
  text-align: center;
  margin: 1rem;
  border: 0.05rem solid #A6ACAF;
  border-radius: 5px;
  width: 50%;
  padding: 0.3rem;
}
.search select {
  text-align: center;
  margin: 1rem;
  border: 0.05rem solid #A6ACAF;
  border-radius: 5px;
  width: 30%;
  padding: 0.3rem;
}

@media screen and (min-width: 768px) {
  .search__button {
    font-size: 20px;
    width: 120px;
  }
}
@media screen and (min-width: 1024px) {
  .search__button {
    font-size: 24px;
    width: 150px;
  }
}
.feedback {
  font-size: 1rem;
  color: #5B2C6F;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 15px;
}
.feedback--error {
  color: red;
}

* {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
