@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px&display=swap");
.news, .home, .register, .login, .landing {
  font-family: "Montserrat", serif;
}

.landing {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.landing__navigation {
  display: flex;
  letter-spacing: 0.2em;
  justify-content: space-around;
  margin-left: 5rem;
  margin-right: 5rem;
}
.landing__image {
  width: 100%;
}
.landing a {
  text-decoration: none;
  background-color: #5B2C6F;
  border-radius: 10px;
  padding: 0.5rem;
}
.landing a:visited {
  color: white;
}

.login {
  color: #5B2C6F;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.login__button {
  background-color: #5B2C6F;
  color: white;
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 10px;
}
.login__input {
  display: flex;
  flex-direction: column;
}
.login__logo {
  width: 50%;
  margin-bottom: 1.5rem;
}
.login input {
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
}
.login input:hover {
  background-color: #5B2C6F;
  color: white;
}
.login h1 {
  margin-bottom: 1.5rem;
}
.login a {
  text-decoration: none;
}
.login a:visited {
  color: #5B2C6F;
}

.register {
  color: #5B2C6F;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.register__input {
  display: flex;
  flex-direction: column;
}
.register__logo {
  width: 50%;
  margin-bottom: 1.5rem;
}
.register__checkbox {
  text-align: start;
  margin-bottom: 1rem;
  font-size: 0.7rem;
}
.register__nav-button {
  display: flex;
}
.register__button {
  background-color: #5B2C6F;
  color: white;
  font-size: 0.7rem;
  padding: 0.3rem;
  border-radius: 10px;
}
.register__country {
  display: flex;
  border-radius: 0;
  margin-bottom: 1rem;
}
.register input {
  margin-bottom: 1rem;
}
.register h1 {
  margin-bottom: 1.5rem;
}
.register a {
  text-decoration: none;
}
.register a:visited {
  color: #5B2C6F;
}

.home {
  width: 100vw;
}
.home__nav-bar {
  background-color: #ffc003;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #154360;
}
.home__menu {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #ffc003;
  color: #154360;
  font-size: 0.8rem;
  padding: 0.6rem;
  text-align: center;
}
.home__icon {
  width: 25%;
}
.home__user-name {
  font-size: 0.6rem;
}
.home__nav-bar-title {
  font-size: 1rem;
}
.home__link {
  text-decoration: none;
}
.home__link:visited {
  color: #154360;
}
.home__search {
  text-align: center;
  background-color: #ffc003;
  color: #154360;
}
.home input {
  margin-left: 2.5rem;
  margin-top: 0.5rem;
  border-color: #154360;
}
.home input:hover {
  background-color: #154360;
  color: white;
}
.home__button {
  background-color: #154360;
  color: white;
  font-size: 0.6rem;
  padding: 0.3rem;
  border-radius: 10px;
}
.home__title {
  text-align: center;
  margin-top: 1rem;
}
.home__content {
  font-family: "Slabo", serif;
  font-size: 0.8rem;
}
.home__images {
  width: 100%;
}
.home__notice-content {
  padding: 1rem;
}
.home__notice-content > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #154360;
}
.home p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.home__notice-text {
  border-bottom: 1px solid;
  padding-bottom: 2rem;
}

.news__image {
  width: 100vw;
  margin: 0;
  padding: 0;
}
.news__container {
  list-style: none;
  margin: 0;
  padding: 0;
}
.news__item {
  position: relative;
  text-align: start;
  text-decoration: none;
}
.news__title {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  padding: 0.5rem;
}

.stroke {
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px white;
  font-size: 4vw;
  font-family: "Montserrat", serif;
  color: white;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}

* {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
