extend App

block body
  section.landing
    if name
      h2 Welcome, #{name}! 
    ul.link-list
      div
        a(href='/add-contact') Add Contact
        a(href='/contacts') List Contacts
        a(href='/search-contacts') Search Contacts
      div
        a(href='/add-stickie') Add Stickie
        a(href='/stickies') List Stickies
        a(href='/search-stickies') Search Stickies
      form(action='/logout' method='POST')
        button Logout
        if feedbackHome
          include Feedback.pug
     
      block Compo

      if contacts
        include ListContacts.pug

      if stickies
        include ListStickies.pug

  
