extend Home

block Compo
    section.search
    form(action='/search-contacts' method='GET')
        input(name='q' placeholder='Search' value=`${query || ''}`)
        button Search
    
    if feedback
        include Feedback.pug