<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maria Lunarillos</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header>
        <!-- nav -->
        <nav class="nav">
            <ul class="nav__container">
                <li class="nav__item">
                    <i class="fa fa-bars"></i>
                </li>
                <li class="nav__item">
                    <i class="fa fa-user"></i>
                </li>
                <li class="nav__item"></liclass>
                    <i class="fa fa-search"></i>
                </li>
                <li class="nav__item"></liclass>
                    <i class="fa fa-shopping-cart"></i>
                </li>
                <li class="nav__item nav__item--bg"></liclass>
                    0
                </li>
            </ul>
        </nav>
        <!-- logo -->
        <section class="logo">
            <img class="logo__img"
                src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo-small.svg"
                alt=""
                srcset=""
            />
            <section class="header-btn display-on-tablet">
                <button>NOVEDADES</button>
                <button>OFERTAS</button>
            </section>
            <section class="menu display-on-desktop">
                <section class="menu__item">
                    <button class="menu__btn">
                        <img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png" alt="" sizes="" srcset="">
                    </button>
                    <p class="menu__text">UTENSILIOS</p>
                </section>
                <section class="menu__item">
                    <button class="menu__btn">
                        <img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png" alt="" sizes="" srcset="">
                    </button>
                    <p class="menu__text">INGREDIENTES</p>
                </section>
                <section class="menu__item">
                    <button class="menu__btn">
                        <img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png" alt="" sizes="" srcset="">
                    </button>
                    <p class="menu__text">FIESTAS</p>
                </section>
                <section class="menu__item">
                    <button class="menu__btn menu__btn--last">
                        <img src="https://static3.marialunarillos.com/media/wysiwyg/blog.svg" alt="" sizes="" srcset="">
                    </button>
                    <p class="menu__text">BLOG</p>
                </section>
                
            </section>

        </section>
    </header>

    <!-- MAIN -->
    <main>
        <!-- slider -->
            <section class="slider">
                <a href="#">
                    <img class="slider__img" src="https://fakeimg.pl/725x400/eb6560/?text=Título%20con%20link&font=Ubuntu" alt="" srcset="">
                </a>
            </section>


        <!-- section box utensilios -->
            <section class="categories">
                <div class="categories__img">
                    <img  src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png" alt="" srcset="">
                </div>
                <h1 class="categories__title">UTENSILIOS</h1>
                <section class="gridbox">
                    
                    <section>
                        <div class="gridbox-item">
                            <img class="gridbox-item__img" src="https://fakeimg.pl/350x615/ff9f68/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="gridbox-item__text">
                                <h1>ITEM 1</h1>
                            </div>
                            
                        </div>
                    </section>
                    <section>
                        <div class="gridbox-item">
                            <img class="gridbox-item__img" src="https://fakeimg.pl/715x300/f3cf7a/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="gridbox-item__text">
                                <h1>ITEM 2</h1>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="gridbox-item">
                            <img class="gridbox-item__img" src="https://fakeimg.pl/715x300/21e6c1/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="gridbox-item__text">
                                <h1>ITEM 3</h1>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="gridbox-item">
                            <img class="gridbox-item__img" src="https://fakeimg.pl/715x300/fff4e3/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="gridbox-item__text">
                                <h1>ITEM 4</h1>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="gridbox-item">
                            <img class="gridbox-item__img" src="https://fakeimg.pl/715x300/feb062/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="gridbox-item__text">
                                <h1>ITEM 5</h1>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="gridbox-item gridbox-item--last">
                            <img class="gridbox-item__img" src="https://fakeimg.pl/350x615/278ea5/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="gridbox-item__text">
                                <h1>ITEM 6</h1>
                            </div>
                        </div>
                    </section>
                </section>
                <section class="see-more-btn">
                    <button>VER MÁS</button>
                </section>
            </section>
        <!-- section box ingredientes -->
            <section class="categories">
                <div class="categories__img">
                    <img  src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png" alt="" srcset="">
                </div>
                <h1 class="categories__title">INGREDIENTES</h1>
                <section class="gridbox">
                    <section>
                        <div class="gridbox-item">
                            <img class="gridbox-item__img" src="https://fakeimg.pl/350x615/ff9f68/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="gridbox-item__text">
                                <h1>ITEM 1</h1>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="gridbox-item">
                            <img class="gridbox-item__img" src="https://fakeimg.pl/715x300/f3cf7a/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="gridbox-item__text">
                                <h1>ITEM 2</h1>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="gridbox-item">
                            <img class="gridbox-item__img" src="https://fakeimg.pl/715x300/21e6c1/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="gridbox-item__text">
                                <h1>ITEM 3</h1>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="gridbox-item">
                            <img class="gridbox-item__img" src="https://fakeimg.pl/715x300/fff4e3/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="gridbox-item__text">
                                <h1>ITEM 4</h1>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="gridbox-item">
                            <img class="gridbox-item__img" src="https://fakeimg.pl/715x300/feb062/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="gridbox-item__text">
                                <h1>ITEM 5</h1>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="gridbox-item gridbox-item--last">
                            <img class="gridbox-item__img" src="https://fakeimg.pl/350x615/278ea5/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="gridbox-item__text">
                                <h1>ITEM 6</h1>
                            </div>
                        </div>
                    </section>
                    
                </section>
                <section class="see-more-btn">
                    <button>VER MÁS</button>
                </section>
            </section>
        <!-- section box blog -->
            <section class="categories">
                <div class="categories__img">
                    <img  src="https://static3.marialunarillos.com/media/wysiwyg/blog.svg" alt="" srcset="">
                </div>
                <h1 class="categories__title">BLOG</h1>
                <section class="see-more-btn">
                    <button>ULTIMAS ENTRADAS EN EL BLOG</button>
                </section>
                <section class="blog-card">
                    <section>
                        <div class="blog-card__container">
                            <img class="blog-card__img" src="https://fakeimg.pl/350x615/ff9f68/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="blog-card__content">
                                <h1>ESTO ES EL TITULO DEL ARTÍCULO</h1>
                                <img src="https://www.marialunarillos.com/blog/wp-content/uploads/userphoto/17.thumbnail.jpg" alt="">
                                <p>Y este notas el <span>AUTOR</span></p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="blog-card__container display-on-desktop">
                            <img class="blog-card__img" src="https://fakeimg.pl/350x615/ff9f68/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="blog-card__content">
                                <h1>ESTO ES EL TITULO DEL ARTÍCULO</h1>
                                <img src="https://www.marialunarillos.com/blog/wp-content/uploads/userphoto/17.thumbnail.jpg" alt="">
                                <p>Y este notas el <span>AUTOR</span></p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="blog-card__container display-on-desktop">
                            <img class="blog-card__img" src="https://fakeimg.pl/350x615/ff9f68/?text=pw=%20123&font=Ubuntu" alt="" srcset="">
                            <div class="blog-card__content">
                                <h1>ESTO ES EL TITULO DEL ARTÍCULO</h1>
                                <img src="https://www.marialunarillos.com/blog/wp-content/uploads/userphoto/17.thumbnail.jpg" alt="">
                                <p>Y este notas el<span>AUTOR</span></p>
                            </div>
                        </div>
                    </section>
                </section>  
                <section class="see-more-btn">
                    <button>IR AL BLOG</button>
                </section>
            </section>
    </main>
    <footer>

        <section class="footer-features">
            <div class="footer-features__icon">
                <i class="fa fa-truck"></i>
                <p>ENVÍO GRATIS</p>
            </div>
            <div class="footer-features__icon">
                <i class="fa fa-truck"></i>
                <p>ENVÍO GRATIS</p>
            </div>
            <div class="footer-features__icon">
                <i class="fa fa-truck"></i>
                <p>ENVÍO GRATIS</p>
            </div>
            <div class="footer-features__icon">
                <i class="fa fa-truck"></i>
                <p>ENVÍO GRATIS</p>
            </div>
        </section>

        <section class="social-media">
            <h1 class="social-media__title">Síguenos</h1>
            <div class="social-media__icon">
                <i class="fa fa-hashtag"></i>
                <i class="fa fa-hashtag"></i>
                <i class="fa fa-hashtag"></i>
            </div>
        </section>

        <hr>

        <section class="newsletter">
            <h1 class="newsletter__title">Recibe novedades en tu email</h1>
            <input type="email" name="email" id="" class="newsletter__input" placeholder="voldemort@howarts.edu">
            <section class="see-more-btn">
                <button>SUSCRÍBETE ></button>
            </section>
        </section>

        
    </footer>
    <section class="copyright">
        Copyright ©2020 Aitor Skylaber
    </section>
</body>
</html>
