// || apply to all files ||
* 
    margin: 0
    user-select: none
    box-sizing: border-box
    
// || font import files ||
    
// font-family: 'Dancing Script', cursive
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap') 
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap')

// font-family: 'Source Sans Pro', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap')

//font-family: 'Noto Sans JP', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap')

// || sass import files ||
    
@import app/style/home
@import app/style/footer
@import app/style/header
@import app/style/login
@import app/style/register
@import app/style/search
@import app/style/results
@import app/style/surfForecast
@import app/style/Feedback
@import app/style/favorites
@import app/style/snowForecas
@import app/style/reviews
@import app/style/spiner
