@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  user-select: none;
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.Home {
  height: 94vh;
  background-color: gray;
  margin-top: 6vh;
  background-size: 160%;
  background-image: url("./app/images/fondo.jpg");
}
.Home__Selection {
  display: flex;
  background-color: white;
  height: 15vh;
}
.Home__Selection--surf {
  display: flex;
  width: 50vw;
  border: 2px solid black;
  text-align: center;
  transition: 1.5s;
}
.Home__Selection--surfclikedSurf {
  transition: 1s;
  width: 200vw;
}
.Home__Selection--surf:hover {
  width: 200vw;
}
.Home__Selection--snow {
  display: flex;
  width: 50vw;
  border: 2px solid black;
  text-align: center;
  transition: 1.5s;
}
.Home__Selection--snowclikedsnow {
  transition: 1s;
  border: 2px solid black;
  width: 200vw;
}
.Home__Selection--snow:hover {
  width: 200vw;
}
.Home__map {
  margin-top: 10vh;
  height: 50vh;
  background-size: 130%;
  background-position: center;
  background-image: url("./app/images/mundo.png");
}
.Home__map--snow {
  animation: fadeIn ease 1.5s;
  margin-top: 10vh;
  height: 50vh;
  background-size: 130%;
  background-position: center;
  background-image: url("./app/images/mundoSnow.png");
}
.Home__map--snow--out {
  animation: fadeOut ease 1.5s;
  margin-top: 10vh;
  height: 50vh;
  background-size: 130%;
  background-position: center;
  background-image: url("./app/images/mundoSnow.png");
}

.Footer {
  bottom: 0;
  height: 6.5vh;
  width: 100vw;
  position: fixed;
  background-color: green;
  background-color: rgba(255, 255, 255, 0.6);
}
.Footer__container {
  display: flex;
  align-items: center;
}
.Footer .fas {
  margin: 0.8vh 7.5vw;
}
.Footer .fas:hover {
  color: white;
}

.Header {
  top: 0;
  position: fixed;
  width: 100vw;
}
.Header__container {
  display: flex;
  height: 6vh;
  font-family: "Carter One", cursive;
  background-color: #43a1b1;
  font-weight: 700;
  align-items: center;
}
.Header__container--name {
  margin-left: 1vw;
  color: white;
}
.Header__container a {
  text-decoration: none;
}
.Header__container--login {
  margin-left: auto;
  margin-right: 1vw;
}
.Header__container--register {
  margin-right: 2vw;
}

body {
  background-color: #83c3ee;
}

.login {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin-top: 40vh;
  justify-content: center;
}

form {
  margin-top: 5vh;
}

body {
  background-color: #83c3ee;
}

.register {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin-top: 40vh;
  justify-content: center;
}

form {
  margin-top: 4vh;
}

.input {
  margin-top: 3vh;
  height: 8vh;
  width: 80vw;
  font-size: 20px;
}

.search-button {
  height: 8vh;
  width: 20vw;
  font-size: 20px;
}

ul {
  list-style-type: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  width: 100vw;
  height: 10vh;
  padding: 5px;
}

li {
  display: flex;
  justify-content: center;
  padding: 3vh;
  border: 2px solid black;
  margin: 0.5vh;
}

/*# sourceMappingURL=style.css.map */
