// || apply to all files ||

* 
    margin: 0
    user-select: none
    box-sizing: border-box
    
// || font import files ||
    
// font-family: 'Dancing Script', cursive
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap') 

// || sass import files ||
    
@import app/style/home
@import app/style/footer
@import \staff\groups\4thElement\app\style\header.sass