@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
* {
  margin: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.Home {
  height: 94vh;
  margin-top: 6vh;
  background-size: cover;
}
.Home .Home--Surf {
  transition: 1.5s;
  height: 94vh;
  background-size: cover;
  background-image: url("./app/images/fondo.jpg");
}
.Home .Home--Snow {
  transition: 1.5s;
  opacity: 1;
  height: 94vh;
  background-size: cover;
  background-image: url("./app/images/fondoSnow.jpg");
}
.Home__Selection {
  display: flex;
  background-color: white;
  height: 17vh;
  font-family: "Carter One", cursive;
  color: white;
}
.Home__Selection--surf {
  display: flex;
  width: 50vw;
  text-align: center;
  transition: 1.5s;
  border-top: 0.3rem solid;
  background-size: cover;
  background-image: url("./app/images/surfSelection.jpg");
  border-top: 1vh solid white;
  border-bottom: 1vh solid white;
}
.Home__Selection--surfclikedSurf {
  color: black;
  background-size: cover;
  background-image: url("./app/images/surfSelection.jpg");
  transition: 1s;
  width: 200vw;
  border-top: 1vh solid white;
  border-bottom: 1vh solid white;
}
.Home__Selection--surf:hover {
  color: black;
  width: 200vw;
}
.Home__Selection--snow {
  background-size: cover;
  background-image: url("./app/images/snowSelection.jpg");
  display: flex;
  width: 50vw;
  text-align: center;
  transition: 1.5s;
  border-top: 1vh solid white;
  border-bottom: 1vh solid white;
}
.Home__Selection--snowclikedsnow {
  color: black;
  background-size: cover;
  background-image: url("./app/images/snowSelection.jpg");
  transition: 1s;
  width: 200vw;
  border-top: 1vh solid white;
  border-bottom: 1vh solid white;
}
.Home__Selection--snow:hover {
  color: black;
  width: 200vw;
}
.Home__pointerResult--element {
  font-family: "Carter One", cursive;
  position: absolute;
  height: 15vh;
  width: 100vw;
  background-color: gray;
  border-bottom: 1vh solid white;
}
.Home__pointerResult--element p {
  text-align: center;
  margin-top: 2vh;
  font-size: 2rem;
}
.Home__pointerResult--element--snow1 {
  background-size: cover;
  background-image: url("./app/images/2-alpes-recortado.jpg");
}
.Home__pointerResult--element--surf4 {
  background-color: white;
  background-size: 100%;
  background-image: url("./app/images/mavericks.jpg");
}
.Home__map {
  margin-top: 10vh;
  height: 50vh;
  background-size: 130vw;
  background-position: center;
  background-image: url("./app/images/mundo.png");
}
.Home__map--surf {
  animation: fadeIn ease 0.5s;
  margin-top: 10vh;
  height: 50vh;
  background-size: 130vw;
  background-position: center;
  background-image: url("./app/images/mundo.png");
}
.Home__map--surf i {
  position: relative;
  color: gray;
}
.Home__map--surf i:nth-child(1) {
  top: 28%;
  left: 60%;
}
.Home__map--surf i:nth-child(2) {
  top: 62%;
  left: 62%;
}
.Home__map--surf i:nth-child(3) {
  top: 48%;
  left: 10%;
}
.Home__map--surf i:nth-child(4) {
  top: 30%;
  left: -5%;
}
.Home__map--snow {
  animation: fadeIn ease 1.5s;
  margin-top: 10vh;
  height: 50vh;
  background-size: 130%;
  background-position: center;
  background-image: url("./app/images/mundoSnow.png");
}
.Home__map--snow i {
  position: relative;
  color: darkblue;
}
.Home__map--snow i:nth-child(1) {
  top: 25%;
  left: 65%;
}
.Home__map--snow i:nth-child(2) {
  top: 28%;
  left: 80%;
}
.Home__map--snow i:nth-child(3) {
  top: 72%;
  left: 21%;
}
.Home__map--snow i:nth-child(4) {
  top: 30%;
  left: 0%;
}
.Home__map--snow--out {
  animation: fadeOut ease 1.5s;
  margin-top: 10vh;
  height: 50vh;
  background-size: 130%;
  background-position: center;
  background-image: url("./app/images/mundoSnow.png");
}

.Footer {
  bottom: 0;
  height: 6.5vh;
  width: 100vw;
  position: fixed;
  background-color: green;
  background-color: rgba(255, 255, 255, 0.6);
}
.Footer__container {
  display: flex;
  align-items: center;
}
.Footer .fas {
  margin: 0.8vh 7.5vw;
}
.Footer .fas:hover {
  color: white;
}

.Header {
  top: 0;
  position: fixed;
  width: 100vw;
}
.Header__container {
  display: flex;
  height: 6vh;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #43a1b1;
  font-weight: 700;
  align-items: center;
}
.Header__container--name {
  margin-left: 1vw;
  color: white;
}
.Header__container a {
  text-decoration: none;
}
.Header__container--login {
  margin-left: auto;
  margin-right: 1vw;
}
.Header__container--register {
  margin-right: 2vw;
}

.login {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin-top: 40vh;
  justify-content: center;
}

form {
  margin-top: 5vh;
}

.register {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin-top: 40vh;
  justify-content: center;
}

form {
  margin-top: 4vh;
}

.Searcher {
  background-color: #43a1b1;
  height: 10.5vh;
}
.Searcher__input-container {
  position: absolute;
  margin-top: 3vh;
  margin-left: 7vw;
  background: white;
  min-width: 85vw;
  height: 6vh;
  border-radius: 10px;
}
.Searcher__input-container__type {
  position: absolute;
  font-size: 20px;
  border: none;
  height: 6vh;
}
.Searcher__input-container__image {
  height: 4vh;
  margin: 1vh;
}
.Searcher__input-container__button {
  background: none;
  border: none;
}

.Spot-Searched__title {
  font-family: "Source Sans Pro", sans-serif;
  background: #e4e4e4;
  font-size: 20px;
  height: 3.5vh;
}
.Spot-Searched__list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
}
.Spot-Searched__item {
  border-bottom: 1px solid black;
  width: 100vw;
  height: 10vh;
  padding: 3vh;
}
.Spot-Searched__item:hover {
  background: gray;
}

.forecast__ul {
  list-style-type: none;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
}
.forecast__date {
  color: black;
}
.forecast__info {
  display: flex;
  justify-content: center;
  padding: 3vh 3vw;
  border-bottom: 1px solid black;
  font-size: 20px;
}
.forecast__favButton {
  background: yellow;
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  position: fixed;
  margin-top: 65vh;
  margin-left: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forecast__favButton:hover {
  background: white;
}
.forecast__titles {
  background: white;
  display: flex;
  margin-top: 6vh;
  height: 3.5vh;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  justify-content: center;
  width: 100vw;
}
.forecast__titles--element {
  margin-right: 18vw;
}

p {
  margin-right: 8vw;
}

span {
  background: green;
  font-size: 25px;
}

.feedback {
  top: 15vh;
  color: green;
  position: relative;
  text-align: center;
  font-size: 1.5rem;
}
.feedback--warning {
  color: orange;
}
.feedback--error {
  color: red;
}

.Favorites__List {
  list-style-type: none;
  margin-top: 6.5vh;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
}
.Favorites__List--title {
  font-family: "Source Sans Pro", sans-serif;
  background: #e4e4e4;
  font-size: 20px;
  height: 3.5vh;
}
.Favorites__List--elements {
  text-align: center;
  border-bottom: 1px solid black;
  width: 100vw;
  height: 10vh;
  padding: 3vh;
}
.Favorites__List--elements:hover {
  background-color: gray;
}

/*# sourceMappingURL=style.css.map */
