<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utensilios de repostería</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <header>

            <nav>
                <ul class="navbar">
                    <li class="navbar__item navbar__item-menu">MENU</li>
                    <li class="navbar__item navbar__item-user">USER</li>
                    <li class="navbar__item navbar__item-search">SEARCH</li>
                    <li class="navbar__item navbar__item-cart">CART</li>
                    <li class="navbar__item navbar__item-cartnum">0</li>
                </ul>
            </nav>
            <div class="navbar-two">
                <div class="navbar-two__logo"> <img src="https://fakeimg.pl/276x50/ff595a/?text=MARIA LUNARILLOS"></div>

                <div class="navbar-two__buttons">
                    <div class="navbar-two__buttons-new"></div>
                    <div class="navbar-two__buttons-sales"></div>
                </div>
            </div>
            <div class="navbar-three">
                <div class="navbar-three__logo"> <img src="https://fakeimg.pl/276x50/ff595a/?text=MARIA LUNARILLOS">
                </div>

                <div class="navbar-three__buttons">
                    <div class="navbar-three__buttons-new"></div>
                    <div class="navbar-three__buttons-sales"></div>
                </div>
                <input type="text" name="" id="" class="navbar-three__input">

            </div>
            <div class="navbar-three__buttons-sections">

                <div class=navbar-three__buttons-sections-utensilios></div>
                <div class=navbar-three__buttons-sections-ingredientes></div>
                <div class=navbar-three__buttons-sections-fiestas></div>
                <div class=navbar-three__buttons-sections-marca></div>
                <div class=navbar-three__buttons-sections-blog></div>

            </div>



        </header>

        <main>
            <div class="slider"></div>
            <section>
                <div class="title-logo title-logo--one">
                    <img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png"
                        alt="tiltelogo">
                    <p>UTENSILIOS</p>
                </div>
                <div class="links-utensilios">
                    <div class="links-utensilios__color one">hola</div>
                    <div class="links-utensilios__color two">hola</div>
                    <div class="links-utensilios__color three">hola</div>
                    <div class="links-utensilios__color four">hola</div>
                    <div class="links-utensilios__color five">hola</div>
                    <div class="links-utensilios__color six">hola</div>
                    <div class="links-utensilios__color seven">hola</div>
                    <div class="links-utensilios__color eight">hola</div>
                    <div class="links-utensilios__color nine">hola</div>
                </div>

                <div class="button">VER MÁS </div>
            </section>


            <section>
                <div class="title-logo">
                    <img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png"
                        alt="tiltelogo">
                    <p>INGREDIENTES</p>
                </div>
                <div class="links-ingredientes">

                    <div class="links-ingredientes__color one">hola</div>
                    <div class="links-ingredientes__color two">hola</div>
                    <div class="links-ingredientes__color three">hola</div>
                    <div class="links-ingredientes__color four">hola</div>
                    <div class="links-ingredientes__color five">hola</div>
                    <div class="links-ingredientes__color six">hola</div>


                </div>


                <div class="button">VER MÁS </div>
            </section>

            <section>
                <div class="title-logo">
                    <img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png"
                        alt="tiltelogo">
                    <p>FIESTAS</p>
                </div>

                <div class="links-fiestas">
                    <div class="links-fiestas__color ten">hola</div>
                    <div class="links-fiestas__color eleven">hola</div>
                    <div class="links-fiestas__color twelve">hola </div>
                </div>

                <div class="button">VER MÁS </div>
            </section>

            <section>
                <div class="title-logo">
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/blog.svg" alt="tiltelogo">
                    <p>BLOG</p>
                </div>

                <div class="blog--tablet">
                    <div class="blog">

                        <div class="blog__image">
                            <img src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-galletas-pims-naranja-1.jpg"
                                alt="tiltelogo">
                            <p>GALLETAS PIM'S NARANJA</p>
                            <div class="blog__image-author">
                                <img src="https://www.marialunarillos.com/blog/wp-content/uploads/userphoto/17.thumbnail.jpg"
                                    alt="">
                                <p>por <span>RAÚL</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="blog blog--display">
                        <div class="blog__image">
                            <img src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-galletas-pims-naranja-1.jpg"
                                alt="tiltelogo">
                            <p>GALLETAS PIM'S NARANJA</p>
                            <div class="blog__image-author">
                                <img src="https://www.marialunarillos.com/blog/wp-content/uploads/userphoto/17.thumbnail.jpg"
                                    alt="">
                                <p>por <span>RAÚL</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button">IR AL BLOG </div>
            </section>


        </main>

        <footer>
            <div class="footer">

                <div class="footer-infoweb">
                    <div class="footer-infoweb__item1"></div>
                    <div class="footer-infoweb__item2"></div>
                    <div class="footer-infoweb__item3"></div>
                    <div class="footer-infoweb__item4"></div>
                </div>
                <div class="follow">
                    <div>
                        <p class="follow__text">SIGUENOS</p>
                    </div>
                    <div>
                        <div class="follow__icon"></div>
                        <div class="follow__icon"></div>
                        <div class="follow__icon"></div>
                        <div class="follow__icon"></div>
                        <div class="follow__icon"></div>
                    </div>
                </div>

                <hr />
                <p>RECIBE LAS NOVEDADES EN TU E-MAIL</p>
                <form class="newsletter">

                    <input type="text">
                    <div class="newsletter__button">SUSCRÍBETE</div>
                </form>
                <hr />
                <div class="contact">
                    <div class="contact__item"></div>
                    <p>CONTACTO</p>
                    <div class="contact__item"></div>
                    <p>SOBRE NOSOTROS</p>
                    <div class="contact__item"></div>
                    <p>CONDICIONES DE VENTA</p>

                </div>

                <div class="copyright">
                    <p>Copyright ©2020 María Lunarillos</p>
                </div>
            </div>
        </footer>



    </div>




</body>

</html>