.home
    @extend %panel

    width: 100vw
    margin: 0
    padding: 0
    border-radius: 0
    font-size: 2rem
    
button
    background-color:#CE93D8
    color: white
    font-size: 0.8rem

button:hover
    background-color: white
    color:#CE93D8
