.result
    @extend %panel

    font-size: 1rem
    text-align: start
    border-radius: 0
    text-align: start
    color: #37474F
    width: 45%
    float: left
    margin-left: 10px

form
    text-align: start
    margin-left: 10px

h1
    font-weight: bold