@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

.nav {
  background: #f0f0f0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 40px;
}
.nav__item {
  text-decoration: none;
  font-size: 2em;
  list-style: none;
}
.nav__item--bg {
  height: 100%;
  background: #eb6560;
  color: white;
  padding: 0.3em 0.5em;
}

.logo {
  padding: 6em 0 2.5em 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo__img {
  width: 60%;
  height: 3em;
  margin: 0 auto;
}

.slider__img {
  width: 100%;
}

.footer-features {
  margin-top: 4em;
  display: grid;
  background: #f0f0f0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "one two" "three four";
}
.footer-features__icon {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-features__icon:nth-child(1) {
  grid-area: one;
}
.footer-features__icon:nth-child(2) {
  grid-area: two;
}
.footer-features__icon:nth-child(3) {
  grid-area: three;
}
.footer-features__icon:nth-child(4) {
  grid-area: four;
}
.footer-features__icon i {
  font-size: 4em;
}
.footer-features__icon p {
  font-size: 1.5em;
}

.social-media {
  margin: 4em 0 2em 0;
}
.social-media__title {
  display: block;
  text-align: center;
  margin: 1em;
}
.social-media__icon {
  display: flex;
  justify-content: center;
}
.social-media__icon i {
  margin: 0 0.5em;
}

hr {
  width: 70%;
  background: grey;
  margin: 0 auto;
}

.newsletter {
  margin-top: 2em;
  text-align: center;
}
.newsletter__input {
  margin-top: 1em;
  width: 70%;
  height: 5%;
  font-size: 1.5em;
  text-align: center;
}
.newsletter .see-more-btn {
  background: white;
}

.copyright {
  margin-top: 2em;
  padding: 1em;
  background: #eb6560;
  color: white;
  text-align: center;
}

.categories {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f0f0f0;
  margin-top: 8em;
  width: 100%;
  position: relative;
  z-index: 999;
}
.categories__img {
  height: 125px;
  width: 100px;
  position: absolute;
  top: -4em;
}
.categories img {
  width: 100%;
  height: 100%;
}
.categories__title {
  letter-spacing: 0.2em;
  margin-top: 4em;
  padding: 0.5em 1em;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}

.gridbox {
  margin-top: 2em;
  display: grid;
}
.gridbox section {
  display: flex;
  margin: 0.1em;
}
.gridbox-item {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  width: 70%;
}
.gridbox-item__img {
  width: 100%;
  max-height: 140px;
}
.gridbox-item__text {
  background: rgba(240, 240, 240, 0.85);
  width: 70%;
  padding: 2em;
  position: absolute;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  text-align: center;
  top: 40%;
}
.gridbox-item--last {
  margin-bottom: 2em;
}

.blog-card {
  display: flex;
}
.blog-card__container {
  background: white;
  margin: 0.5em;
}
.blog-card__img {
  max-height: 500px;
  width: 100%;
}
.blog-card__content {
  padding: 1.5em;
}
.blog-card__content img {
  margin-top: 1.5em;
  width: 25%;
}
.blog-card__content p {
  margin-left: 0.5em;
  display: inline-block;
}
.blog-card__content p span {
  display: block;
  color: #eb6560;
}

.see-more-btn {
  margin-top: 2em;
  display: flex;
  width: 100%;
  background: #f0f0f0;
  justify-content: center;
}
.see-more-btn button {
  padding: 0.8em;
  background: #eb6560;
  border-color: #eb6560;
  font-size: 1.2em;
  color: white;
}

.display-on-tablet {
  display: none;
}

.display-on-desktop {
  display: none;
}

@media screen and (min-width: 600px) {
  .display-on-tablet {
    display: block;
  }

  .nav__container {
    justify-content: space-between;
  }

  .nav__item:nth-of-type(1) {
    margin-right: 50%;
  }

  .logo {
    display: flex;
    justify-content: space-around;
  }
  .logo .header-btn {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo .header-btn button:nth-of-type(1) {
    background: #a2a95b;
    margin-right: 0.5em;
    padding: 0.5em;
    font-size: 1.2em;
    color: white;
  }
  .logo .header-btn button:nth-of-type(2) {
    background: #8a7a9b;
    padding: 0.5em;
    font-size: 1.2em;
    color: white;
    margin-right: 1em;
  }

  .slider {
    max-height: 24em;
    overflow: hidden;
  }
  .slider__img {
    height: 0 auto;
  }

  .gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "box1 box2 box2" "box1 box3 box3" "box4 box4 box6" "box5 box5 box6";
    width: 70%;
  }
  .gridbox section:nth-of-type(1) {
    grid-area: box1;
  }
  .gridbox section:nth-of-type(2) {
    grid-area: box2;
  }
  .gridbox section:nth-of-type(3) {
    grid-area: box3;
  }
  .gridbox section:nth-of-type(4) {
    grid-area: box4;
  }
  .gridbox section:nth-of-type(5) {
    grid-area: box5;
  }
  .gridbox section:nth-of-type(6) {
    grid-area: box6;
  }
  .gridbox-item {
    margin: 0 auto;
    display: block;
    position: relative;
    width: 100%;
  }
  .gridbox-item__img {
    width: 100%;
    max-height: 615px;
  }
}
@media screen and (min-width: 992px) {
  .display-on-desktop {
    display: block;
  }

  .nav__item:nth-of-type(1) {
    margin-right: 70%;
  }

  .logo {
    flex-wrap: wrap;
  }
  .logo__img {
    height: 5em;
    margin-top: 2em;
  }

  .menu {
    margin-left: 60%;
    display: grid;
    flex-basis: 30%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__btn {
    width: 6em;
    height: 6em;
    margin: 1em 0.6em;
  }
  .menu__btn--last {
    background: #eb6560;
  }
  .menu__btn img {
    width: 100%;
    height: 100%;
  }
  .menu__text {
    font-size: 0.8em;
  }

  .footer-features {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one two three four";
  }
  .footer-features__icon {
    margin: 2em 1em;
  }
}

/*# sourceMappingURL=style.css.map */
