@use "components/Search.sass" 
@use "components/Results.sass"
@use "components/NavBar.sass"
    
body
    margin: 0
    padding: 0
    background-color: cornsilk
    box-sizing: border-box
    width: 100%
