@import url("https://fonts.googleapis.com/css?family=Open+Sans:900,900italic,800,800italic,700,700italic,600,600italic,500,500italic,400,400italic,300,300italic,200,200italic,100,100italic");
* {
  margin: 0;
  font-style: Open Sants;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__nav-bar {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  height: 50px;
  width: 90%;
  background-color: #ECF0F1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container__nav-bar--hidden {
  display: none;
}

.container__logo {
  height: 100px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2% 0 2% 0;
}

.container__logo--hidden {
  display: none;
}

.container__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr 1fr 1fr 20px;
      grid-template-rows: 2fr 1fr 1fr 1fr 20px;
  height: 1200px;
  width: 100vw;
  background-color: #ECF0F1;
}

.scroll-images {
  width: 100vw;
  height: 300px;
  background-color: #EC7063;
  margin-bottom: 30px;
}

.sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 3800px;
}

.sections__separation {
  width: 92px;
}

.sections__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5%;
  font-size: 1.5rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  background-color: #ECF0F1;
}

.sections__title--framed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 50%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.sections__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  background-color: #ECF0F1;
}

.sections__items--large {
  height: 49%;
}

.sections__items--medium {
  height: 33%;
}

.sections__items--small {
  height: 17%;
}

.sections__utensils {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[9] 50px;
      grid-template-rows: repeat(9, 1fr) 50px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 300px;
  grid-gap: 5px;
}

.sections__ingredients {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6] 50px;
      grid-template-rows: repeat(6, 1fr) 50px;
  height: 100%;
  width: 300px;
  grid-gap: 5px;
}

.sections__party {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3] 50px;
      grid-template-rows: repeat(3, 1fr) 50px;
  height: 100%;
  width: 300px;
  grid-gap: 5px;
}

.sections__blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px 5fr 50px;
      grid-template-rows: 80px 5fr 50px;
  height: 700px;
  width: 300px;
}

.sections__blog--hidden {
  display: none;
}

.sections__button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /span 2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 80%;
  width: 30%;
  background-color: #EC7063;
  color: white;
}

.sections__button--flex {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
}

.sections__imagen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.sections__imagen--center {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  font-size: 50%;
  width: auto;
}

.image__main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  width: 300px;
  height: 105px;
}

.image__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  height: 50%;
  width: 50%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  background-color: white;
  opacity: .7;
  color: #546E7A;
}

.nav-bar-item {
  margin: auto;
  width: 30px;
}

.nav-bar-item--red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EC7063;
  margin: 0;
  color: white;
  width: 50px;
}

.image-logo {
  padding: 5%;
  width: auto;
}

.image-logo__marca {
  width: 200px;
}

.sections-images {
  width: 50px;
}

.blog-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EC7063;
  color: white;
  height: 50%;
  margin-bottom: 20px;
}

.footer-shipping {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 100vw;
  color: #546E7A;
  background-color: #D0D3D4;
  font-size: 0.7rem;
}

.footer-shipping__icon {
  width: 60px;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #546E7A;
  font-size: .8rem;
}

.social-networks__section {
  margin-top: 1rem;
}

.social-networks__images {
  width: 20px;
}

.e-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #546E7A;
  font-size: .8rem;
  border-bottom: 1px solid #546E7A;
  border-top: 1px solid #546E7A;
  width: 70%;
  justify-self: center;
}

.e-mail__button {
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  background-color: #EC7063;
  color: white;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #546E7A;
}

.subscription__item {
  font-size: 10px;
  margin: 1rem;
}

.subscription__item--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscription__images {
  width: 20px;
}

.copyright {
  background-color: #EC7063;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__text {
  height: 2rem;
  font-size: .7rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .container {
    height: 100%;
  }
  .container__nav-bar {
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
  }
  .container__nav-bar--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar-item__menu {
    visibility: hidden;
  }
  .sections {
    height: 4200px;
  }
  .sections__utensils {
    display: -ms-grid;
    display: grid;
    width: 490px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (1fr)[6] 80px;
        grid-template-rows: repeat(6, 1fr) 80px;
  }
  .sections__ingredients {
    display: -ms-grid;
    display: grid;
    width: 490px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (1fr)[4] 80px;
        grid-template-rows: repeat(4, 1fr) 80px;
  }
  .sections__party {
    display: -ms-grid;
    display: grid;
    width: 490px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (1fr)[2] 80px;
        grid-template-rows: repeat(2, 1fr) 80px;
  }
  .sections__blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  .sections__blog--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sections__blog--in-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sections__button {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 160px;
    height: 60px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
  }
  .sections__button--flex {
    margin-top: 10%;
    margin-left: 25%;
  }
  .image__expand-two-rows-one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  .image__expand-two-rows-two {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / span 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / span 1;
  }
  .image__expand-two-rows-three {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / span 2;
  }
  .image__two {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  .image__three {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .image__four {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  .image__five {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
  }
  .image__eigth {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / span 1;
  }
  .image__nine {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / span 1;
  }
  .image__main {
    width: 325px;
    height: 176.5px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .image__main--rotate {
    width: 160px;
    height: 358.5px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .image__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
    width: 50%;
  }
  .image__title--end {
    height: 50%;
    width: 100%;
  }
  .image__title--rigth {
    justify-self: flex-end;
  }
  .image-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-image {
    width: 200px;
    height: 400px;
    margin: 5px;
  }
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #546E7A;
  }
  .subscription__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    margin: 1rem;
  }
  .subscription__item--center {
    margin-right: .5rem;
  }
  .e-mail__title {
    -ms-flex-negative: 2;
        flex-shrink: 2;
  }
  .e-mail__button {
    margin-top: 2rem;
    width: 30%;
  }
  .blog-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    height: 80px;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    height: 100%;
  }
  .container__logo {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container__logo--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .container__footer {
    height: 1000px;
  }
  .sections {
    height: 4600px;
  }
  .sections__utensils {
    width: 600px;
  }
  .sections__ingredients {
    width: 600px;
  }
  .sections__party {
    width: 600px;
  }
  .image__main {
    width: 400px;
    height: 200px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .image__main--rotate {
    width: 200px;
    height: 405px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .image__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 50%;
    width: 50%;
  }
  .image__title--end {
    height: 50%;
    width: 100%;
  }
  .blog-image {
    width: 200px;
    height: 400px;
    margin: 5px;
  }
  .footer-shipping {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 350px;
  }
}
/*# sourceMappingURL=style.css.map */