<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="fixed">
            <div class="menu">
                <img  class="menu__image" src="./imagenes/Rpngocean.com.png">
                <img  class="menu__image--alert" src="./imagenes/pngocean.com.png">
            </div>
            <div class="logoR">
                <img src="./imagenes/headerLogo.png">
            </div>
            <div class="logoB">
                <img src="./imagenes/headeLogoA.png">
            </div>
            <div class="logoY">
                <img src="./imagenes/headerLogoY.png">
            </div>
            <div class="user">
                <img class="user__image" src="./imagenes/icons8-customer-100.png">
            </div>
            <div class="search">
                <img class="search__image" src="./imagenes/clipart742441.png">
            </div>
            <div class="cart">
                <img class="cart__image" src="./imagenes/icons8-shopping-cart-96.png">
            </div>
            <div class="cartitmes">
                <p>0</p>
            </div>
        </div>
    </header>
    <section class="logo">
        <img class="logo__image" src="./imagenes/logo-maria.png">
        <img class="logo__image2" src="./imagenes/logo-maria2.png">
        <section class="logo__category">
            <img class="logo__category--imagen1" src="./imagenes/RlogoU.png">
            <img class="logo__category--imagen2" src="./imagenes/logoU.png">
            <p>UTENSILES</p>
        </section>
        <section class="logo__category">
            <img class="logo__category--imagen1" src="./imagenes/RlogoM.png">
            <img class="logo__category--imagen2" src="./imagenes/logoM.png">
            <p>INGREDIENTES</p>
        </section>
        <section class="logo__category">
            <img class="logo__category--imagen1" src="./imagenes/RlogoP.png">
            <img class="logo__category--imagen2" src="./imagenes/logoP.png">
            <p>FIESTAS</p>
        </section>
        <section class="logo__category">
            <img class="logo__category--imagen1" src="./imagenes/RlogoD.png">
            <img class="logo__category--imagen2" src="./imagenes/logoD.png">
            <p>MARCAS</p>
        </section>
        <section class="logo__category">
            <img src="./imagenes/logoC.png">
            <p>BLOGS</p>
        </section>
    </section>
    <section class="banner">
        <img src="./imagenes/1080X600.png">
    </section>
    <section class="category">
        <img class="category__utensil" src="./imagenes/Gprimergrid.png">
        <div class="category__element--6">
            <p class="category__element--p">MOLDES PARA REPOSTERIA</p>
        </div>
        <div class="category__element--7">
            <p class="category__element--p">UTNESILIOS BASICOS</p>
        </div>
        <div class="category__element--8">
            <p class="category__element--p">PEQUEÑOS ELECTRODOMÉSTICOS</p>
        </div>
        <div class="category__element--9">
            <p class="category__element--p">CÁPSULAS PARA MAGDALENAS</p>
        </div>
        <div class="category__element--10">
            <p class="category__element--p">CAJAS Y BASES</p>
        </div>
        <div class="category__element--11">
            <p class="category__element--p">CORTADORES DE GALLETAS</p>
        </div>
        <div class="category__element--12">
            <P class="category__element--p">CERÁMICA Y TEXTIL</P>
        </div>
        <div class="category__element--13">
            <p class="category__element--p">BANETOS PARA PAN</p>
        </div>
        <div class="category__element--14">
            <p class="category__element--p">TOPPERS Y FIGURITAS</p>
        </div>
        <div class="category__element--alert">
            <div class="category__element--alert--text">
                <p>VER MÁS</p>
            </div>
        </div>
    </section>
    <section class="category2">
        <img class="category__utensil" src="./imagenes/ingredientes.png">
        <div class="category__element--0">
            <p class="category__element--p">FONDANT</p>
        </div>
        <div class="category__element--1">
            <p class="category__element--p">INGREDIENTES PARA REPOSTERIA</p>
        </div>
        <div class="category__element--2">
            <p class="category__element--p">IMPRESION PERSONALIZADA</p>
        </div>
        <div class="category__element--3">
            <p class="category__element--p">COLORANTE ALIMENTARIO</p>
        </div>
        <div class="category__element--4">
            <P class="category__element--p">PAPEL COMESTIBLE</P>
        </div>
        <div class="category__element--5">
            <p class="category__element--p">SPRINKELS Y PURPURINA</p>
        </div>
        <div class="category__element--alert">
            <div class="category__element--alert--text">
                <p>VER MÁS</p>
            </div>
        </div>
    </section>
    <section class="paymentShipping">
        <div class="paymentShipping__element">
            <img src="imagenes/free.svg">
            <h2>ENVIO GRATIS</h2>
            <p>PEDIDOS SUPERIORES A 70$</p>
        </div>
        <div class="paymentShipping__element">
            <img src="imagenes/time.svg">
            <h2>ENVÍO EN 24-48 HORAS</h2>
            <p>HAZ TU PEDIDO ANTES DE LAS 18:00H</p>
        </div>
        <div class="paymentShipping__element">
            <img src="./imagenes/mail.svg">
            <h2>DEVOLUCIONES</h2>
            <p>30 DÍAS PARA DEVOLVER TU COMPRA</p>
        </div>
        <div class="paymentShipping__element">
            <img src="./imagenes/credit-card.svg">
            <h2>CONTRA REEMBOLSO</h2>
            <p>SIN COMISÍON</p>
        </div>
    </section>
</body>
</html>