<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>marialunarillos</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav class='nav'>
            <div class='nav__navbar'>
                <div class="nav__item-1 nav__item--size"></div>
                <div class="nav__item-2 nav__item--size"></div>
                <div class="nav__item-3 nav__item--size"></div>
                <div class="nav__item-4 nav__item--size"></div>
                <div class="nav__item-5 nav__item--size flex--center">0</div>
            </div>
            <div class="nav__logo flex--center"> <img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo-small.svg" alt=""></div>
        </nav>
    </header>
    <main>
        <div class="carosel">
            <img src="https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5c2f5d0c609a2-png/1080X600.png" alt="" class="carosel__img">
        </div>
        <!-- first section -->
        <section class="section">
            <div class='section__logo flex--center'><img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png" alt="" class='section__logo-img'></div>
            <h2 class="section__title flex--center">UTENSILIOS</h2>
            <div class="section__first-item">
                <div class="section__first-item-1 item--format">
                    <h3 class="section__item-description">MOLDES DE REPOSTERÍA</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/moldesdereposteria.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__first-item-2 item--format">
                    <h3 class="section__item-description">UTENSILIOS BÁSICOS</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/utensiliosbasicos.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__first-item-3 item--format">
                    <h3 class="section__item-description">PEQUEÑO ELECTRODOMÉSTICO</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/pequenoelectrodomestico2.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__first-item-4 item--format">
                    <h3 class="section__item-description">CÁPSULAS PARA MAGDALENAS</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/capsulas-cupcakes.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__first-item-5 item--format">
                    <h3 class="section__item-description">CAJAS Y BASES</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/cajas3.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__first-item-6 item--format">
                    <h3 class="section__item-description">CORTADORES DE GALLETAS</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/cortadoresgalletas2.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__first-item-7 item--format">
                    <h3 class="section__item-description">CERÁMICA Y TEXTIL</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/stands.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__first-item-8 item--format">
                    <h3 class="section__item-description">BANETONES PARA PAN</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/banetones.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__first-item-9 item--format">
                    <h3 class="section__item-description">TOPPERS Y FIGURITAS</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/toppers3.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__first-button flex--center">
                    <div class="button flex--center">VER MÁS</div>
                </div>

            </div>
        </section>

        <!-- second section -->
        <section class="section">
            <div class='section__logo flex--center'><img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png" alt="" class='section__logo-img'></div>
            <h2 class="section__title flex--center">INGREDIENTES</h2>
            <div class="section__second-item">
                <div class="section__second-item-1 item--format">
                    <h3 class="section__item-description">FONDANT</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/fondant2.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__second-item-2 item--format">
                    <h3 class="section__item-description">INGREDIENTES DE REPOSTERÍA</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/ingredientesreposteria.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__second-item-3 item--format">
                    <h3 class="section__item-description">IMPRESIÓN PERSONALIZADA</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/impresionpersonalizada.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__second-item-4 item--format">
                    <h3 class="section__item-description">COLORANTES ALIMENTARIOS</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/Colorantes-alimentarios.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__second-item-5 item--format">
                    <h3 class="section__item-description">PAPEL COMESTIBLE</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/papelcomestible.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__second-item-6 item--format">
                    <h3 class="section__item-description">SPRINKLES Y PURPURINAS</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/sprinkles3.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__second-button flex--center">
                    <div class="button flex--center">VER MÁS</div>
                </div>
            </div>
        </section>
        <!-- third section -->
        <section class="section">
            <div class='section__logo flex--center'><img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png" alt="" class='section__logo-img'></div>
            <h2 class="section__title flex--center">FIESTAS</h2>
            <div class="section__third-item">
                <div class="section__third-item-1 item--format">
                    <h3 class="section__item-description">FIESTAS TEMÁTICAS</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/fiestastematicas.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__third-item-2 item--format">
                    <h3 class="section__item-description">FIESTAS PERSONAJES</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/fiestaspersonajes.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__third-item-3 item--format">
                    <h3 class="section__item-description">ACCESORIOS PARA FIESTAS</h3>
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/pompones.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__third-button flex--center">
                    <div class="button flex--center">VER MÁS</div>
                </div>
            </div>
        </section>
        <!-- fourth section -->
        <section class="section">
            <div class='section__logo flex--center'><img src="https://static3.marialunarillos.com/media/wysiwyg/blog.svg" alt="" class='section__logo-img'></div>
            <h2 class="section__title flex--center">BLOG</h2>
            <div class="section__fourth-item">
                <div class="section__fourth-button-1 flex--center">
                    <div class="button flex--center">ÚLTIMAS ENTRADAS EN EL BLOG</div>
                </div>
                <div class="section__fourth-item-1 item--format">
                    <img src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-galletas-pims-naranja-1.jpg" alt="" class="section__item-img">
                </div>
                <div class="section__fourth-item-2">
                    <h3 class="section__fouth-item-title">GALLETAS PIM'S DE NARANJAS</h3>
                    <div class="section__fouth-item-img">
                        <img src="https://www.marialunarillos.com/blog/wp-content/uploads/userphoto/17.thumbnail.jpg" alt="" class="section__item-person">
                        <div>
                            <p>Por</p>
                            <p class="text--red">RAUL</p>
                        </div>
                    </div>

                </div>
                <div class="section__fourth-button-2 flex--center">
                    <div class="button flex--center">IR AL BLOG</div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer__icon">
            <div class="footer__icon-item1 icon--size"></div>
            <div class="footer__icon-item2 icon--size"></div>
            <div class="footer__icon-item3 icon--size"></div>
            <div class="footer__icon-item4 icon--size"></div>
        </section>
        <section class="footer__follow flex--column">
            <h4>Siguenos</h4>
            <div class='flex--center'>
                <div class="footer__fallow-icon"></div>
                <div class="footer__fallow-icon"></div>
                <div class="footer__fallow-icon"></div>
                <div class="footer__fallow-icon"></div>
                <div class="footer__fallow-icon"></div>
                <hr>
            </div>

        </section>

        <section class="footer__subscribe flex--column">
            <p>RECIBE LAS NOVEDADES EN TU E-MAIL</p>
            <input type="text" class='footer__subscribe-input'>
            <div class='flex--row'>
                <input type="checkbox" id="subscibe" name="subscibe" value="Car">
                <label for="subscibe">Acepto la política de privacidad</label>
            </div>
            <div class="footer__subscribe-button button flex--center">SUBCRIBETE</div>
        </section>

        <section class="footer__contact flex--column">
            <div class="footer__contact-item flex--column">
                <div class="footer__contact-icon"></div>
                <p class="footer__contact-text">CONTACTO</p>
            </div>
            <div class="footer__contact-item flex--column">
                <div class="footer__contact-icon"></div>
                <p class="footer__contact-text">SOBRE NOSOTROS</p>
            </div>
            <div class="footer__contact-item flex--column">
                <div class="footer__contact-icon"></div>
                <p class="footer__contact-text">CONDICIONES DE VENTA</p>
            </div>
        </section>
        <section class="footer__end flex--center">
            <p>Copyright</p>
        </section>
    </footer>
</body>

</html>