$color-black: #000000
$color-light-gray: #dbd0d0
$color-font-h2: #ffffff
$color-outline: #09e2ff

$bg-color-h2: #0E6894
$bg-color-body: #F8F8F8
$bg-color-btn: #0E6894
$bg-color-form-input: #fcf2e6
$btn-color-font: #ffffff

$nav-color: #009baf
$translucent:rgba(255,255,255,0.8)

//products 
$bg-color-body-pro: #173d50
$bg-color-switch: #0C1F28
$bd-color-switch: #225B78
$bg-color-table: #ffffff
$bg-color-desc-tab: #F1F3F5
$sw-color-font: #ffffff
$desc-color-font:  #244357
$desc-color-sup-sud:#ABB8C0
$child-color-even: #E97D68