<!DOCTYPE html>
<html lang = 'en'>
    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = 'stylesheet' href='templates.css' type= 'text/css'>     
        <title>css-templates Pau Atienza</title>

    </head>

    <body>
        <section class = 'square 1'>1</section>
        <section class = 'square 2'>2</section>
        <section class = 'square 3'>3</section>
        <section class = 'square 4'>4</section>
        <section class = 'square 5'>5</section>
        <section class = 'square 6'>6</section>
        <section class = 'square 7'>7</section>
        <section class = 'square 8'>8</section>
        <section class = 'square 9'>9</section>
    </body>
    
</html>