.fatal {
    color: red;
}

.danger {
    background-color: orange;
}
  
.salute {
    border: 2px solid red;
    padding: 1em;
    background-color: yellow;
}
      
h1 {
    border: 2px solid red;
    width: 190px;
    padding: 10px;
}