
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>

<body>

    <header class="header">
        <nav class="header__nav">
            <span class="material-icons">
                menu
            </span>
            <span class="material-icons">
                person_add
            </span>
            <span class="material-icons">
                search
            </span>
            <span class="material-icons">
                shopping_cart
            </span>
            <span>
                0
            </span>
        </nav>
        <div class="header__logo">
            <img class="header__logo__img" src="img/logo-small.svg">
        </div>
    </header>

    <section class="slide">
        <img class="slide__img" src="img/hr.png" alt="slide">
        <div class="slide__dots">
            <span class="material-icons slide__dots__item">
                fiber_manual_record
            </span>
            <span class="material-icons slide__dots__item">
                fiber_manual_record
            </span>
            <span class="material-icons slide__dots__item">
                fiber_manual_record
            </span>
            <span class="material-icons slide__dots__item">
                fiber_manual_record
            </span>
            <span class="material-icons slide__dots__item">
                fiber_manual_record
            </span>
            <span class="material-icons slide__dots__item">
                fiber_manual_record
            </span>
            <span class="material-icons slide__dots__item">
                fiber_manual_record
            </span>
            <span class="material-icons slide__dots__item">
                fiber_manual_record
            </span>
            <span class="material-icons slide__dots__item">
                fiber_manual_record
            </span>
        </div>
    </section>

    <section class="utensilios">
        <header class="utensilios__header">
            <img class="utensilios__header__img" src="img/utensiliosML.png">
            <h2 class="utensilios__header__title">UTENSILIOS</h2>
        </header>

        <div class="utensilios__types">
            <div class="utensilios__types__item">
                    <img class="utensilios__types__item__img" src="img/moldesdereposteria.jpg">
                    <p class="utensilios__types__item__text">
                        MOLDES DE REPOSTERÍA
                    </p>
            </div>
            <div class="utensilios__types__item">
                    <img class="utensilios__types__item__img" src="img/utensiliosbasicos_2.jpg">
                    <p class="utensilios__types__item__text">
                        UTENSILIOS BÁSICOS
                    </p>
            </div>
            <div class="utensilios__types__item">
                    <img class="utensilios__types__item__img" src="img/capsulas-cupcakes.jpg">
                    <p class="utensilios__types__item__text">
                        CÁPSULAS PARA MAGDALENAS
                    </p>
            </div>
            <div class="utensilios__types__item">
                    <img class="utensilios__types__item__img" src="img/cajas3.jpg">
                    <p class="utensilios__types__item__text">
                        CAJAS Y BASES
                    </p>
            </div>
            <button class="utensilios__button">VER MÁS</button>
        </div>

    </section>
        
    <section class="shipping">
        <div class="shipping__item">
            <span class="material-icons shipping__item__icon">
                local_shipping
            </span>
            <h3 class="shipping__item__title">Envío gratis</h3>
            <span class="shipping__item__text">Pedidos superiores a 70€</span>
        </div>
        <div class="shipping__item">
            <span class="material-icons shipping__item__icon">
                av_timer
            </span>
            <h3 class="shipping__item__title">Envío 24/48h</h3>
            <span class="shipping__item__text">Haz tu pedido antes de las 18:00h</span>
        </div>
        <div class="shipping__item">
            <span class="material-icons shipping__item__icon">
                inbox
            </span>
            <h3 class="shipping__item__title">Devoluciones</h3>
            <span class="shipping__item__text">30 días para devolver tu compra</span>
        </div>
        <div class="shipping__item">
            <span class="material-icons shipping__item__icon">
                credit_card
            </span>
            <h3 class="shipping__item__title">C-reembolso</h3>
            <span class="shipping__item__text">sin comisión</span>
        </div>
    </section>

    <footer class="footer">
   
            <div class="footer__contact">
                <div class="footer__contact__item">
                    <span class="material-icons footer__contact__item__icon">
                        credit_card
                    </span>
                    <br>
                    <a href="#" class="footer__contact__item__link">CONTACTO</a>
                </div>
                <div class="footer__contact__item">
                    <span class="material-icons footer__contact__item__icon">
                        mail
                    </span>
                    <br>
                    <a href="#" class="footer__contact__item__link">SOBRE NOSOTROS</a>
                </div>
                <div class="footer__contact__item">
                    <span class="material-icons footer__contact__item__icon">
                        local_grocery_store
                    </span>
                    <br>
                    <a href="#" class="footer__contact__item__link">CONDICIONES DE VENTA</a>
                </div>
            </div>

            <div class="footer__copy">
                <p>Copyright ©2020 María Lunarillos</p>
            </div>
    </footer>

</body>

</html>