<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4thElement</title>
    <link rel="stylesheet" href="\groups\4thElement\style.css">
</head>
<body>

    <script src="https://kit.fontawesome.com/8134188eff.js" crossorigin="anonymous"></script>

    <header class="Header">
        <section class="Header__container">
            <h2 class="Header__container--name">4thElement</h2>
            <a class="Header__container--login" href="">Login</a>
            <a class="Header__container--register" href="">Register</a>
        </section>
    </header>

    <section class="Home">
        <h1>Which one do you choose?</h1>
        <img calss="Home__imagen"src="" alt="">
        <div class="Home__Selection">
            <div class="Home__Selection--surf">DIV-SURF</div>
            <div class="Home__Selection--snow">DIV-SNOW</div>
        </div>
        
        <div class="Home__map"></div>
    </section>

    <footer class="Footer">
        <section class="Footer__container">
            <i class="fas fa-home fa-2x"></i>
            <i class="fas fa-search fa-2x"></i>
            <i class="fas fa-map-marked-alt fa-2x"></i>
            <i class="fas fa-star fa-2x"></i>
        </section>
    </footer>
</body>
</html>