* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.static-nav {
  top: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

.hidden {
  display: none;
}

.buy-menu__search {
  width: auto;
  height: 50px;
}

.buy-menu__trolley {
  width: auto;
  height: 50px;
}

.static-nav__user {
  width: auto;
  height: 50px;
}

.buy-menu__qty {
  display: flex;
  height: 50px;
  width: 50px;
  color: white;
  background-color: red;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.static-nav__hamburger {
  width: 30px;
  height: 20px;
  margin-top: 15px;
}

.static-nav__but-menu {
  display: flex;
}

.nav-list {
  justify-content: center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.main-header__logo {
  display: flex;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 35px;
}

.slider-wrapper {
  width: 100vy;
}

.slider-wrapper__images-display--image1 {
  object-fit: contain;
  height: calc((145vw * 600.0) / 1080);
  width: 100%;
}

.nav-list__slide {
  margin: 5px;
}

.category {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.category__header {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.category__image-title {
  height: 125px;
  padding-left: 30px;
}

.category__title {
  margin-right: auto;
  margin-left: auto;
  border: 3px solid black;
  border-right: white;
  border-left: white;
  margin-top: 10px;
  padding: 10px;
}

.category__click {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 132px;
  height: 57px;
  background: #FF5959;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  justify-content: center;
  font-size: large;
}

.main {
  display: block;
  scroll-behavior: auto;
}

.item {
  width: 325px;
  margin-left: auto;
  margin-right: auto;
}

.category__title {
  text-align: center;
}

.item__image {
  height: 136px;
  width: 325px;
  margin-bottom: 5px;
}

.item__image--crop {
  object-fit: cover;
}

.item__image--blog {
  width: 325px;
  height: 487px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item__title {
  background-color: rgba(255, 255, 255, 0.8);
  color: #67635F;
  font-weight: 400;
  font-size: 12px;
  line-height: 50px;
  margin-top: -95px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  width: 242px;
  position: relative;
  font-weight: bold;
}

.item__description {
  text-align: center;
}

.contact {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 300px;
  background-color: grey;
  width: 100%;
}

.copyright {
  width: 100%;
  text-align: center;
  line-height: 35px;
  background: #FF5959;
  height: 35px;
}

@media only screen and (min-width: 620px) {
  .category__images--utensilios {
    display: grid;
    grid-template-rows: repeat(6, 170px);
    grid-template-columns: repeat(3, 200px);
    grid-gap: 7px;
    margin-right: auto;
    margin-left: auto;
  }

  .category__images--ingredientes {
    display: grid;
    grid-template-rows: repeat(4, 170px);
    grid-template-columns: repeat(3, 200px);
    grid-gap: 7px;
    margin-right: auto;
    margin-left: auto;
  }

  .category__images--fiestas {
    display: grid;
    grid-template-rows: repeat(2, 170px);
    grid-template-columns: repeat(3, 200px);
    grid-gap: 7px;
    margin-right: auto;
    margin-left: auto;
  }

  .item {
    width: auto;
  }

  .item__image--long {
    height: 350px;
    width: 200px;
    object-position: left;
    object-fit: cover;
  }

  .item__image--wide {
    height: 170px;
    width: 408px;
  }

  .item {
    object-fit: scale-down;
    object-position: left;
  }

  .category__image--moldes-tablet {
    grid-area: 1/1/3/1;
  }

  .category__images--utilidades-tablet {
    grid-area: 1/2/1/4;
  }

  .category__images--pequenos-tablet {
    grid-area: 2/2/2/4;
  }

  .category__images--capsulas-tablet {
    grid-area: 3/1/3/3;
  }

  .category__images--cajas-tablet {
    grid-area: 4/1/4/3;
  }

  .category__images--cortadors-tablet {
    grid-area: 3/3/5/3;
  }

  .category__images--cera-tablet {
    grid-area: 5/1/7/1;
  }

  .category__images--panones-tablet {
    grid-area: 5/2/5/4;
  }

  .category__images--toppers-tablet {
    grid-area: 6/2/7/4;
  }

  .category__image--fondon-tablet {
    grid-area: 1/1/3/1;
  }

  .category__images--ingredientes-tablet {
    grid-area: 1/2/1/4;
  }

  .category__images--presion-tablet {
    grid-area: 2/2/2/4;
  }

  .category__images--pintores-tablet {
    grid-area: 3/1/3/3;
  }

  .category__images--papel-tablet {
    grid-area: 4/1/4/3;
  }

  .category__images--sprinkles-tablet {
    grid-area: 3/3/5/4;
  }

  .category__images--fiesta-tablet {
    grid-area: 1/1/1/3;
  }

  .category__images--personajes-tablet {
    grid-area: 2/1/4/3;
  }

  .category__images--accesorios-tablet {
    grid-area: 1/3/3/4;
  }

  .category__blog-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 992px) {
  .slider-wrapper__images-display--image1 {
    display: flex;
    width: 992px;
    height: 551px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
  }

  .category__images--utensilios {
    display: grid;
    grid-template-rows: repeat(6, 260px);
    grid-template-columns: repeat(3, 310px);
    grid-gap: 7px;
    margin-right: auto;
    margin-left: auto;
  }

  .category__images--ingredientes {
    display: grid;
    grid-template-rows: repeat(4, 260px);
    grid-template-columns: repeat(3, 310px);
    grid-gap: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .category__images--fiestas {
    display: grid;
    grid-template-rows: repeat(2, 260px);
    grid-template-columns: repeat(3, 310px);
    grid-gap: 7px;
    margin-right: auto;
    margin-left: auto;
  }

  .item__image--long {
    height: 520px;
    width: 310px;
    object-position: left;
    object-fit: cover;
  }

  .item__image--wide {
    height: 260px;
    width: 620px;
  }

  .hidden {
    display: grid;
  }

  .category__blog-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-auto-columns: 3;
    grid-gap: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
