@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
input -internal-autofill-selected {
  background-color: none !important;
}

.login {
  display: flex;
  background-image: linear-gradient(to bottom, #d900ff, #008cff);
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff49;
  border-radius: 20px;
  height: 60vh;
  width: 80%;
}
.login__header {
  color: #0000008f;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.login__divider {
  width: 80%;
  height: 0.1rem;
  margin-top: -3rem;
  background-color: #0000008f;
  border: 0;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}
.login label {
  display: flex;
  align-self: self-start;
  margin-left: 1rem;
  color: #00000088;
  content-shadow: 0 0 10px dodgerBlue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.login__input {
  margin: 0.5rem;
  width: 15rem;
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: 20px 0 20px 0;
  border: 0;
  background-color: #ffffff5b;
  transition: 1s ease;
}
.login__input:valid {
  background-color: #ffffff5b;
}
.login__input:focus {
  transition: all 1s ease;
  border-radius: 0;
  box-shadow: 0 0 10px dodgerBlue;
}
.login--mail:hover + label[for=email] {
  color: red;
}
.login__button {
  justify-content: center;
  border-radius: 30px;
  border: 0;
  margin: 2rem 1rem 1rem 1rem;
  background-color: #ffffff3f;
  height: 2rem;
  width: 35%;
}
.login__button:hover {
  transition: 0.4s ease all;
  width: 40%;
}
.login a {
  cursor: pointer;
  position: absolute;
  height: 2rem;
  margin: 3rem 0 0 2rem;
  color: black;
  font-size: 0.7rem;
}
.login a:active {
  transition: 0.35s ease;
  color: blue;
}

* {
  box-sizing: border-box;
  margin: 0;
}

input -internal-autofill-selected {
  background-color: none !important;
}

.register {
  display: flex;
  background-image: linear-gradient(to bottom, #d900ff, #008cff);
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.register__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff49;
  border-radius: 20px;
  height: 70vh;
  width: 80%;
}
.register__header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #0000008f;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.register__divider {
  width: 80%;
  height: 0.1rem;
  background-color: #0000008f;
  border: 0;
}
.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register label {
  display: flex;
  align-self: self-start;
  margin-left: 1rem;
  color: #00000088;
  content-shadow: 0 0 10px dodgerBlue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.register__input {
  margin: 0.5rem;
  width: 15rem;
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: 20px 0 20px 0;
  border: 0;
  background-color: #ffffff5b;
  transition: 1s;
}
.register__input:valid {
  background-color: #ffffff5b;
}
.register__input:focus {
  transition: all 1s ease;
  border-radius: 0;
  box-shadow: 0 0 10px dodgerBlue;
}
.register--mail:hover + label[for=email] {
  color: red;
}
.register__button {
  justify-content: center;
  border-radius: 30px;
  border: 0;
  margin: 2rem 1rem 1rem 1rem;
  background-color: #ffffff3f;
  height: 2rem;
  width: 35%;
}
.register__button:hover {
  transition: 0.4s ease all;
  width: 40%;
}
.register a {
  cursor: pointer;
  position: absolute;
  height: 2rem;
  margin: 7.8rem 0 0 2rem;
  color: black;
  font-size: 0.7rem;
  text-decoration: none;
}
.register a:active {
  transition: 0.35s ease;
  color: blue;
}

* {
  box-sizing: border-box;
  margin: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.home {
  height: 100vh;
  width: 100vw;
  background-color: #222831;
  display: flex;
  flex-direction: column;
}

.home-header {
  background-image: url("utils/images/197906006-small.jpg");
  height: 200px;
  width: 100vw;
  font-family: Montserrat;
  font-size: 34px;
  justify-content: space-around;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 2.2rem;
  width: 1.7rem;
  cursor: pointer;
  margin-left: 0.4rem;
  padding-top: 0.2rem;
  position: absolute;
}

.hamburger-menu .bar {
  height: 3px;
  background: black;
  border-radius: 5px;
  margin: 3px 0px;
  transform-origin: left;
  transition: all 0.5s;
}

.hamburger-menu:hover .top {
  transform: rotate(45deg);
}

.hamburger-menu:hover .middle {
  opacity: 0;
}

.hamburger-menu:hover .bottom {
  transform: rotate(-45deg);
}

.home-groupies {
  height: 200px;
  width: 100vw;
  margin-top: 15px;
  align-self: flex-end;
  font-family: Montserrat;
  font-size: 34px;
  justify-content: space-around;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url("utils/images/shutterstock_1375698434.jpg");
}
.home-groupies__button {
  border-radius: 5px;
  width: 100px;
  height: 42px;
  margin-left: 81px;
}

.home-music {
  height: 279px;
  width: 100vw;
  margin-top: 15px;
  align-self: flex-end;
  font-family: Montserrat;
  font-size: 34px;
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url("utils/images/shutterstock_1574386093.jpg");
}

.bottom-bar {
  background-color: #1b1b1b;
  height: 33px;
  text-align: center;
  padding-top: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  height: 2rem;
  width: 100%;
  background-color: #1b1b1b;
  position: fixed;
}
.navbar__list {
  display: flex;
  position: fixed;
  width: 100%;
  height: 2rem;
  padding: 0;
}
.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.2rem 0;
  height: 2rem;
  width: 20%;
  list-style: none;
  background-color: black;
  transition: all 0.5s;
  font-size: 0.8rem;
}
.navbar__item--active {
  background-image: linear-gradient(to bottom, #d900ff, #008cff);
  height: 2.5rem;
}
.navbar .left {
  border-bottom-right-radius: 20px;
}
.navbar .center {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.browser {
  background-color: #111010;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.browser__options {
  display: flex;
}
.browser__form {
  display: flex;
  margin: 0 auto;
  max-width: 250px;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.browser__form select {
  font-family: montserrat;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: #f0f0f06e;
  font-size: 1em;
  color: #999;
  font-family: "Quicksand", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  margin-top: 20px;
}
.browser__form select:hover {
  background: #B1E8CD;
}
.browser__form select:focus {
  transition: all 1s ease;
  box-shadow: 0 0 10px dodgerBlue;
}
.browser__form i {
  position: absolute;
  right: 24px;
  top: calc(22% - 13px);
  width: 16px;
  height: 16px;
  display: block;
  border-left: 4px solid #2ac176;
  border-bottom: 4px solid #2ac176;
  transform: rotate(-45deg);
  transition: all 0.25s ease;
}
.browser__form:hover i {
  margin-top: 3px;
}
.browser__form input {
  margin-top: 14px;
  border-radius: 14px;
  height: 42px;
  width: 250px;
  margin-bottom: 5px;
  background-color: #f0f0f06e;
  border: 0;
  color: #999;
  padding: 7px 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-family: montserrat;
  font-size: 1em;
}
.browser__form input:focus {
  transition: all 1s ease;
  box-shadow: 0 0 10px dodgerBlue;
}
.browser__form button {
  height: 39px;
  width: 89px;
  border-radius: 16px;
  margin-top: 8px;
  background-color: #f0f0f06e;
  border: 0;
  margin-top: 24px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.results {
  background-color: #2a2a2a;
  height: 60%;
  display: flex;
  justify-content: space-around;
  margin-top: 28px;
}

.title {
  font-family: montserrat;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  color: #999;
}

.disc-list {
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.disc-list__image {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}
.disc-list__title {
  margin-top: 10px;
}
.disc-list__artists {
  margin-top: 10px;
}

.playlists-results {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 50vh;
  left: 10vw;
}
.playlists-results h2 {
  font-size: 12px;
  text-align: center;
}
.playlists-results__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  list-style: none;
  width: 80vw;
  height: 50vh;
}
.playlists-results__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 150px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
