<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Mosaic</title>
</head>

<body>
    <section class="main">
        <div class="container">
            <div id="one" class="square">1</div>
            <div class="square">2</div>
            <div id="tree" class="square">3</div>
            <div class="square">4</div>
            <div class="square">5</div>
            <div class="square">6</div>
            <div class="square">7</div>
            <div class="square">8</div>
            <div id="nine" class="square">9</div>


        </div>
    </section>

</body>

</html>