.familyContainer
    height: 100vh
    margin: 0
    padding: 0
    &__container
        background: rgba(229, 226, 226, 0.7)
        width: 100%
        position: relative
        height: 10vh
    &__title
        margin-left: 10px
        font-size: 35px
    &__addButton
        position: absolute
        height: 60px
        width: 60px
        background-image: url('../images/cool-add.png')
        background-size: 60px
        right: 10px
    &__familyListContainer
        width: 100%
        &--ul
            list-style-type: none
            margin: 0
            padding: 0
            font-size: 30px
            background: rgba(201, 201, 201, 0.5)
        &--ul:first-child
            border-top: 1px solid black
        &--li
            border-bottom: 1px solid #000000
            padding: 20px
        