.sliderContainer
    margin: 0
    padding: 0
    height: 100vh
    &__thermoContainer
        position: relative
        width: 40vw
        &--slider
            position: absolute
            transform: rotate(-90deg) translate(-50%, -50%)
            background-color: #F26E91
            width: 95vw
            height: 20vh
            left: 0
            top: 0
        &--thermoImg
            position: absolute
            height: 70vh
            width: 40vw
            top: 0
            left: 0
