.sliderContainer
    margin: 0
    padding: 0
    height: 100vh
    // background: #D7EFFA
    &__thermoContainer
        position: relative
        height: 390px
        &--progress
            // height: 35px
            width: 45px
            background: #EF3636
            position: absolute
            bottom: 0
            left: 72px
        &--slider
            position: absolute
            transform: rotate(-90deg) translate(-50%, -50%)
            width: 345px
            margin-top: 4.5vh
            z-index: 2
        &--thermoImg
            position: absolute
            height: 520px
            width: 190px
            margin-top: 10px
            left: 0
            z-index: 1
.height1
    height: 35px
.height2
    height: 70px
.height3
    height: 105px
.height4
    height: 140px
.height5
    height: 175px
.height6
    height: 210px
.height7
    height: 245px
.height8
    height: 285px
.height9
    height: 310px
.height10
    height: 345px
