.settingsContainer
    display: flex
    align-items: center
    flex-direction: column
    flex: 1 1 0%
    min-height: 100vh
    width: 100%
    &__title
        margin-left: 10px
        font-size: 35px
    &__container
        background: rgba(229, 226, 226, 0.7)
        width: 100%
        position: relative
        height: 12vh
        top: 0
        display: flex
        align-items: center
    &__optionList
        width: 100%
        font-size: 3vh
        background-color: rgba(201, 201, 201, 0.5)
    &__optionContainer
        height: 8vh
        border-bottom: 1px solid #000000
        display: flex
        align-items: center
    &__option
        text-decoration: none
        width: 100%
        padding: 10px
    &__logOut
        width: 100%
        height: 7.5vh
        font-size: 2.5vh
        font-weight: 600
        font-family: 'Raleway', sans-serif
        margin-bottom: 1px solid black
        
