.home__hamburger
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: space-between
    height: 2.5rem
    width: 2.5rem
    cursor: pointer


    &__hamburger-bar
        height: 5px
        background: black
        border-radius: 5px
        margin: 3px 0px
        transform-origin: left
        transition: all 0.5s

   
        &--top:hover
            transform: rotate(45deg)
        
            
        &--middle:hover 
            opacity: 0

        &--bottom:hover 
            transform: rotate(-45deg)

.img
    background-color: orange
.slider
    background-color: yellow
.daylist
    background-color: purple




