.quiz {
    @extend %outside-app;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background: black;
    justify-content: space-around;
    grid-template-areas: "Rock Pop Jazz-Blues"
                        "Hip-hop-Rap Latino Techno-Dance"
                        "Metal Reaggeton Punk"
                        "Country K-pop Oldschool"
}