@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
input -internal-autofill-selected {
  background-color: none !important;
}

.login {
  display: flex;
  background-image: linear-gradient(to bottom, #d900ff, #008cff);
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff49;
  border-radius: 20px;
  height: 60vh;
  width: 80%;
}
.login__header {
  color: #0000008f;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.login__divider {
  width: 80%;
  height: 0.1rem;
  margin-top: -3rem;
  background-color: #0000008f;
  border: 0;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}
.login label {
  display: flex;
  align-self: self-start;
  margin-left: 1rem;
  color: #00000088;
  content-shadow: 0 0 10px dodgerBlue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.login__input {
  margin: 0.5rem;
  width: 15rem;
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: 20px 0 20px 0;
  border: 0;
  background-color: #ffffff5b;
  transition: 1s ease;
}
.login__input:valid {
  background-color: #ffffff5b;
}
.login__input:focus {
  transition: all 1s ease;
  border-radius: 0;
  box-shadow: 0 0 10px dodgerBlue;
}
.login--mail:hover + label[for=email] {
  color: red;
}
.login__button {
  justify-content: center;
  border-radius: 30px;
  border: 0;
  margin: 2rem 1rem 1rem 1rem;
  background-color: #ffffff3f;
  height: 2rem;
  width: 35%;
}
.login__button:hover {
  transition: 0.4s ease all;
  width: 40%;
}
.login a {
  cursor: pointer;
  position: absolute;
  height: 2rem;
  margin: 3rem 0 0 2rem;
  color: black;
  font-size: 0.7rem;
}
.login a:active {
  transition: 0.35s ease;
  color: blue;
}

* {
  box-sizing: border-box;
  margin: 0;
}

input -internal-autofill-selected {
  background-color: none !important;
}

.register {
  display: flex;
  background-image: linear-gradient(to bottom, #d900ff, #008cff);
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.register__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff49;
  border-radius: 20px;
  height: 70vh;
  width: 80%;
}
.register__header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #0000008f;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.register__divider {
  width: 80%;
  height: 0.1rem;
  background-color: #0000008f;
  border: 0;
}
.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register label {
  display: flex;
  align-self: self-start;
  margin-left: 1rem;
  color: #00000088;
  content-shadow: 0 0 10px dodgerBlue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.register__input {
  margin: 0.5rem;
  width: 15rem;
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: 20px 0 20px 0;
  border: 0;
  background-color: #ffffff5b;
  transition: 1s;
}
.register__input:valid {
  background-color: #ffffff5b;
}
.register__input:focus {
  transition: all 1s ease;
  border-radius: 0;
  box-shadow: 0 0 10px dodgerBlue;
}
.register--mail:hover + label[for=email] {
  color: red;
}
.register__button {
  justify-content: center;
  border-radius: 30px;
  border: 0;
  margin: 2rem 1rem 1rem 1rem;
  background-color: #ffffff3f;
  height: 2rem;
  width: 35%;
}
.register__button:hover {
  transition: 0.4s ease all;
  width: 40%;
}
.register a {
  cursor: pointer;
  position: absolute;
  height: 2rem;
  margin: 7.8rem 0 0 2rem;
  color: black;
  font-size: 0.7rem;
  text-decoration: none;
}
.register a:active {
  transition: 0.35s ease;
  color: blue;
}

* {
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  height: 100vh;
  width: 30%;
  background-color: #1b1b1b;
}
.navbar__user {
  display: flex;
  align-items: center;
  background-color: white;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0.2rem 0;
  height: 2rem;
  width: 100%;
  list-style: none;
  background-color: #505050;
  transition: all 2s;
}
.navbar__item:active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #7F00FF, #E100FF);
}
.navbar :nth-child(7) {
  margin-top: 55vh;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hamburguer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  background-color: white;
}
.hamburguer__bar {
  height: 5px;
  background: black;
  border-radius: 5px;
  margin: 3px 0px;
  transform-origin: left;
  transition: all 0.5s;
}

.hamburguer:hover--top {
  transform: rotate(45deg);
}
.hamburguer:hover--middle {
  opacity: 0;
}
.hamburguer:hover--bottom {
  transform: rotate(-45deg);
}

.quiz {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #d900ff, #008cff);
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
.quiz__header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #0000008f;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.quiz__list {
  display: grid;
  padding: 0;
  height: 20rem;
  width: 20rem;
  list-style: none;
  grid-gap: 1rem;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.quiz__genre {
  display: flex;
  background-color: #00000075;
  font-size: 1.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffffde;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.quiz__genre:active {
  background-color: black;
}
.quiz__button {
  justify-content: center;
  font-size: 1.1rem;
  border-radius: 30px 0 30px 0;
  border: 0;
  margin: -2rem 1rem 1rem 1rem;
  background-color: #ffffff3f;
  height: 2.3rem;
  width: 40%;
  transition: 1s;
}
.quiz__button:active {
  box-shadow: 0 0 10px red;
  transition: 1s;
  border-radius: 0;
}

.playlists-results {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 50vh;
  left: 10vw;
}
.playlists-results h2 {
  font-size: 12px;
  text-align: center;
}
.playlists-results__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  overflow-x: visible;
  align-items: center;
  justify-items: center;
  list-style: none;
  border: 1px dashed red;
  width: 80vw;
  height: 50vh;
}
.playlists-results__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
  width: 150px;
  height: 150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
