*
    box-sizing: border-box
    margin: 0
    padding: 0

.register
    height: 100vh
    width: 100vw

  &__top
      display: flex
      justify-content: center
      align-items: center
      height: 6vh
      background: #336699
      color: #ffffff
      font-size: 1.3em
      border: 1px solid #336699

  &__form
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-evenly
      height: 85vh
      background:  #003366

  &__input
    border-radius: 10px
    text-align: center

  &__button
       border-radius: 6px
       background: #FFCC66
       color: #003366

  &__login
       color: #FFCC66
       text-decoration: none
       font-size: 1.2em