*
    box-sizing: border-box 
    margin: 0
    padding: 0

.restaurant
    margin: 15px 5px
    border-radius: .5em
    width: 100%
    min-height: 10rem
    align-content: stretch
    color: #78290F
    display: flex
    justify-content: space-around
    line-height:2
    
    
    
    

    &__info
        height: 45%
        background-color: #ffffff
        opacity: 0.8
        font-size: .8em
        line-height: 2
        

        
        
        

        &__name
            font-size: 1.2em
            color:#003366


    
        
