.register, .login {
  display: inline-block;
  padding: 0rem;
  margin: 0px;
}
.register h1, .login h1 {
  text-align: center;
  font-style: italic;
  font-family: Georgia;
  color: white;
}

h1 {
  text-align: center;
  font-style: italic;
  font-family: Georgia;
  color: white;
}

body {
  margin: 0px;
  padding: 0px;
}

.landing {
  background: salmon;
  text-align: center;
  height: 10rem;
  width: 15rem;
  justify-content: center;
  padding-top: 5rem;
  border-radius: 10%;
  margin: auto;
  text-align: center;
}
.landing a {
  font-size: 3rem;
}
.landing button {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.login {
  background: salmon;
  width: 100%;
  height: 10rem;
  text-align: center;
  justify-content: center;
  padding-top: 7rem;
}

.register {
  background: salmon;
  width: 100%;
  height: 10rem;
  text-align: center;
  justify-content: center;
  padding-top: 7rem;
}

.home {
  width: 100%;
  height: 170vh;
  margin-left: 0;
  padding: 0;
}

.navigation__bar--upper {
  overflow-anchor: none;
  position: sticky;
  top: 0px;
  width: 100%;
  min-height: 6rem;
  max-height: 6rem;
  background-color: black;
  border: 2px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.group__card--preview {
  width: 100%;
  height: 100%;
  background-color: #b3ccff;
  color: red;
}

.button__navigation {
  font-size: 1rem;
  border: none;
  text-align: center;
  font-family: Georgia;
  border-radius: 10px;
  font-weight: bold;
}
.button__navigation--regular {
  background-color: white;
  color: salmon;
}
.button__navigation--regular:hover {
  background-color: #C16156;
  color: white;
}
.button__navigation--inverted {
  background-color: #C16156;
  color: white;
}
.button__navigation--inverted:hover {
  background-color: white;
  color: salmon;
}
.button__card {
  text-align: justify;
  font-size: 0.8rem;
  border: none;
  text-align: center;
  font-family: Georgia;
  border-radius: 0.3rem;
  font-weight: bold;
}
.button__card--regular {
  background-color: white;
  color: salmon;
}
.button__card--regular:hover {
  background-color: #C16156;
  color: white;
}
.button__card--inverted {
  background-color: #C16156;
  color: white;
}
.button__card--inverted:hover {
  background-color: white;
  color: salmon;
}
.button__card--back {
  grid-column-start: 1;
}
.button__card--edit {
  grid-column-start: 2;
}
.button__card--save {
  grid-column-start: 2;
}
.button__card--delete {
  grid-column-start: 4;
}

.card {
  box-sizing: border-box;
  background-color: white;
  border-style: solid;
  border-color: salmon;
  border-width: 0.5rem;
  border-radius: 1rem;
  width: 100%;
}
.card--highlighted {
  background-color: white;
}
.card--preview {
  background-color: white;
}
.card__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr;
  grid-column-gap: 5px;
  justify-content: left;
}

.card__title {
  width: 100%;
  background-color: salmon;
  color: white;
  border-style: solid;
  border-color: salmon;
  border-width: 2px;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  font-family: Georgia;
  font-weight: bold;
  padding: 0px;
  margin: -2px;
}

.card__message {
  color: black;
  text-align: justify;
  font-family: Georgia;
  margin: 0.5rem;
}

.card__input {
  border: none;
}
.card__input--text {
  margin-left: -1%;
  width: 100%;
  resize: none;
}

/*# sourceMappingURL=style.css.map */
