@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px&display=swap");
.home, .login, .register, .landing {
  font-family: "Roboto Condensed", sans-serif;
}

.landing {
  background-color: #ffc003;
  color: #154360;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.landing__navigation {
  display: flex;
  letter-spacing: 0.2em;
  justify-content: space-around;
  margin-left: 5rem;
  margin-right: 5rem;
}
.landing__imagen {
  width: 100%;
}
.landing a {
  text-decoration: none;
}
.landing a:visited {
  color: #154360;
}

.register {
  background-color: #ffc003;
  color: #154360;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.register__input {
  display: flex;
  flex-direction: column;
}
.register__logo {
  width: 50%;
  border: 2px solid #154360;
  margin-bottom: 1.5rem;
}
.register__checkbox {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
}
.register__nav-button {
  display: flex;
}
.register__button {
  background-color: #154360;
  color: white;
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 10px;
}
.register__country {
  display: flex;
  border-color: #154360;
  background-color: #154360;
  color: white;
  border-radius: 0;
}
.register input {
  border-color: #154360;
  margin-bottom: 1rem;
}
.register input:hover {
  background-color: #154360;
  color: white;
}
.register h1 {
  margin-bottom: 1.5rem;
}

.login {
  background-color: #ffc003;
  color: #154360;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.login__button {
  background-color: #154360;
  color: white;
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 10px;
}
.login__input {
  display: flex;
  flex-direction: column;
}
.login__logo {
  width: 50%;
  border: 2px solid #154360;
  margin-bottom: 1.5rem;
}
.login input {
  border-color: #154360;
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
}
.login input:hover {
  background-color: #154360;
  color: white;
}
.login h1 {
  margin-bottom: 1.5rem;
}

.feedback {
  color: green;
  margin: 1rem;
}
.feedback--warning {
  color: orange;
}
.feedback--error {
  color: red;
}

.home {
  width: 100vw;
}
.home__nav-bar {
  background-color: #ffc003;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #154360;
}
.home__menu {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #ffc003;
  color: #154360;
  font-size: 0.8rem;
  padding: 0.6rem;
  text-align: center;
}
.home__icon {
  width: 25%;
}
.home__user-name {
  font-size: 0.6rem;
}
.home__nav-bar-title {
  font-size: 1rem;
}
.home__link {
  text-decoration: none;
}
.home__link:visited {
  color: #154360;
}
.home__search {
  text-align: center;
  background-color: #ffc003;
  color: #154360;
}
.home input {
  margin-left: 2.5rem;
  margin-top: 0.5rem;
  border-color: #154360;
}
.home input:hover {
  background-color: #154360;
  color: white;
}
.home__button {
  background-color: #154360;
  color: white;
  font-size: 0.6rem;
  padding: 0.3rem;
  border-radius: 10px;
}
.home__title {
  text-align: center;
  margin-top: 1rem;
}
.home__content {
  font-family: "Slabo", serif;
  font-size: 0.8rem;
}
.home__images {
  width: 100%;
}
.home__notice-content {
  padding: 1rem;
}
.home__notice-content > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #154360;
}
.home p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.home__notice-text {
  border-bottom: 1px solid;
  padding-bottom: 2rem;
}

* {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
