.Favorites
    display: flex
    flex-direction: column
    &__List
        list-style-type: none
        margin-top: 6vh
        padding: 0
        font-family: 'Source Sans Pro', sans-serif
        font-size: 25px
        &--title
            font-family: 'Source Sans Pro', sans-serif
            background: rgb(228, 228, 228)
            font-size: 20px
            height: 3.4vh
        &--elements
            border-bottom:  1px solid black
            width: 100vw
            height: 10vh
            padding: 3vh
            display: flex
        &--elements:hover
            background-color: gray
        &--xButton
            border: none
            background: none
            margin-right: 10px
        &--xImage
            border: none
            height: 2vh
        h1
            color: red
            font-size: 30px
    &__Spiner
        margin-top: 10vh
        margin-left: auto
        margin-right: auto
    
    

    
    
    

        