.Home
    height: 94vh
    background-color: gray
    margin-top: 6vh
    background-size: 160%
    background-image: url('./app/images/fondo.jpg')

    &__Selection
        display: flex
        background-color: white
        height: 15vh

        &--surf
            width: 50vw
            border:2px solid black
            text-align: center
        &--snow
            width: 50vw
            border: 2px solid black
            text-align: center


