.forecastInfoSnow
    margin-top: 6vh
    background: rgb(228, 228, 228)
    height: 100vh
    
    &__hour
        height: 89vh
        overflow: scroll
    h2
        padding-top: 1vh
        text-align: center
        font-family: 'Source Sans Pro', sans-serif
        font-size: 1.6rem
        font-weight: bold
        height: 3.5vh
    h4
        padding-top: 1vh
        text-align: center
        font-family: 'Source Sans Pro', sans-serif
        background: rgb(228, 228, 228)
        font-size: 20px
        height: 3.5vh
    &__hour
        margin-top: 2vh
        list-style-type: none
        margin: 0
        padding: 0
    &__list
        border-bottom:  1px solid black
        width: 100vw
        padding: 3vh
    &__overAllInfo
        color: red