ul
    list-style-type: none
    font-family: 'Source Sans Pro', sans-serif
    font-size: 25px
    border: 2px solid black
    width: 100vw
    height: 10vh
    padding: 5px

li
    display: flex
    justify-content: center

    
