.ul-spot-results
    list-style-type: none
    font-family: 'Source Sans Pro', sans-serif
    font-size: 25px
    width: 100vw
    height: 10vh
    padding: 5px
    display: flex
    justify-content: center
    padding: 3vh
    border: 2px solid black
    margin: 0.5vh
