<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utensilios de repostería - Tienda online María Lunarillos</title>
    <link rel="stylesheet" href="marialunarillos.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header__static-nav static-nav">
            <img class="static-nav__hamburger" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/burger_menu.png" alt="hamburger">
            <div class="static-nav__user">
                <img class="static-nav__user-icon" src="https://image.shutterstock.com/image-vector/user-icon-260nw-523867123.jpg" alt="user icon">
            </div>
            <div class="static-nav__but-menu  buy-menu">
                <img class="buy-menu__search" src="https://image.shutterstock.com/image-vector/magnifying-glass-search-icon-flat-260nw-738763579.jpg" alt="search icon">
                <img class="buy-menu__trolley" src="https://image.shutterstock.com/image-vector/vector-shopping-cart-icon-260nw-380655559.jpg" alt="cart icon">
                <p class="buy-menu__qty">0</p>
            </div>
        </div>

        <img class="main-header__logo" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo-small.svg" alt="logo marialunarillos">

    </header>

    <div class="slider-wrapper">
        <div class="slider-wrapper__images-display">
            <img class="slider-wrapper__images-display--first" src="https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5c2f5c969f181-png/1080X600.png" alt="" class="slider-wrapper__image-display--images">
            <img src="" alt="" class="slider-wrapper__image-display--images">
            <img src="" alt="" class="slider-wrapper__image-display--images">
            <div class="slider-wrapper__image-display">
                <div class="slide-wrapper_nav nav-list">
                    <input class="nav-list__slide" type="radio">
                    <input class="nav-list__slide" type="radio">
                    <input class="nav-list__slide" type="radio">
                    <input class="nav-list__slide" type="radio">
                    <input class="nav-list__slide" type="radio">
                    <input class="nav-list__slide" type="radio">
                    <input class="nav-list__slide" type="radio">
                    <input class="nav-list__slide" type="radio">
                    <input class="nav-list__slide" type="radio">
                    <input class="nav-list__slide" type="radio">
                    <input class="nav-list__slide" type="radio">
                    <input class="nav-list__slide" type="radio">
                </div>
            </div>

            <main>
                <div class="category">
                    <div class="category__header">
                        <img class="category__image-title" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png">
                        <h2 class="category__title">REPOSTERIA</h2>
                    </div>

                    <div class="category__images category__images--moldes">
                        <div class="item category__image--moldes-tablet">
                            <img class="item__image item__image--long" src="https://static3.marialunarillos.com/media/catalog/category/moldesnordic.jpg" alt="moldes">
                            <h2 class="item__title">MOLDES DE REPOSTERIA</h2>
                        </div>
                        <div class="item category__images--utensilios-tablet">
                            <img class="item__image item__image--wide" src="https://static3.marialunarillos.com/media/wysiwyg/utensiliosbasicos.jpg" alt="utilidades">
                            <h2 class="item__title">UTENSILIOS BÁSICOS</h2>
                        </div>
                        <div class="item category__images--pequeno-tablet">
                            <img class="item__image item__image--wide" src="https://static3.marialunarillos.com/media/wysiwyg/pequenoelectrodomestico2.jpg" alt="electrodomesticos">
                            <h2 class="item__title">PEQUEÑO ELECTRODOMÉSTICO</h2>
                        </div>
                        <div class="item category__images--capsulas-tablet">
                            <img class="item__image item__image--wide" src="https://static3.marialunarillos.com/media/wysiwyg/capsulas-cupcakes.jpg" alt="cupcakes">
                            <h2 class="item__title">CÁPSULAS PARA MAGDALENAS</h2>
                        </div>
                        <div class="item category__images--cajas-tablet">
                            <img class="item__image item__image--wide" src="https://static3.marialunarillos.com/media/wysiwyg/cajas3.jpg" alt="cajas">
                            <h2 class="item__title">CAJAS Y BASES</h2>
                        </div>
                        <div class="item category__images--cortadores-tablet">
                            <img class="item__image item__image--crop item__image--long" src="https://static3.marialunarillos.com/media/wysiwyg/cortadoresgalletas2.jpg" alt="contador">
                            <h2 class="item__title">CORTADORES DE GALLETAS</h2>
                        </div>
                        <div class="item category__images--ceramica-tablet">
                            <img class="item__image item__image--crop item__image--long" src="https://static3.marialunarillos.com/media/wysiwyg/stands.jpg" alt="ceraytex">
                            <h2 class="item__title">CERÁMICA Y TEXTIL</h2>
                        </div>
                        <div class="item category__images--banetones-tablet">
                            <img class="item__image item__image--wide" src="https://static3.marialunarillos.com/media/wysiwyg/banetones.jpg" alt="panones">
                            <h2 class="item__title">BANETONES PARA PAN</h2>
                        </div>
                        <div class="item category__images--toppers-tablet">
                            <img class="item__image item__image--wide" src="https://static3.marialunarillos.com/media/wysiwyg/toppers3.jpg" alt="toppers">
                            <h2 class="item__title">TOPPERS Y FIGURITAS</h2>
                        </div>
                    </div>
                    <button class="category__click">
                VER MÁS
            </button>

                    <div class="category ">
                        <div class="category__header">
                            <img class="category__image-title" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png">
                            <h2 class="category__title">INGREDIENTES</h2>
                        </div>

                        <div class="category__images category__images--ingredientes">
                            <div class="item category__image--fondant-tablet ">
                                <img class="item__image  item__image--crop item__image--long" src="https://static3.marialunarillos.com/media/wysiwyg/fondant2.jpg" alt="fondant">
                                <h2 class="item__title">FONDANT</h2>
                            </div>
                            <div class="item category__images--ingredientes-tablet">
                                <img class="item__image item__image--wide" src="https://static3.marialunarillos.com/media/wysiwyg/ingredientesreposteria.jpg" alt="ingredientesreposteria">
                                <h2 class="item__title">INGREDIENTES DE REPOSTERÍA</h2>
                            </div>
                            <div class="item category__images--impresion-tablet">
                                <img class="item__image item__image--wide " src="https://static3.marialunarillos.com/media/wysiwyg/impresionpersonalizada.jpg" alt="impresionpersonalizada">
                                <h2 class="item__title">IMPRESIÓN PERSONALIZADA</h2>
                            </div>
                            <div class="item category__images--colorantes-tablet">
                                <img class="item__image item__image--wide " src="https://static3.marialunarillos.com/media/wysiwyg/Colorantes-alimentarios.jpg" alt="Colorantes-alimentarios">
                                <h2 class="item__title">COLORANTES ALIMENTARIOS</h2>
                            </div>
                            <div class="item category__images--papel-tablet">
                                <img class="item__image item__image--wide" src="https://static3.marialunarillos.com/media/wysiwyg/papelcomestible.jpg" alt="nordic wtf dessert">
                                <h2 class="item__title">PAPEL COMESTIBLE</h2>
                            </div>
                            <div class="item category__images--sprinkles-tablet">
                                <img class="item__image item__image--crop item__image--long" src="https://static3.marialunarillos.com/media/wysiwyg/sprinkles3.jpg" alt="nordic wtf dessert">
                                <h2 class="item__title">SPRINKLES Y PURPURINAS</h2>
                            </div>
                        </div>
                        <button class="category__click">
                VER MÁS
            </button>

                        <div class="category ">
                            <div class="category__header">
                                <img class="category__image-title" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png">
                                <h2 class="category__title">FIESTAS</h2>
                            </div>

                            <div class="category__images category__images--fiestas">
                                <div class="item category__images--fiesta-tablet">
                                    <img class="item__image item__image--wide" src="https://static3.marialunarillos.com/media/wysiwyg/fiestastematicas.jpg" alt="nordic wtf dessert">
                                    <h2 class="item__title">FIESTAS TEMÁTICAS</h2>
                                </div>
                                <div class="item category__images--personajes-tablet">
                                    <img class="item__image item__image--wide" src="https://static3.marialunarillos.com/media/wysiwyg/fiestaspersonajes.jpg" alt="nordic wtf dessert">
                                    <h2 class="item__title">FIESTAS PERSONAJES</h2>
                                </div>
                                <div class="item category__images--accesorios-tablet">
                                    <img class="item__image item__image--crop item__image--long" src="https://static3.marialunarillos.com/media/wysiwyg/pompones.jpg" alt="nordic wtf dessert">
                                    <h2 class="item__title">ACCESORIOS PARA FIESTA</h2>
                                </div>

                                <button class="category__click">
                VER MÁS
            </button>
                            </div>

                            <div class="category">
                                <div class="category__header">
                                    <img class="category__image-title" src="https://static3.marialunarillos.com/media/wysiwyg/blog.svg">
                                    <h2 class="category__title">BLOG</h2>
                                </div>

                                <div class="category">
                                    <button class="category__click">
                        ULTIMAS ENTRADAS EN EL BLOG
                </button>
                                    <div class="category__blog-wrapper">
                                        <div class="item">
                                            <img class="item__image item__image--blog" src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/04/receta-muffins-starbucks-chocolate-1.jpg">
                                            <h2 class="item__description">MUFFINS DE CHOCOLATE TIPO STARBUCKS</h2>
                                        </div>
                                        <div class="item hidden">
                                            <img class="item__image item__image--blog" src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-brazo-frambuesa-dia-madre-0.jpg">
                                            <h2 class="item__description">BRAZO DE FRAMBUESA PARA EL DÍA DE LA MADRE</h2>
                                        </div>
                                        <div class="item hidden">
                                            <img class="item__image item__image--blog" src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-galletas-pims-naranja-1.jpg">
                                            <h2 class="item__description">GALLETAS PIM'S DE NARANJA</h2>
                                        </div>
                                    </div>
                                    <button class="category__click">
                    IR A BLOG
                </button>
                                    <div class="category">NUESTRAS MARCAS
                                        <div class="category__brands">
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Wilton_4.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Emile_Henry_2.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Silikomart_2.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Nordic_Ware_2.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Lekue_5.png" </div>

                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Valrhona_2.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Joseph_Joseph_2.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Squires_Kitchen_2.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/KitchenCraft_2.png" </div>
                                            <img class="item_image item_image--brands" </div>

                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/KitchenAid_1.png" </div>
                                            <img class="item_image item_image--brands" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/GreenGate_2.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Decora_1.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Kilner_1.png" </div>

                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Stadter_1.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Funcakes_1.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/House_of_Marie_1.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/Rainbow_Dust_1.png" </div>
                                            <img class="item_image item_image--brands" src="https://static3.marialunarillos.com/media/catalog/category/LorAnn_1.png" </div>

                                        </div>
                                    </div>
            </main>

            <footer class="contact">

            </footer>
            <div class="copyright">
                Copyright ©2020 María Lunarillos

            </div>
</body>

</html>