*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: sans-serif

.static-nav
    top: 0
    position: fixed
    width: 100%
    height: 50px 
    flex-direction: row
    display: flex
    justify-self: center
    justify-content: center
    background-color: white

.hidden
    display: none

.buy-menu__search
    width: auto
    height: 50px

.buy-menu__trolley
    width: auto
    height: 50px

.static-nav__user
    width: 150px
    height: 50px

    &=-icon
        transform: scale(0.25, 0.25)
        width: 50px
        height: 50px

.buy-menu__qty
    display: flex
    height: 50px
    width: 50px
    color: white
    background-color: red
    font-size: 20px 
    justify-content: center
    align-items: center

.static-nav__hamburger
    width: 30px
    height: 20px
    margin-top: 15px

.static-nav__but-menu
    display: flex

.nav-list
    justify-content: center
    display: flex


.main-header__logo
    display: flex
    align-self: left
    margin-top: 80px
    margin-bottom: 35px
    margin-left: 5%

.slider-wrapper
    width: 100px
    
    

.slider-wrapper__images-display--first
    object-fit: contain
    height: calc((145vw * 600.0) / 1080)
    width: 100vw

.nav-list__slide
    margin: 5px

    
.category
    justify-content: center
    display: flex
    flex-direction: column
    width: 100%

.category__header    
    margin-right: auto
    margin-left: auto
    margin-top: 50px
    margin-bottom: 50px
    
.category__image-title
    height: 125px
    padding-left: 30px
    

.category__title
    margin-right: auto
    margin-left: auto
    border: 3px solid black
    border-right: white
    border-left: white
    margin-top: 10px
    padding: 10px

.category__click
    display: flex
    margin-top: 20px
    margin-left: auto
    margin-right: auto
    width: 132px
    height: 57px
    background: #FF5959
    color: #fff
    text-transform: uppercase
    letter-spacing: 1px
    justify-content: center
    font-size: large

.main
    display: block
    scroll-behavior: auto

.category__title
    text-align: center

.item
    width: 325px
    margin-left: auto
    margin-right: auto

    &_image--brands
        transform: scale(0.5, 0.5)
        visibility: hidden

    &_image--brands
        filter: grayscale(100%)
        visibility: hidden

    &_image--brands:hover
        filter: grayscale(0%)
        visibility: hidden


    &__title
        background-color: rgba(255, 255, 255, 0.8)
        color: #67635F
        font-weight: 400
        font-size: 12px
        line-height: 50px
        margin-top: -95px
        padding-bottom: 20px
        padding-left: 20px
        padding-right: 20px
        padding-top: 20px
        width: 242px
        position: relative
        font-weight: bold

    &__description
        text-align: center

    &__image
        height: 136px
        width: 325px
        margin-bottom: 5px

        &--crop
             object-fit: cover

        &--blog
            width: 325px
            height: 487px
            margin-top: 20px
            margin-bottom: 20px



.contact
    margin-top: 30px
    margin-bottom: 20px
    height: 300px
    background-color:  grey
    width: 100%

.copyright
    width: 100%
    text-align: center
    line-height: 35px
    background: #FF5959
    height: 35px


.category__brands
    display: flexbox
    flex-wrap: wrap
    align-content: space-between
    justify-content: center
    width: 100vw
    visibility: hidden

@media only screen and (min-width: 620px)

    .category__images--utensilios

        display: grid
        grid-template-rows: repeat(6,170px)
        grid-template-columns:  repeat(3,200px)
        grid-gap: 7px
        margin-right: auto
        margin-left: auto   

    .category__images--ingredientes
        display: grid
        grid-template-rows: repeat(4,170px)
        grid-template-columns: repeat(3,200px)
        grid-gap: 7px
        margin-right: auto
        margin-left: auto  

    .category__images--fiestas
        display: grid
        grid-template-rows: repeat(2,170px)
        grid-template-columns: repeat(3,200px)
        grid-gap: 7px
        margin-right: auto
        margin-left: auto
    
    .item
        width: auto
    
    .item__image--long
        height: 350px
        width: 200px
        object-position: left
        object-fit: cover
    
    .item__image--wide
        height: 170px
        width: 408px
    
    .item
        object-fit: scale-down
        object-position: left

    .category__image--moldes-tablet
        grid-area: 1/1/3/1

    .category__images--utensilios-tablet
        grid-area: 1/2/1/4

    .category__images--pequeno-tablet
        grid-area: 2/2/2/4

    .category__images--capsulas-tablet
        grid-area: 3/1/3/3

    .category__images--cajas-tablet
        grid-area: 4/1/4/3

    .category__images--cortadores-tablet
        grid-area: 3/3/5/3

    .category__images--ceramica-tablet
        grid-area: 5/1/7/1

    .category__images--banetones-tablet
        grid-area: 5/2/5/4
    
    .category__images--toppers-tablet
        grid-area: 6/2/7/4
    
    .category__image--fondant-tablet
        grid-area: 1/1/3/1

    .category__images--ingredientes-tablet
        grid-area: 1/2/1/4

    .category__images--impresion-tablet
        grid-area: 2/2/2/4

    .category__images--colorantes-tablet
        grid-area: 3/1/3/3

    .category__images--papel-tablet
        grid-area: 4/1/4/3

    .category__images--sprinkles-tablet
        grid-area: 3/3/5/4

    .category__images--fiesta-tablet
        grid-area: 1/1/1/3

    .category__images--personajes-tablet
        grid-area: 2/1/4/3

    .category__images--accesorios-tablet
        grid-area: 1/3/3/4

    .category__blog-wrapper
        margin-left: auto
        margin-right: auto

@media only screen and (min-width: 992px)

    .category


    .slider-wrapper__images-display--first
        display: flex
        margin-left: auto
        margin-right: auto
        margin-top: 140px


    .category__images--utensilios
        display: grid
        grid-template-rows: repeat(6,260px)
        grid-template-columns:  repeat(3,310px)
        grid-gap: 7px
        margin-right: auto
        margin-left: auto   

    .category__images--ingredientes
        display: grid
        grid-template-rows: repeat(4,260px)
        grid-template-columns: repeat(3,310px)
        grid-gap: 15px
        margin-right: auto
        margin-left: auto  

    .category__images--fiestas
        display: grid
        grid-template-rows: repeat(2,260px)
        grid-template-columns: repeat(3,310px)
        grid-gap: 7px
        margin-right: auto
        margin-left: auto

    .item__image--long
        height: 520px
        width: 310px
        object-position: left
        object-fit: cover
    
    .item__image--wide
        height: 260px
        width: 620px

    .item_image--brands
        filter: grayscale(100%)

    .item_image--brands:hover
        filter: grayscale(0%)

    .category__brands
        display: flexbox
        flex-wrap: wrap
        align-content: space-between
        justify-content: center
        width: 100vw

    .hidden 
        display: grid
    
    .category__blog-wrapper
        grid-template-columns: 1fr 1fr 1fr
        display: grid
        grid-auto-columns: 3
        grid-gap: 15px



    .contact
        margin-top: 30px
        margin-bottom: 20px
        height: 300px
        background-color:  grey
        width: 100vw

    .copyright
        width: 100vw
        text-align: center
        line-height: 35px
        background: #FF5959
        height: 35px
