<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utensilios de repostería - Tienda online María Lunarillos</title>
    <link rel="stylesheet" href="maria2.css">

</head>

<body>
    <header class="main-header">
        <div class="main-header__static-nav">
            <img class="static-nav__menu" " src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/burger_menu.png " alt="menu ">
            <div class="static-nav__user ">
                <img class="static-nav__user-icon " src="https://image.shutterstock.com/image-vector/user-icon-260nw-523867123.jpg " alt="user icon ">
            </div>
            <div class="static-nav__but-menu buy-menu ">
                <img class="buy-menu__search " src="https://image.shutterstock.com/image-vector/magnifying-glass-search-icon-flat-260nw-738763579.jpg " alt="search icon ">
                <img class="buy-menu__trolley " src="https://image.shutterstock.com/image-vector/vector-shopping-cart-icon-260nw-380655559.jpg " alt="cart icon ">
                <p class="buy-menu__list ">0</p>
            </div>
        </div>

        <img class="main-header__logo " src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo-small.svg " alt="logo marialunarillos ">
    </header>
</body>

</html>