<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marialunarillos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="fixed-navigation-bar">
        <div class="fixed-navigation-bar__icons">
            
            <div class="fixed-navigation-bar__menu"></div>
            <div class="fixed-navigation-bar__menu--blue"></div>
            <div class="fixed-navigation-bar__menu--yellow"></div>
                
        </div>
        <div class="fixed-navigation-bar__user">
            <p>Entra|Registrate</p>
        </div>
        <ul class="fixed-navigation-bar__social">
            <li class="fixed-navigation-bar__twitter">T</li>
            <li class="fixed-navigation-bar__facebook">F</li>
            <li class="fixed-navigation-bar__instagram">I</li>
            <li class="fixed-navigation-bar__pinterest">P</li>
            <li class="fixed-navigation-bar__youtube">Y</li>
        </ul>
       
    </nav>
    <header class="header"></header>
    <section class="slider-bar"></section>
    <nav class="slider-bar__nav"></nav>
    <main>
        <section class="utensils"></section>
        <section class="ingredients"></section>
        <section class="partys"></section>
        <section class="blog"></section>
        <aside class="brands"></aside>
    </main>
    <nav class="navigation-bar-bottom"></nav>
    <footer class="footer-navigation">
        <div class="footer-navigation__copyrigth"></div>
    </footer>

</body>
</html>