<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marialunarillos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="fixed-navigation-bar">
        <div class="fixed-navigation-bar__icons">
            
            <div class="fixed-navigation-bar__menu"></div>
            <div class="fixed-navigation-bar__menu--blue"></div>
            <div class="fixed-navigation-bar__menu--yellow"></div>
                
        </div>
        <div class="fixed-navigation-bar__user">
            <p>Entra|Registrate</p>
        </div>
        <ul class="fixed-navigation-bar__social">
            <li class="fixed-navigation-bar__twitter">T</li>
            <li class="fixed-navigation-bar__facebook">F</li>
            <li class="fixed-navigation-bar__instagram">I</li>
            <li class="fixed-navigation-bar__pinterest">P</li>
            <li class="fixed-navigation-bar__youtube">Y</li>
        </ul>
        <span class="fixed-navigation-bar__buy">C</span>
        <span class="fixed-navigation-bar__number">0</span>
       
    </nav>
    <header class="header-container">
        <div class="header-container__main-menu">
            <img class="header-container__logo" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo.svg">
            <div class="header-container__label"></div>
            <div class="header-container__label--oferts"></div>
            <input class="header-container__text-box" type="text">
            <button>Search</button>
           
            <nav class="header-container__nav-container">
                <li class="header-container__link"></li>
                <li class="header-container__link"></li>
                <li class="header-container__link"></li>
                <li class="header-container__link"></li>
                
            </nav>
            <span class="header-container__blog"></span>

            

        </div>
    </header>
    <img class="display-tablet" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo-small.svg" alt="">
    <span class="link-text">Utensilios</span>
    <span class="link-text__ingredients">Ingredientes</span>
    <span class="link-text__partys">Fiestas</span>
    <span class="link-text__brands">Marcas</span>
    <span class="link-text__blog">Blog</span>

        
    <section class="slider-bar">
        <img class="slider-bar__image" src="https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5c2f5c6c4d1de-png/1080X600.png">
    </section>
    <nav class="slider-bar__nav"></nav>
    <main>
        <section class="utensils">
            <div class="utensils__header">
                <div class="utensils__icon">
                    <img class="utensils__image" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png"> 
                </div>
                <div class="utensils__tittle">
                    <h2>UTENSILIOS</h2>
                </div>
            </div>
            <article class="utensils__img-container">
                <div class="utensils__imgs">
                    <p class="horizontal_text"></p>
                    <img class="vertical-image" src="https://static3.marialunarillos.com/media/wysiwyg/moldesdereposteria.jpg" alt="">
                </div>
                <div class="utensils__imgs--2">
                    <img class="horizontal-image"src="https://static3.marialunarillos.com/media/wysiwyg/utensiliosbasicos.jpg" alt="">
                </div>
                <div class="utensils__imgs--3">
                    <img class="horizontal-image"src="https://static3.marialunarillos.com/media/wysiwyg/pequenoelectrodomestico2.jpg" alt="">
                </div>
                <div class="utensils__imgs--4">
                    <img class="horizontal-image"src="https://static3.marialunarillos.com/media/wysiwyg/capsulas-cupcakes.jpg" alt="">
                </div>
                <div class="utensils__imgs--5">
                    <img class="horizontal-image" src="https://static3.marialunarillos.com/media/wysiwyg/cajas3.jpg" alt="">
                </div>
                <div class="utensils__imgs--6">
                    <img class="vertical-image" src="https://static3.marialunarillos.com/media/wysiwyg/cortadoresgalletas2.jpg" alt="">
                </div>
                <div class="utensils__imgs--7">
                    <img class="horizontal-image" src="https://static3.marialunarillos.com/media/wysiwyg/banetones.jpg" alt="">
                </div>
                <div class="utensils__imgs--8">
                    <img class="horizontal-image" src="https://static3.marialunarillos.com/media/wysiwyg/toppers3.jpg" alt="">
                </div>
                <div class="utensils__imgs--9">
                    <img class="vertical-image" src="https://static3.marialunarillos.com/media/wysiwyg/stands.jpg" alt="">
                </div>
             </article>
             <span class="expand-menu">VER MAS</span>   
        </section>
        <section class="ingredients">
            <div class="ingredients__header">
                <div class="ingredients__icon">
                    <img class="ingredients__image" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png"> 
                </div>
                <div class="ingredients__tittle">
                    <h2>INGREDIENTES</h2>
                </div>
            </div>
            <article class="ingredients__img-container">
                <div class="ingredients__imgs">
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/fondant2.jpg" alt="">
                </div>
                <div class="ingredients__imgs--2">
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/ingredientesreposteria.jpg" alt="">
                </div>
                <div class="ingredients__imgs--3">
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/impresionpersonalizada.jpg" alt="">
                </div>
                <div class="ingredients__imgs--4">
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/Colorantes-alimentarios.jpg" alt="">
                </div>
                <div class="ingredients__imgs--5">
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/papelcomestible.jpg" alt="">
                </div>
                <div class="ingredients__imgs--6">
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/sprinkles3.jpg" alt="">
                </div>
            </article>
            <span class="expand-menu">VER MAS</span> 
        </section>
        <section class="partys">
            <div class="partys__header">
                <div class="partys__icon">
                    <img class="partys__image" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png"> 
                </div>
                <div class="partys__tittle">
                    <h2>FIESTAS</h2>
                </div>
            </div>
            <article class="partys__img-container">
                <div class="partys__imgs">
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/fiestastematicas.jpg" alt="">
                </div>
                <div class="partys__imgs--2">
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/fiestaspersonajes.jpg" alt="">
                </div>
                <div class="partys__imgs--3">
                    <img src="https://static3.marialunarillos.com/media/wysiwyg/pompones.jpg" alt="">
                </div>
            </article> 
            <span class="expand-menu">VER MAS</span>    
        </section>
        <section class="blog">
            <div class="blog__header">
                <div class="blog__icon">
                    <img class="blog__image" src="https://static3.marialunarillos.com/media/wysiwyg/blog.svg"> 
                </div>
                <div class="blog__tittle">
                    <h2>BLOG</h2>
                </div>
            </div>
            <article class="blog__img-container">
                <div class="blog__imgs">
                    <img class="blog__images--setup" src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-galletas-pims-naranja-1.jpg" alt="">
                </div>
                <div class="blog__imgs--2">
                    <img class="blog__images--setup" src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-panecillos-leche-0.jpg" alt="">
                    
                </div>
                <div class="blog__imgs--3">
                    <img class="blog__images--setup" src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-farinosa-cabello-angel-1.jpg" alt="">
                </div>
            </article>
            <span class="expand-menu">IR A BLOG</span>     
        </section>
        <aside class="brands">
            <div class="brands__header">
                <div class="brands__tittle">
                    <h2>MARCAS</h2>
                </div>
            </div>
            <article>
                <img class="brands__logo" src="https://images.all-free-download.com/images/graphicthumb/batman_9_132959.jpg" alt="">
            </article>
            <span class="expand-menu">VER MAS</span>
        </aside>
    </main>
    <nav class="navigation-bar-bottom">
        <span class="navigation-bar-bottom__icons">E</span>
        <span class="navigation-bar-bottom__icons">D</span>
        <span class="navigation-bar-bottom__icons">A</span>
        <span class="navigation-bar-bottom__icons">48</span>
    </nav>
        
    <footer class="footer-navigation">
        <div class="footer-navigation__social">Síguenos
            <div class="footer-navigation__bullet">FTPIY</div>
        </div>
        <div class="footer-navigation__suscribe">Recibe las novedades en tu Email:
            <span class="footer-navigation__button">VER MAS</span>
            <input class="footer-navigation__text-box" type="text">
            
        </div>
        <div class="footer-navigation__help" >
            <ul>
                <li>Contacto</li>
                <li>Sobre Nosotros</li>
                <li>Condiciones de venta</li>
            </ul>
        </div>
        <div class="footer-navigation__copyrigth"></div>
    </footer>

</body>
</html>