<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marialunarillos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="fixed-navigation-bar">
        <div class="fixed-navigation-bar__icons">
            
            <div class="fixed-navigation-bar__menu"></div>
            <div class="fixed-navigation-bar__menu--blue"></div>
            <div class="fixed-navigation-bar__menu--yellow"></div>
                
        </div>
        <div class="fixed-navigation-bar__user">
            <p>Entra|Registrate</p>
        </div>
        <ul class="fixed-navigation-bar__social">
            <li class="fixed-navigation-bar__twitter">T</li>
            <li class="fixed-navigation-bar__facebook">F</li>
            <li class="fixed-navigation-bar__instagram">I</li>
            <li class="fixed-navigation-bar__pinterest">P</li>
            <li class="fixed-navigation-bar__youtube">Y</li>
        </ul>
        <span class="fixed-navigation-bar__buy">C</span>
        <span class="fixed-navigation-bar__number">0</span>
       
    </nav>
    <header class="header-container">
        <div class="header-container__main-menu">
            <img class="header-container__logo" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo.svg">
            <div class="header-container__label"></div>
            <div class="header-container__label--oferts"></div>
            <input class="header-container__text-box" type="text">
            <button>Search</button>
           
            <nav class="header-container__nav-container">
                <li class="header-container__link"></li>
                <li class="header-container__link"></li>
                <li class="header-container__link"></li>
                <li class="header-container__link"></li>
                
            </nav>
            <span class="header-container__blog"></span>

            

        </div>
    </header>
    <span class="link-text">Utensilios</span>
    <span class="link-text__ingredients">Ingredientes</span>
    <span class="link-text__partys">Fiestas</span>
    <span class="link-text__brands">Marcas</span>
    <span class="link-text__blog">Blog</span>

        
    <section class="slider-bar">
        <img class="slider-bar__image" src="https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5c2f5c6c4d1de-png/1080X600.png">
    </section>
    <nav class="slider-bar__nav"></nav>
    <main>
        <section class="utensils">
            <div class="utensils__header">
                <div class="utensils__icon">
                    <img class="utensils__image" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png"> 
                </div>
                <div class="utensils__tittle">
                    <h2>UTENSILIOS</h2>
                </div>
            </div>
            <article class="utensils__img-container">
                
            </article>
        </section>
        <section class="ingredients"></section>
        <section class="partys"></section>
        <section class="blog"></section>
        <aside class="brands"></aside>
    </main>
    <nav class="navigation-bar-bottom"></nav>
    <footer class="footer-navigation">
        <div class="footer-navigation__copyrigth"></div>
    </footer>

</body>
</html>