/** variables **/
li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  /** top nav bar **/
}

.fixed-navigation-bar {
  background-color: blue;
  width: 100%;
  height: 50px;
  display: flex;
}
.fixed-navigation-bar__user {
  height: 50px;
  width: 158px;
  margin-left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed-navigation-bar__icons {
  height: 140px;
  width: 232px;
  display: flex;
  margin-left: 25%;
  flex-direction: row;
  justify-content: space-around;
}
.fixed-navigation-bar__menu {
  background-color: red;
  height: 140px;
  width: 80px;
}
.fixed-navigation-bar__menu--blue {
  background-color: blue;
  height: 70px;
  width: 70px;
}
.fixed-navigation-bar__menu--yellow {
  background-color: purple;
  height: 70px;
  width: 70px;
}
.fixed-navigation-bar__social {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  width: 275px;
  margin-top: 8px;
}
.fixed-navigation-bar__twitter {
  display: inline;
}
.fixed-navigation-bar__facebook {
  display: inline;
}
.fixed-navigation-bar__pinterest {
  display: inline;
}
.fixed-navigation-bar__instagram {
  display: inline;
}
.fixed-navigation-bar__youtube {
  display: inline;
}
.fixed-navigation-bar__buy {
  display: flex;
  height: 50px;
  width: 50px;
  margin-left: 8%;
  justify-content: center;
  align-items: center;
}
.fixed-navigation-bar__number {
  height: 50px;
  width: 50px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-text {
  display: inline;
  margin-left: 54%;
}
.link-text__blog {
  display: inline;
  margin-left: 79px;
}
.link-text__partys {
  display: inline;
  margin-left: 2%;
}
.link-text__brands {
  display: inline;
  margin-left: 3%;
}
.link-text__ingredients {
  display: inline;
  margin-left: 30px;
}

/** header **/
button {
  height: 28px;
  position: absolute;
  margin-top: 2%;
}

.header-container {
  background-color: yellow;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: end;
}
.header-container__main-menu {
  width: 1080px;
  height: 218px;
  display: flex;
  background-color: blue;
  align-self: end;
  margin-right: 18%;
  justify-content: end;
}
.header-container__text-box {
  height: 28px;
  width: 248px;
  position: absolute;
  margin-top: 2%;
  margin-right: 46px;
}
.header-container__blog {
  height: 100px;
  width: 100px;
  background-color: purple;
  align-self: end;
}
.header-container__logo {
  margin-right: auto;
}
.header-container__nav-container {
  width: 420px;
  height: 120px;
  background-color: yellow;
  display: flex;
  align-self: end;
  justify-content: space-around;
  margin-right: 30px;
}
.header-container__link {
  height: 100px;
  width: 100px;
  background-color: green;
  align-self: end;
}

/** slider **/
.slider-bar {
  background-color: orange;
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  margin-top: 40px;
  justify-content: center;
}
.slider-bar__nav {
  background-color: brown;
  width: 100%;
  height: 18px;
  position: relative;
  margin-top: 18px;
}

/** sections **/
.utensils {
  background-color: green;
  display: grid;
  width: 100%;
  margin-top: 150px;
  height: 2285px;
  display: flex;
}
.utensils__header {
  background-color: yellow;
  width: 1080px;
  height: 184px;
  margin-left: 20%;
}
.utensils__icon {
  height: 125px;
  width: 1080px;
  background-color: purple;
  position: absolute;
  top: 1080px;
  justify-content: center;
  display: flex;
}
.utensils__image {
  width: 92, 80px;
  height: 125px;
}
.utensils__tittle {
  height: 74px;
  width: 1080px;
  background-color: pink;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.utensils__img-container {
  width: 945px;
  height: 1360px;
  display: grid;
  background-color: purple;
}

.ingredients {
  background-color: green;
  display: grid;
  width: 100%;
  margin-top: 150px;
  height: 1655px;
}

.partys {
  background-color: green;
  display: grid;
  width: 100%;
  margin-top: 150px;
  height: 1025px;
}

.blog {
  background-color: green;
  display: grid;
  width: 100%;
  margin-top: 150px;
  height: 1137px;
}

.brands {
  background-color: green;
  display: grid;
  width: 100%;
  margin-top: 150px;
  height: 878px;
}

/** navigation bar bottom **/
.navigation-bar-bottom {
  width: 100%;
  height: 215px;
  margin-top: 150px;
  background-color: red;
}

/** footer navigation **/
.footer-navigation {
  width: 100%;
  height: 257px;
  background-color: purple;
  padding-top: 20px;
}

.footer-navigation__copyrigth {
  width: 100%;
  height: 50px;
  background-color: pink;
  margin-top: 257px;
}

/*# sourceMappingURL=style.css.map */
