extend App

block body

  section
    form(action='/add-contacts', method='POST')
      input(type='text', name='name', placeholder='John')
      input(type='text', name='surname', placeholder='Doe')
      input(type='text', name='email', placeholder='john@doe.com')
      input(type='text', name='phone', placeholder='655345234')
      input(type='date', name='birthdate', placeholder='01/01/1999')
      input(type='text', name='country', placeholder='US')
      button Submit
