extends App

include listContactsSearch
block body

  section.search-contacts
    form(action='/search-contacts', method='GET')
      input(name='q', placeholder='search', value=q )
      button Search
    if contacts
      +listContactsSearch(contacts)
