<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wireframe template Maria Lunarillos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <nav class="header-nav">
            <img class="header-nav__title-img" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo-small.svg">
            <ul class="header-nav__list">
                <li class="header-nav__list-link">
                    <a href="#utensils" class="header-nav__list-link-img">
                        <img class="header-nav__list-link-img-img" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png">
                        <span class="header-nav__list-link-img-text">Utensilios</span>
                    </a>
                </li>
                <li class="header-nav__list-link">
                    <a href="#ingredients" class="header-nav__list-link-img">
                        <img class="header-nav__list-link-img-img" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png">
                        <span class="header-nav__list-link-img-text">Ingredientes</span>
                    </a>
                </li>
                <li class="header-nav__list-link">
                    <a href="#parties" class="header-nav__list-link-img">
                        <img class="header-nav__list-link-img-img" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png">
                        <span class="header-nav__list-link-img-text">Fiestas</span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="header-box">
            <img class="header-box__img" src="https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5c2f5c2955721-png/1080X600.png">
        </section>
    </header>
    <main class="main">
        <section id="utensils" class="main-section">
            <h1 class="main-section__title">Utensilios</h1>
            <section class="main-section__subsection">
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Moldes de repostería</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/moldesdereposteria.jpg">
                </article>
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Utensilios básicos</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/utensiliosbasicos.jpg">
                </article>
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Pequeño electrodoméstico</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/pequenoelectrodomestico2.jpg">
                </article>
            </section>
            <section class="main-section__subsection main-section__subsection--reverse">
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Cápsulas para magdalenas</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/capsulas-cupcakes.jpg">
                </article>
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Cajas y bases</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/cajas3.jpg">
                </article>
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Cortadores de galletas</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/cortadoresgalletas2.jpg">
                </article>
            </section>
            <section class="main-section__subsection">
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Cerámica y téxtil</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/stands.jpg">
                </article>
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Banetones para pan</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/banetones.jpg">
                </article>
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Toppers y figuritas</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/toppers3.jpg">
                </article>
            </section>
            <button class="main-section__button">Ver más</button>
        </section>
        <section id="ingredients" class="main-section">
            <h1 class="main-section__title">Ingredientes</h1>
            <section class="main-section__subsection">
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Fondant</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/fondant2.jpg">
                </article>
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Ingredientes de repostería</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/ingredientesreposteria.jpg">
                </article>
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Impresión personalizada</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/impresionpersonalizada.jpg">
                </article>
            </section>
            <section class="main-section__subsection main-section__subsection--reverse">
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Colorantes alimentarios</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/Colorantes-alimentarios.jpg">
                </article>
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Papel comestible</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/papelcomestible.jpg">
                </article>
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Sprinkles y purpurinas</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/sprinkles3.jpg">
                </article>
            </section>
            <button class="main-section__button">Ver más</button>
        </section>
        <section id="parties" class="main-section">
            <h1 class="main-section__title">Fiestas</h1>
            <section class="main-section__subsection main-section__subsection--reverse">
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Fiestas temáticas</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/fiestastematicas.jpg">
                </article>
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Fiestas personajes</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/fiestaspersonajes.jpg">
                </article>
                <article class="main-section__subsection-article">
                    <p class="main-section__subsection-article-text">Accesorios para fiestas</p>
                    <img class="main-section__subsection-article-img" src="https://static3.marialunarillos.com/media/wysiwyg/pompones.jpg">
                </article>
            </section>
            <button class="main-section__button">Ver más</button>
        </section>
    </main>
    <footer class="footer">
        <section id="copyright" class="footer-copyright">Copyright ©2020 María Lunarillos</section>
    </footer>
</body>
</html>