body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.header {
    &-nav {
        &__title-img {
            height: 50px;
        }

        &__list {
            display: none;
        }
    }

    &-box {
        &__img {
            width: 100%;
        }
    }
}

.main {
    &-section {
        background-color: rgb(248, 248, 248);
        margin-top: 130px;
        margin-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;

        &__title {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            padding: 20px;
            margin-bottom: 60px;
            letter-spacing: 6px;
        }

        &__subsection {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3, auto);
            row-gap: 8px;
            margin-bottom: 8px;

            &-article {
                width: 100%;
                position: relative;
                height: 135px;
                overflow: hidden;
                
                &-text {
                    position: absolute;
                    padding: 20px;
                    opacity: 0.8;
                    background-color: white;
                    bottom: 0;
                    left: 0;
                    font-weight: bold;
                    margin: 0;
                }

                &-img {
                    width: 100%;
                }
            }
        }

        &__button {
            background-color: #FF5959;
            color: white;
            font-size: 1.2em;
            padding: 15px 30px;
            text-transform: uppercase;
            margin-top: 30px;
        }
    }
}