$color-primary: #FF5959;

body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.header {
    &-nav {
        &__title-img {
            height: 50px;
        }

        &__list {
            display: none;
        }
    }

    &-box {
        &__img {
            width: 100%;
        }
    }
}

.main {
    &-section {
        background-color: rgb(248, 248, 248);
        margin-top: 130px;
        margin-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;

        &__title {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            padding: 20px;
            margin-bottom: 60px;
            letter-spacing: 6px;
        }

        &__subsection {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3, auto);
            row-gap: 8px;
            margin-bottom: 8px;

            &-article {
                width: 100%;
                position: relative;
                height: 135px;
                overflow: hidden;
                
                &-text {
                    position: absolute;
                    padding: 20px;
                    opacity: 0.8;
                    background-color: white;
                    bottom: 0;
                    left: 0;
                    font-weight: bold;
                    margin: 0;
                }

                &-img {
                    width: 100%;
                }
            }
        }

        &__button {
            background-color: $color-primary;
            color: white;
            font-size: 1.2em;
            padding: 15px 30px;
            text-transform: uppercase;
            margin-top: 30px;
        }
    }
}

.footer {
    &-copyright {
        background-color: $color-primary;
        color: white;
        margin-top: 60px;
        padding: 15px 0px;
        text-transform: capitalize;
        text-align: center;
    }
}

@media all and (min-width: 768px) {
    .box {
       width: 200px;
       height: 300px;
    }
}
@media all and (min-width: 1024px) {
   .one {
       width: calc(100% - 40px);
       height: calc(25% - 40px);
   }
   .two {
       width: calc(30% - 40px);
       height: calc(25% - 40px);
   }
   .three {
       width: calc(30% - 40px);
       height: calc(25% - 40px);
   }
   .four {
       width: calc(30% - 40px);
       height: calc(25% - 40px);
   }
   .five {
       width: calc(20% - 40px);
       height: calc(25% - 40px);
   }
   .six {
       width: calc(20% - 40px);
       height: calc(25% - 40px);
   }
   .seven {
       width: calc(20% - 40px);
       height: calc(25% - 40px);
   }
   .eight {
       width: calc(20% - 40px);;
       height: calc(25% - 40px);
   }
   .nine {
       width: calc(100% - 40px);
       height: calc(25% - 40px);
   }

}