extend App

block body

  section.home
    h1 Welcome, #{username}!
    a.home__link(href='/contacts') Contacts
    a.home__link(href='/stickies') Stickies
    a.home__link(href='/users') Users
    form(action='/logout', method='POST')
      button Logout
