/* .slideshowContainer {
    box-sizing: border-box;
    max-width: 1000px;
    position:relative;
    margin:auto;

    &__albumsFade {
        display: none;
    }
} */

/* <section class="slideshowContainer">
            <section className="albumsFade">
                <section className="numbertext">1</section>
                <img src="album1.jpg" style="width:100%" />
                <section className="text">Album one</section>
            </section>

            <section className="albumsFade">
                <section className="numberalbum">2</section>
                <img src="album2.jpg" style="width:100%" />
                <section className="text">Album two</section>
            </section>

            <section className="albumsFade">
                <section className="numberalbum">3</section>
                <img src="album3.jpg" style="width:100%" />
                <section className="text">Album three</section>
            </section>

            <section className="albumsFade">
                <section className="numberalbum">4</section>
                <img src="album4.jpg" style="width:100%" />
                <section className="text">Album four</section>
            </section>

            <section className="albumsFade">
                <section className="numberalbum">5</section>
                <img src="album5.jpg" style="width:100%" />
                <section className="text">Album five</section>
            </section>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </section> */