
.placed
    position: absolute

/* TODO como conservar el tamaño y los atributos anteriores al cambiarlo a placed*/

.double-bed
    background-color: #FB5607
    width: 3vw
    height: 5vh
    transform-origin: center center

.single-bed
    // background: url(../images/single-bed.png)
    background-color: brown
    width: 2vw
    height: 5vh
    transform-origin: center center
