
.home 
    width: 100%
    min-height: 100vh
    height: fit-content
    margin-left: 0
    padding: 0
    background-color: #C16156

.navigation__text
    margin-left: 3%

.navigation__bar
    box-sizing: border-box

    &--upper
        display: inline-flex
        position: sticky
        color: white
        top: 0px
        width: 100%
        min-height: 5%
        height: fit-content
        background-color: salmon
        justify-content: space-around
        align-items: center
        flex-direction: row
        font-size: 1.5rem
        font-style: italic
        font-family: Georgia
        font-weight: bold
        justify-content: space-between
        border-style: solid
        border-width: 4vw
        border-color: salmon
        
.group__card
    &--preview
        width: 100%
        height: 100%
        background-color: #b3ccff
        background-color: #C16156
        color: red

.container
    width: 50%
    min-height: 5vh
    max-height: fit-content