.main {
  margin-top: 10rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.main__button {
  margin: 0.3rem 20%;
  background-color: #3366ff;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid blue;
  padding: 1rem 4rem;
}
.main__button:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

* {
  background-color: #99ccff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.landing {
  min-width: 375px;
  margin: 10%;
  border: 2px solid white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
}
.landing__a {
  margin: 0.5rem;
}
.landing__a:hover {
  text-shadow: -1px 1px 8px #FFF;
}

.login {
  min-width: 10rem;
  border: 5px solid white;
  border-radius: 1rem;
  margin: 10% 5%;
}
.login__title {
  text-align: center;
  color: white;
  padding: 1rem;
}
.login__form {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.login__input {
  padding: 0.5rem;
  margin: 0.3rem 20%;
  background-color: white;
  font-size: 1rem;
  text-align: center;
}
.login__button {
  margin: 0.3rem 20%;
  background-color: #3366ff;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid blue;
}
.login__button:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

a {
  text-align: center;
  font-size: 2rem;
}

.register {
  min-width: 10rem;
  border: 5px solid white;
  border-radius: 1rem;
  margin: 10% 5%;
}
.register__title {
  text-align: center;
  color: white;
  padding: 1rem;
}
.register__form {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}
.register__input {
  padding: 0.5rem;
  margin: 0.3rem 20%;
  background-color: white;
  font-size: 1rem;
  text-align: center;
}
.register__button {
  margin: 0.3rem 20%;
  background-color: #3366ff;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid blue;
}
.register__button:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

a {
  text-align: center;
  font-size: 2rem;
}

.search {
  min-width: 10rem;
  border: 5px solid white;
  border-radius: 1rem;
  margin: 10% 5%;
}
.search__form {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}
.search__input {
  padding: 0.5rem;
  margin: 0.3rem 10%;
  background-color: white;
  font-size: 1rem;
  text-align: center;
}
.search__button {
  margin: 0.3rem 20%;
  background-color: #3366ff;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid blue;
}
.search__button:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.feedback {
  color: green;
  text-align: center;
  font-size: 1.3rem;
}
.feedback--warning {
  color: orange;
}
.feedback--error {
  color: red;
}

.search {
  min-width: 10rem;
  border: 5px solid white;
  border-radius: 1rem;
  margin: 1rem 3rem;
  padding: 1rem 6rem;
}
.search__form {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}
.search__input {
  padding: 0.5rem;
  margin: 0.3rem 10%;
  background-color: white;
  font-size: 1rem;
  text-align: center;
}
.search__button {
  margin: 0.3rem 1rem;
  background-color: #3366ff;
  color: white;
  font-size: 1rem;
  padding: 1rem 3rem;
  border: 2px solid blue;
}
.search__button:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

a {
  font-size: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
