<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
        <div id="element-1" class="element">Cubo numero 1</div>
        <div id="element-2" class="element">Cubo numero 2</div>
        <div id="element-3" class="element">Cubo numero 3</div>
        <div id="element-4" class="element">Cubo numero 4</div>
        <div id="element-5" class="element">Cubo numero 5</div>
        <div id="element-6" class="element">Cubo numero 6</div>
        <div id="element-7" class="element">Cubo numero 7</div>
        <div id="element-8" class="element">Cubo numero 8</div>
        <div id="element-9" class="element">Cubo numero 9</div>
    
</body>
</html>