<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            box-sizing: border-box;
        }

        body {
            height: 100vh;
        }

        header, main, aside, footer {
            border: 1px solid black;
        }

        main {
            float: left;
            width: 80%;
        }

        main, aside {
            height: 70%;
        }

        header, footer {
            height: 15%;
        }
    </style>
</head>
<body>
    <header>HEADER</header>
    <main>MAIN</main><aside>ASIDE</aside>
    <footer>FOOTER</footer>

    <!--
        HEADER
        ------------------
        MAIN       | ASIDE
        ------------------
        FOOTER
    -->
</body>
</html>