.register
    @extend %panel

    color: #5B2C6F
    text-align: center
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    width: 100vw
    height: 100vh
    font-size: 0.7rem

    &__input
        display: flex
        flex-direction: column

    &__logo
        width: 50%

    &__checkbox
        text-align: start
        margin-bottom: 1rem
        font-size: 0.7rem
        width: 100%
    
    &__nav-button
        display: flex


    &__button
        background-color:#5B2C6F
        color: white
        border-radius: 10px
        font-size: 3vw
        padding: 0.5rem
        width: 15vw
    
    &__country
        display: flex
        border-radius: 0
        margin-bottom: 1rem
        width: 100%

    input
        margin-bottom: 1rem

    input[type=text], input[type=email], input[type=password]
        border: 0.05rem solid #A6ACAF
        border-radius: 5px
        width: 100%
        padding: 0.3rem
    
    h1
        margin-bottom: 1.5rem
        font-size: 1.5rem

    a
        text-decoration: none
        background-color: #5B2C6F
        color: white
        border-radius: 10px
        font-size: 3vw
        padding: 0.5rem

        &:visited
            color: white
    
    &__country
        overflow: auto
    
@media screen and ( min-width: 768px ) 
.register 
    align-items: center
    justify-content: space-evenly

    &__logo
        max-width: 168px
        width: 168px
    a
        max-width: 100px
        margin:10px
        width:120px
        font-size: 20px
    button
        max-width: 100px
        margin:10px
        width:120px
        font-size: 20px


@media screen and ( min-width: 1024px )  
.register
    maralign-items: center
    justify-content: space-evenly
    
    &__logo
        max-width: 168px
        width: 168px
    
    a
        max-width: 150px
        font-size:  20px
        margin:10px
        width:120px
        //font-size
    button
        max-width: 150px
        font-size:  20px
        margin:10px
        width:120px
        

