<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src= 'https://img.scryfall.com/cards/small/front/f/1/f11f2e82-4970-4298-a3a7-c42cb1780eb5.jpg?1585753632'></img>
    <img src= 'https://img.scryfall.com/cards/normal/front/f/1/f11f2e82-4970-4298-a3a7-c42cb1780eb5.jpg?1585753632'></img>
    <img src= 'https://img.scryfall.com/cards/large/front/f/1/f11f2e82-4970-4298-a3a7-c42cb1780eb5.jpg?1585753632'></img>
    <img src= 'https://img.scryfall.com/cards/png/front/f/1/f11f2e82-4970-4298-a3a7-c42cb1780eb5.png?1585753632'></img>
    <img src= 'https://img.scryfall.com/cards/art_crop/front/f/1/f11f2e82-4970-4298-a3a7-c42cb1780eb5.jpg?1585753632'></img>
    <img src= 'https://img.scryfall.com/cards/border_crop/front/f/1/f11f2e82-4970-4298-a3a7-c42cb1780eb5.jpg?1585753632'></img>
    <img src= 'http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=130483&type=card'></img>


</body>
</html>
