<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://static3.marialunarillos.com/media/favicon/default/favicon_1.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Replica</title>
  </head>

  <body>
    <section class="wrapper-page">
      <!-- <div class="smartbar">
            <p class="smartbar__content">
                ABIERTO ► ESTAMOS REALIZANDO ENVÍOS A PENÍNSULA CON NORMALIDAD
            </p>
            <p class="smartbar__x">X</p>
        </div> -->
      <div class="header">
        <div class="header__container-hamburger">
          <img class="header__container-icon" src="hamburger.png" alt="nav" />
        </div>
        <div class="header__container-user">
          <img class="header__container-icon" src="user.png" alt="user" />
        </div>
        <div class="header__container-search">
          <img class="header__container-icon" src="search.png" alt="" />
        </div>
        <div class="header__container-cart">
          <img class="header__container-icon" src="cart.png" alt="" />
        </div>
        <div class="header__container-items">
          <span class="header__container-items-letter"><b>0</b></span>
        </div>
      </div>
      <div class="logo">
        <img
          class="logo__image"
          src="https://cdn.discordapp.com/attachments/697707011567124520/698555550144790549/logo-maria.png"
          alt=""
        />
      </div>
      <section class="banner">
        <div class="banner__main">
          <!-- <div > -->
          <!-- <img class="banner-main__image" src="https://fakeimg.pl/2200x500/" alt="" /> -->
          <!-- </div> -->
        </div>
        <div class="banner-main__link">
          <a class="banner-main__link-pages" href="#"></a>
          <a class="banner-main__link-pages" href="#"></a>
          <a class="banner-main__link-pages" href="#"></a>
          <a class="banner-main__link-pages" href="#"></a>
          <a class="banner-main__link-pages" href="#"></a>
          <a class="banner-main__link-pages" href="#"></a>
          <a class="banner-main__link-pages" href="#"></a>
          <a class="banner-main__link-pages" href="#"></a>
          <a class="banner-main__link-pages" href="#"></a>
          <a class="banner-main__link-pages" href="#"></a>
          <a class="banner-main__link-pages" href="#"></a>
        </div>
      </section>
      <section class="main-wrapp">
        <div class="category">
          <div class="category__icon">
            <img
              src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png"
              class="category__icon-item"
            />
          </div>
          <div class="category__title">
            <div class="lines"></div>
            <h2>UTENSILIOS</h2>
            <div class="lines"></div>
          </div>
          <div class="category__description"></div>
        </div>
        <section class="image">
          <div class="image__item">
            <img
              class="image__item-img-ver"
              src="https://static3.marialunarillos.com/media/wysiwyg/moldesdereposteria.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img"
              src="https://static3.marialunarillos.com/media/wysiwyg/utensiliosbasicos.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img"
              src="https://static3.marialunarillos.com/media/wysiwyg/pequenoelectrodomestico2.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img"
              src="https://static3.marialunarillos.com/media/wysiwyg/capsulas-cupcakes.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img"
              src="https://static3.marialunarillos.com/media/wysiwyg/cajas3.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img-ver"
              src="https://static3.marialunarillos.com/media/wysiwyg/cortadoresgalletas2.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img-ver"
              src="https://static3.marialunarillos.com/media/wysiwyg/stands.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img"
              src="https://static3.marialunarillos.com/media/wysiwyg/banetones.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img"
              src="https://static3.marialunarillos.com/media/wysiwyg/toppers3.jpg"
            />
          </div>
        </section>
        <div class="widget-wrapper">
          <span class="widget-wrapper__container">
            <span class="widget-wrapper__item">VER MÁS</span>
          </span>
        </div>
        <div class="category">
          <div class="category__icon">
            <img
              src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png"
              class="category__icon-item"
            />
          </div>
          <div class="category__title">
            <div class="lines"></div>
            <h2>INGREDIENTES</h2>
            <div class="lines"></div>
          </div>
          <div class="category__description"></div>
        </div>
        <section class="image">
          <div class="image__item">
            <img
              class="image__item-img-ver"
              src="https://static3.marialunarillos.com/media/wysiwyg/moldesdereposteria.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img"
              src="https://static3.marialunarillos.com/media/wysiwyg/utensiliosbasicos.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img"
              src="https://static3.marialunarillos.com/media/wysiwyg/pequenoelectrodomestico2.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img"
              src="https://static3.marialunarillos.com/media/wysiwyg/capsulas-cupcakes.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img"
              src="https://static3.marialunarillos.com/media/wysiwyg/cajas3.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img-ver"
              src="https://static3.marialunarillos.com/media/wysiwyg/cortadoresgalletas2.jpg"
            />
          </div>
        </section>
        <div class="widget-wrapper">
          <span class="widget-wrapper__container">
            <span class="widget-wrapper__item">VER MÁS</span>
          </span>
        </div>
        <div class="category">
          <div class="category__icon">
            <img
              src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png"
              class="category__icon-item"
            />
          </div>
          <div class="category__title">
            <div class="lines"></div>
            <h2>FIESTAS</h2>
            <div class="lines"></div>
          </div>
          <div class="category__description"></div>
        </div>
        <div class="image">
          <div class="image__item">
            <img
              class="image__item-img-ver"
              src="https://static3.marialunarillos.com/media/wysiwyg/fiestastematicas.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img"
              src="https://static3.marialunarillos.com/media/wysiwyg/fiestaspersonajes.jpg"
            />
          </div>
          <div class="image__item">
            <img
              class="image__item-img-ver"
              src="https://static3.marialunarillos.com/media/wysiwyg/pompones.jpg"
            />
          </div>
        </div>
        <div class="category">
          <div class="category__icon">
            <img
              src="https://static3.marialunarillos.com/media/wysiwyg/blog.svg"
              class="category__icon-item"
            />
          </div>
          <div class="category__title">
            <div class="lines"></div>
            <h2>BLOG</h2>
            <div class="lines"></div>
          </div>
          <div class="category__description"></div>
        </div>
        <div class="widget-wrapper">
          <span class="blog__widget-container">
            <span class="blog__widget-title"> últimas ENTRADAS EN EL BLOG</span>
          </span>
        </div>
      </section>
      <section class="blog-1">
          <div class="blog__content-post">
            <div class="post__content-container">
              <img
                class="blog__content-img"
                src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-galletas-pims-naranja-1.jpg"
                title="Galletas Pim's de naranja"
                alt="Galletas Pim's de naranja"
              />
              <p class="post__content-title">GALLETAS PIM'S DE NARANJA</p>
              <div class="info-blog">
                <img
                  class="info-blog__img"
                  src="https://www.marialunarillos.com/blog/wp-content/uploads/userphoto/17.thumbnail.jpg"
                  alt=""
                />
                <p class="author">
                  <span>Por</span>
                  <span class="author__by">RAÚL</span>
                </p>
              </div>
            </div>
          </div>
      </section>
      <section class="blog-1">
        <div class="blog__content-post">
          <div class="post__content-container">
            <img
              class="blog__content-img"
              src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-galletas-pims-naranja-1.jpg"
              title="Galletas Pim's de naranja"
              alt="Galletas Pim's de naranja"
            />
            <p class="post__content-title">GALLETAS PIM'S DE NARANJA</p>
            <div class="info-blog">
              <img
                class="info-blog__img"
                src="https://www.marialunarillos.com/blog/wp-content/uploads/userphoto/17.thumbnail.jpg"
                alt=""
              />
              <p class="author">
                <span>Por</span>
                <span class="author__by">RAÚL</span>
              </p>
            </div>
          </div>
        </div>
    </section>
    <section class="blog-1">
      <div class="blog__content-post">
        <div class="post__content-container">
          <img
            class="blog__content-img"
            src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-galletas-pims-naranja-1.jpg"
            title="Galletas Pim's de naranja"
            alt="Galletas Pim's de naranja"
          />
          <p class="post__content-title">GALLETAS PIM'S DE NARANJA</p>
          <div class="info-blog">
            <img
              class="info-blog__img"
              src="https://www.marialunarillos.com/blog/wp-content/uploads/userphoto/17.thumbnail.jpg"
              alt=""
            />
            <p class="author">
              <span>Por</span>
              <span class="author__by">RAÚL</span>
            </p>
          </div>
        </div>
      </div>
    </section>
          <!-- <div class="post">
            <div class="post__content">
              <img
                class="post__content-img"
                src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-panecillos-leche-0.jpg"
                title="Galletas Pim's de naranja"
                alt="Galletas Pim's de naranja"
              />
              <p class="post__content-title">PACENILLOS DE LECHE</p>
              <div class="info-blog">
                <img
                  class="info-blog__img"
                  src="https://www.marialunarillos.com/blog/wp-content/uploads/userphoto/9.thumbnail.jpg"
                  alt=""
                />
                <p class="author">
                  <span>Por</span> 
                  <span class="author__by">MIRIAM</span>
                </p>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="post__content">
              <img
                class="post__content-img"
                src="https://www.marialunarillos.com/blog/wp-content/uploads/2020/03/receta-farinosa-cabello-angel-1.jpg"
                title="Galletas Pim's de naranja"
                alt="Galletas Pim's de naranja"
              />
              <p class="post__content-title">FARINOSA DE CABELLO DE ÁNGEL</p>
              <div class="info-blog">
                <img
                  class="info-blog__img"
                  src="https://www.marialunarillos.com/blog/wp-content/uploads/userphoto/17.thumbnail.jpg"
                  alt=""
                />
                <p class="author">
                  <span>Por</span> 
                  <span class="author__by">RAÚL</span>
                </p>
              </div>
            </div>
          </div> -->
        
      </section>
        <div class="widget-wrapper">
          <span class="widget-wrapper__container">
            <span class="widget-wrapper__item">ir al blog</span>
          </span>
        </div>
        <br />
      </section>
      <footer>
        <section class="footer-condicions">
            <div class="footer-condicions__icon">
                <div class="footer-condicions__icon-container">
                <img src="https://cdn0.iconfinder.com/data/icons/logistics-28/64/freeshippingtruckdelivery-512.png" class="footer-condicions__icon-truck">
                </div> <br>
                <p >ENVÍO GRATIS</p>
                <p class="footer-conditions__icon-subtitle">PEDIDOS SUPERIORES A 70</p>
            </div>
            <div class="footer-condicions__icon">
                <div class="footer-condicions__icon-container">
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/wall-clock-1440253-1217209.png" class="footer-condicions__icon-clock">
            </div> <br>
                <p>ENVÍO 24/48 HORAS</p>
            </div>
            <div class="footer-condicions__icon">
                <div class="footer-condicions__icon-container">
                <img src="https://cdn1.iconfinder.com/data/icons/emails-set/26/Mail-Reply-512.png" class="footer-condicions__icon-envelop">
            </div> <br>
                <p>DEVOLUCIONES</p>
            </div>
            <div class="footer-condicions__icon">
                <div class="footer-condicions__icon-container">
                <img src="https://cdn1.iconfinder.com/data/icons/emails-set/26/Mail-Reply-512.png" class="footer-condicions__icon-envelop">
            </div> <br>
                <p>CONTRA REEMBLOSO</p>
            </div>
        </section>

        <section class="social-media">
            <h1 class="social-media__title">Síguenos</h1>
            <div class="social-media__icon">
                <i class="fa fa-hashtag"></i>
                <i class="fa fa-hashtag"></i>
                <i class="fa fa-hashtag"></i>
            </div>
        </section>

        <hr>

        <section class="newsletter">
            <h1 class="newsletter__title">Recibe novedades en tu email</h1>
            <input type="email" name="email" id="" class="newsletter__input" placeholder="semedescuadratodo@css.com">
            <section class="see-more-btn">
                <button>SUSCRÍBETE ></button>
            </section>
        </section>


    </footer>
        <!-- <div class="condicions">
          <ul class="condicions__icon">
            <li class="condicions__icon-truck"></li>
            <li class="condicions__icon-hours"></li>
            <li class="condicions__icon-devolucions"></li>
            <li class="condicions__icon-card"></li>
          </ul>
        </div>
        <section class="social-media">
            <h1 class="social-media__title">Síguenos</h1>
            <div class="social-media__icon">
                <i class="fa fa-hashtag"></i>
                <i class="fa fa-hashtag"></i>
                <i class="fa fa-hashtag"></i>
            </div>
        </section>
        <hr>
        <div class="line"></div>
        <section class="newsletter">
            <h1 class="newsletter__title">Recibe novedades en tu email</h1>
            <input type="email" name="email" id="" class="newsletter__input" placeholder="semedescuadratodo@css.com">
            <section class="see-more-btn">
                <button>SUSCRÍBETE ></button>
            </section>
        </section> -->
    </section>
  </body>
</html>

