<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mosaic</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid-container">
        <div class="square red" id="n1">1</div>
        <div class="square blue" id="n2">2</div>
        <div class="square green" id="n3">3</div>
        <div class="square yellow" id="n4">4</div>
        <div class="square white" id="n5">5</div>
        <div class="square orange" id="n6">6</div>
        <div class="square red" id="n7">7</div>
        <div class="square green" id="n8">8</div>
        <div class="square blue" id="n9">9</div>
    </div>
</body>
</html>