.register
    border: 1px solid black
    display: inline-block
    border-radius: 5px
    background-color: #cae7c1
    text-align: center
.register form input
    margin-bottom: 4px
.register form button
    border: 1px solid black