.favorite
    background-color: #2a2a2a

    &__list
        width: 100vw
        display: flex
        list-style: none
        flex-direction: column
        justify-content: center
        align-items: center
    &__items
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 90vw
        border-bottom: 1px solid dodgerBlue
    &__artist
        width: 100vw
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        margin-top: 20px

    &__title
        display: flex
        justify-content: center
        align-items: center
        background-color: black
        color: white
        margin-top: 2px
        width: 100vw
    
    &__album
        width: 100vw
        display: flex
        align-items: center
        justify-content: space-around
        flex-wrap: wrap

    &__track
        width: 100vw
        display: flex
        align-items: center
        justify-content: space-around
        flex-wrap: wrap
    
    
    &__head-title
        margin-top: 40px
        text-align: center
        font-family: montserrat
        
    
    &__list
        display: flex
        list-style: none
        flex-direction: column
    &__items
        display: flex
        flex-direction: column
        margin-top: 20px
    &__title--artist
        display: flex

.album__img
    align-self: center
    padding: 1rem

img
    width: 100px
    height: 100px

.navbar
        top: 0
    


